<div class="position-relative">
    <div class="position-absolute start-0 top-0" style="margin-top: 2.3rem;margin-left: 0.5rem;">
        <span class="bi bi-filter" ></span>
    </div>
</div>
<select class="btn btn-outline-light w-100 text-start bs_sm bg-dark text-light ps-4" style="margin-top: 2rem;" name=""
>
    <option value="" disabled><a href="">Select a comparator</a></option>
    <option value=""><a href="">Bank Remittance</a></option>
    <option value=""><a href="">Bank Transfer</a></option>
    <option value=""><a href="">Cash</a></option>
    <option value=""><a href="">Check</a></option>
    <option value=""><a href="">Credit Card</a></option>
    <option value=""><a href="">Razorpay</a></option>
</select>