<div class="position-relative">
    <div style="margin-top: 2.6rem;" class="position-absolute end-0 top-0">
        <h4 style="color: rgb(43, 76, 226);" class="bi bi-dash-circle ts_sm_sm"
        hx-get="{% url 'empty_filter' %}"
        hx-target="#payment_reciedved_customize_sub_target{{ new_id }}"
        hx-trigger="click"
        ></h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xl-3">
        <p></p>
        <h6 class="pb-1 mb-0">Advanced Filters</h6>
        <div class="position-relative">
            <div class="position-absolute start-0 top-0" style="margin-top: 0.3rem;margin-left: 0.5rem;">
                <span class="bi bi-filter" ></span>
            </div>
        </div>
        <select class="btn btn-outline-light w-100 text-start bs_sm bg-dark text-light ps-4" name="select_{{ new_id }}"
        hx-get="{% url 'select_comparator' new_id %}"
        hx-target="#select_comparator_target{{ new_id }}"
        hx-trigger="change"
        >
            <option value="" disabled><a href="">Customer Payment</a></option>
            <option value="Payment Number"><a href="">Payment Number</a></option>
            <option value="Customer Name"><a href="">Customer Name</a></option>
            <option value="Date"><a href="">Date</a></option>
            <option value="Reference Number"><a href="">Reference Number</a></option>
            <option value="Payment Mode"><a href="">Payment Mode</a></option>
            <option value="Invoice#"><a href="">Invoice#</a></option>
            <option value="Applied Date"><a href="">Applied Date</a></option>
            <option value="Refund Amount (BCY)"><a href="">Refund Amount (BCY)</a></option>
            <option value="Amount (BCY)"><a href="">Amount (BCY)</a></option>
            <option value="Unused Amount (BCY)"><a href="">Unused Amount (BCY)</a></option>
        </select>
    </div>

    <div  class="col-sm-12 col-xl-1"></div>

    <div class="col-sm-12 col-xl-3">
        <div id="select_comparator_target{{ new_id }}"></div>
    </div>

    <div  class="col-sm-12 col-xl-1"></div>

    <div class="col-sm-12 col-xl-3">
        <div id="add_note_or_date_target{{ new_id }}"></div>
    </div>
</div>

