{% extends 'base.html' %}
{% load static %}
{% block content %}



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<style>
    select:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    #customer_sel option:hover {
        background-color: rgb(210, 132, 30);
    }

    .element-below-fixed {
        padding-top: 100px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .hide {
        display: none;
    }
    .modal{
      z-index: 9999;
      overflow: scroll;
    }
</style>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    function cancelDialog() {

        var frm = document.getElementById("forms");
        let customMsg = "Do you want to cancel?";

        if (confirm(customMsg)) {
            alert("Estimate cancelled!")
        }
    }



</script>



<section>
    <div  style="top: 7rem;">
        <div class="row  ml-2">
            <div class="col-md-3 "><a class="text-white" style="font-size: 1.5rem;"><i class="fa-solid fa-plus"></i> Add
                    Godown</a></div>
            

        </div>
         <div>
            <form method="POST" action="{% url 'save_godown' %}" class="p-5" enctype="multipart/form-data" novalidate
                id="forms" onreset="return confirm('Are you sure you want to cancel the data?');">
                {% csrf_token %}

                <div class="row mb-4 border-top pt-5">
                  <div class="col-sm-2"><label for="date">Date</label></div>
                  <div class="col-sm-6"> <input type="date" id="date" name="date" class="form-control text-dark"
                          style="height: 35px;" required></div>
              </div>
              <div class="row mb-4">
                <div class="col-sm-2"><label for="items">Item</label></div>
                <div class="col-sm-6">
                    <select class="form-control text-dark" id="items" name="item" required>
                        <option>Select Item</option>
                        {% for add in additem %}
                        <option value="{{add.id}}">{{add.Name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <a href="" data-toggle="modal" data-target="#newitem">
                        <i class="fa-solid fa fa-plus p-2 rounded" style="color: white; background-color: rgb(210, 132, 30); height: 37px;"></i>
                    </a>
                </div>
            </div>
            
            <div class="row mb-4" id="hsn_row" style="display: none;">
                <div class="col-sm-2"><label for="hsn">HSN</label></div>
                <div class="col-sm-6">
                    <input type="text" id="hsn" name="hsn" class="form-control text-dark" readonly>
                </div>
            </div>
            
            <div class="row mb-4" id="stockhand_row" style="display: none;">
                <div class="col-sm-2"><label for="stock">Stock in Hand</label></div>
                <div class="col-sm-6">
                    <input type="text" id="stock" name="stock" class="form-control text-dark" readonly>
                </div>
            </div>
            
                <div class="row mb-4">
                    <div class="col-sm-2"><label for="name">Godown Name</label></div>
                    <div class="col-sm-6"> <input type="text" id="name" name="name" class="form-control text-dark"
                            style="height: 35px;" required></div>
                </div>

                <div class="row mb-4">
                  <div class="col-sm-2"><label for="name">Address</label></div>
                  <div class="col-sm-6 ">
                    <textarea name="address" id="" cols="46.9" rows="3" style=" border:1px white solid;border-radius:5px;"
                      placeholder="&nbsp;Max 500 characters" required></textarea>
                  </div>
                </div>

                <div class="row mb-4"  >
                  <div class="col-sm-2"><label for="stockkeeping">Stock Keeping</label></div>
                  <div class="col-sm-6"><input type="number" id="stockkeeping" name="stockkeeping" class="form-control text-dark" oninput="validateStockKeeping(this);" >   
                    <div id="stockError" class="text-danger" required></div>
                  </div>
              </div>

              <div class="row mb-4" id="Kilometer" >
                <div class="col-sm-2"><label for="Kilometer">Kilometer(difference b/w company)</label></div>
                <div class="col-sm-6"><input type="number" id="Kilometer" name="Kilometer" class="form-control text-dark" required>   
                </div>
            </div>
                     
            <div class="row">
              <div class="-sm-12 col-md-6 col-lg-6">
                <input type="submit" class="btn text-white mt-5" style="background-color: rgb(214, 141, 5); "
                  name="convert_adjusted" value="Save">
                <input type="reset" class="btn text-white mt-5" style="background-color: rgb(214, 141, 5);" value="Cancel">
            
                <div class="-sm-12 col-md-6 col-lg-6"></div>
              </div>
            </form>
            

<!-- .................................................ITEM MODAL................................................. -->


<div class="modal fade" id="newitem">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
      <div class="modal-header " style="background: rgb(32, 35, 37);">
        <h3 class="m-3 text-uppercase">New Item</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background: rgb(32, 35, 37);">
        <div class="card p-3 m-3">
          <form action="" method="post" class="needs-validation" novalidate autocomplete="off" id="modalItem">
            <div class="row mt-2">
              <div class="col-md-4 mr-0">
                <label class="col-form-label col-sm-2 p-0">Type <i class="fa fa-question-circle"></i></label>
              </div>
              <div class="col-md-5 ml-0 d-flex">
                <div class="radio_opt mx-5 ">
                  <input type="radio" id="item_type1" name="radioOption" value="Goods" >
                  <label for="option1">Goods</label>
                </div>
                <div class="radio_opt mx-5 ">
                  <input type="radio" id="item_type2" name="radioOption" value="Services" >
                  <label for="option2">Services</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <label for="name" style="color: rgb(190, 88, 88);">Name *</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control text-dark bg-light" id="item_name" name="item_name" required>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3 ">
                <label for="units">Unit</label>
              </div>
              <div class="col-md-6">
                <div class="d-flex">
                  <select class="form-control text-dark bg-light" id="item_units" name="item_units" required>
                    <option value="">Select Unit</option>
                    {% for u in unit %}
                    <option value="{{u.id}}">{{u.unit}}</option>
                    {% endfor %}
                  </select>                
                  <a href="#" class="btn btn-outline-secondary py-2 my-1" data-target="#newunit" data-toggle="modal">+</a>  
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
              <label >HSN Code</label> 
              </div>
              <div class="col-md-6">
                <input required type="number" class="form-control text-dark bg-light" name="hsn" id="myInputField" oninput="validateInput()">
                <div id="validationResult"></div>
              </div>
            </div>
            <script>
              function validateSixDigits(field) {
                // Define the regular expression pattern for exactly six digits
                var pattern = /^\d{6}$/;
              
                // Check if the field matches the pattern
                return pattern.test(field);
              }
              
              function validateInput() {
                var inputField = document.getElementById("myInputField");
                var inputValue = inputField.value;
              
                var validationResultDiv = document.getElementById("validationResult");
              
                if (validateSixDigits(inputValue)) {
                  validationResultDiv.textContent = "Valid: The field contains exactly six digits.";
                } else {
                  validationResultDiv.textContent = "Invalid: The field does not contain exactly six digits.";
                }
              }
            
            </script>

            <div class="row mt-2">
              <div class="col-md-4 ">
                <label for="c_tax" style="color: rgb(190, 88, 88);">Tax Preference * </label>
              </div>
              <div class="col-md-5">
                <div class="d-flex">
                  <div class="radio_opt mx-5 mt-2">
                    <input type="radio" id="item-tax1" name="radioOption1" value="Taxable" >
                    <label for="option1">Taxable</label>
                  </div>
                  <div class="radio_opt mx-4 mt-2">
                    <input type="radio" id="item-tax2" name="radioOption1" value="Tax-exempt" >
                    <label for="option2">Tax-exempt</label>
                  </div>
                </div>
              </div>       
            </div>

            <div class="row mt-2 mb-4 d-none inter-intra" >
              <div class="col-md-3">
                <label for="intra">Intra-State TAX</label>
              </div>
              <div class="col-md-3">
                <select name="intra" class="form-control text-dark bg-light" id="intra">
                  <option value="">Select GST</option>

                  <option value="GST0[0%]">GST0[0%]</option>
                  <option value="GST5[5%]">GST5[5%]</option>
                  <option value="GST12[12%]">GST12[12%]</option>
                  <option value="GST18[18%]">GST18[18%]</option>
                  <option value="GST28[28%]">GST28[28%]</option>
                </select>             
              </div>

              
              <div class="col-md-2">
                <label for="inter">Inter-State TAX</label>
              </div>
              <div class="col-md-3">
                <select name="inter" class="form-control text-dark bg-light" id="inter">
                  <option value="">Select IGST</option>

                  <option value="IGST0[0%]">IGST0[0%]</option>
                  <option value="IGST5[5%]">IGST5[5%]</option>
                  <option value="IGST12[12%]">IGST12[12%]</option>
                  <option value="IGST18[18%]">IGST18[18%]]</option>
                  <option value="IGST28[28%]">IGST28[28%]</option>
                </select>               
              </div>
              <div class="col-md-1"></div>

            </div>
            
            <hr>

            <div class="row mt-5 text-center">
              <div class="col-md-6 d-flex text-center">
                <input  type="checkbox" name="selling" checked class="mx-2 my-0">
                <h6 class="m-0">Selling Information</h6>
              </div>
              <div class="col-md-6 d-flex text-center">
                <input  type="checkbox" name="purchase" checked class="mx-2 my-0">
                <h6 class="m-0">Purchase Information</h6>
              </div>
            </div>
            
            <div class="row mt-4">
              <div class="col-md-2">
                <label for="sell_price">Selling Price *</label>
              </div>
              <div class="col-md-4">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">INR</div>
                  </div>
                  <input required type="text" class="form-control text-dark bg-light" name="sell_price" id="sell_price">
                </div>                  
              </div>

              <div class="col-md-2">
                <label for="cost_price">Cost Price *</label>
              </div>
              <div class="col-md-4 ">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">INR</div>
                  </div>
                  <input required type="text" class="form-control text-dark bg-light" name="cost_price" id="cost_price">
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-2">
                  <label for="vcity">Account</label>
              </div>
              <div class="col-md-4">
                  <select name="sell_acc" id="sell_acc" class="form-control text-dark bg-light">
                      <option value="">Select Account</option>
                      {% for s in sale %}
                          <option value="{{s.id}}">{{ s.Account_name }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="col-md-2">
                  <label for="cost_acc">Account</label>
              </div>
              <div class="col-md-4">
                  <div class="input-group"> <!-- Use input-group for better alignment -->
                      <select name="cost_acc" class="form-control text-dark bg-light" id="cost_acc">
                          <option value="">Select Account</option>
                          {% for p in purchase %}
                              <option value="{{p.id}}">{{ p.Account_name }}</option>
                          {% endfor %}
                      </select>
                      <div class="input-group-append">
                          <a href="" data-toggle="modal" data-target="#add_sale">
                              <button type="button" class="btn btn-secondary" style="width: 4rem; height: 3vw;">Add</button>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          
          

            <div class="row mt-2">
              <div class="col-md-2">
                <label for="sell_desc">Description</label>
              </div>
              <div class="col-md-4">
                <input  type="text" name="sell_desc" class="form-control text-dark bg-light"  id="sell_desc">
              </div>

              <div class="col-md-2">
                <label for="cost_desc">Description</label>
              </div>
              <div class="col-md-4 ">
                <input  type="text" name="cost_desc" class="form-control text-dark bg-light"  id="cost_desc">
              </div>

            </div>
            <fieldset class="form-group">
              <div class="row">
                <label class="col-form-label col-sm-2 pt-3">Activation tag<i class="fa fa-question-circle"></i></label>
                <div class="col-sm-10 form-inline">
                  <div class="form-check ">
                    <input required class="form-check-input" type="radio" name="status" id="gridRadios1" value="Active"  style="margin-left:5px;" >
                    <label class="form-check-label" for="gridRadios1">Activate</label>
                  </div>
                  <div class="form-check ml-5">
                    <input required class="form-check-input" type="radio" name="status" id="gridRadios2" value="Inactive" style="margin-left:50px;">
                    <label class="form-check-label" for="gridRadios2">Non-Activate</label>
                  </div>
                    
                </div>
              </div>
            </fieldset>
              <br><br>
              <div class="row" >
                <div class="col-md-10">
                  {% comment %} <label><input type="checkbox" value="trackstate" name="trackstate" onclick="toggleForm()" style="display: none;">
                 Track Inventory for this item</label> {% endcomment %}
                  {% comment %} <input type="hidden" name="trackState" id="trackState" value="" unchecked> {% endcomment %}
                  <label>
                    <input type="checkbox" name="trackstate" value="trackstate" class=" bg-dark"  onclick="toggleFormFields()">
                    Track Inventory for this item
                  </label>
                  <div id="formFields" style="display: none;"> 
                    <div class="form-group row" >
                      <label class="col-sm-2 col-form-label">Inventory Account *</label>
                      <div class="col-sm-10 col-md-7 col-9" style="margin-left: -1rem;">
                        <select class="form-select form-select-sm mt-3" name="invacc" id="invacc">
                          <option>Choose..</option>
                          <option value="inventory assets">Inventory Asset</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row ">
                      <label class="col-sm-2 col-form-label">Opening Stock</label>
                      <div class=" col-md-5">
                        <input  type="number" class="form-control  text-dark bg-light"  name="openstock" id="stocks" value="0">
                      </div>
                      <div class="col-md-5  ">
                        <div class="row align-items-center">
                          <label class="col-sm-6 col-form-label">Opening Stock Rate per Unit</label>
                          <div class="col-sm-6">
                            <input type="number" class="form-control text-dark bg-light" name="inventoryaccntperunit" id="inventoryaccntperunit"  value="0">
                          </div>

                        </div>
                      </div>
                      <fieldset class="form-group">
                        <div class="row">
                          <label class="col-form-label col-sm-2 pt-2">Activation tag<i class="fa fa-question-circle"></i></label>
                          <div class="col-sm-10 form-inline">
                            <div class="form-check ">
                              <input  class="form-check-input" type="radio" name="satus" id="gridRadios1" value="Active"  style="margin-left:5px;" >
                              <label class="form-check-label" for="gridRadios1">Activate</label>
                            </div>
                            <div class="form-check ml-5">
                              <input  class="form-check-input" type="radio" name="satus" id="gridRadios2" value="Inactive"  style="margin-left:50px;">
                              <label class="form-check-label" for="gridRadios2">Non-Activate</label>
                            </div>
                                        
                          </div>
                        </div>
                      </fieldset>

                    </div>
                  </div>
                </div>
              </div>
              <script>
                function toggleFormFields() {
                  var formFields = document.getElementById("formFields");
                  var checkbox = document.querySelector("input[name=trackstate]");
            
                  if (checkbox.checked) {
                    formFields.style.display = "block";
                  } else {
                    formFields.style.display = "none";
                  }
                }
              </script>
              <br><br> <br>

            {% comment %} <div class="row mt-3">
                <div class="col-md-6">
                  <input type="checkbox" value="" id="invalidCheck" name="invalidCheck" required>
                  <label for="invalidCheck" style="color: #909091;">Agree to terms and conditions</label>
                  <div class="invalid-feedback text-warning" >You must agree before submitting.</div>
                </div>
            </div> {% endcomment %}
            <div class="row ">
              <div class="col-md-5"></div>
              <div class="col-md-3">
                <div class="d-flex">
                  <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3"
                      type="submit" data-dismiss="modal" id="itemSave">Submit
                  </button> 

                  <button type="button" class="close btn save_btn rounded-pill text-grey w-50 my-4" 
                    data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">Cancel</span>
                  </button>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
        </div>
      </div>
      </div>
  </div>  
</div>  


          
          
          
          <!-- ....................................................  END ITEM MODAL................................. -->

<!-- ............................................unit modal............................................ -->

 <div class="modal fade" id="newunit">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
      <div class="modal-header " style="background: rgb(32, 35, 37);">
          <h3 class="m-3 text-uppercase">Add Unit</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" style="background: rgb(32, 35, 37);">
        <div class="card p-3 m-3">
          <form action="" method="post" class="needs-validation" novalidate autocomplete="off" id="modalUnit">
            <div class="row mt-2">
              <div class="col-md-3 mt-2"></div>
              <div class="col-md-1 mt-2">
                <label for="unit" style="color: rgb(190, 88, 88);">Unit</label>
              </div>

              <div class="col-md-4 mt-2">
                <input type="text" class="form-control text-dark bg-light" id="unit" name="unit" required>
              </div>
              <div class="col-md-4 mt-2"></div>
            </div>
            
            <div class="row mt-5">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="d-flex">
                  <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3"
                  type="submit" data-dismiss="modal" id="unitSave">Save
                  </button> 
                  

                  <button type="button" class="close btn save_btn rounded-pill text-grey w-50 my-4" 
                    data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">Cancel</span>
                  </button>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>  


<!-- ............................................  END UNIT MODAL..................................................... -->
<!-- ............................................   Sales MODAL..................................................... -->

<div class="rowmt-5 modal " id="add_sale">
  <div class="modal-dialog modal-md modal-dialog-centered "  role="document">
    <div class="modal-content modal-md bg-dark" style="background-color: #191c24;">
      <div class="card bg-dark">
        <div class="card-body bg-dark" >
          
            <button type="button" class="close text-light bg-dark" data-dismiss="modal" aria-label=""
              style="background-color: #191c24;border:none; float: right; font-size: 20px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-info bg-dark" style="font-size: 20px;font-weight: 600;" id="heads2">Add Sale</div>
            <form style="margin-top: 3rem;" action="{% url 'add_sales_godown' %}" method="post">
              {% csrf_token %}
              <label class="text-light" >Accout type</label> <br>
              <input  required type="text" class="form-control bg-light text-dark" name="acc_type" id=""> <br>
              <label class="text-light" >Accout Name</label> <br>
              <input required type="text" class="form-control bg-light text-dark" name="acc_name" id=""> <br>
              <label class="text-light" >Accout Code</label> <br>
              <input type="text" class="form-control bg-light text-dark" name="acc_code" id=""> <br>
              <label class="text-light" >Accout Description</label> <br>
              <input type="text" class="form-control bg-light text-dark" name="acc_desc" id=""> <br> <br>
              <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                  <input  style="width: 5rem; height: 2rem; color: black;" class="btn btn-success" type="submit"  value="submit">
                </div>
              </div>
              
            
            </form>
            
        </div>
      </div>
  </div>
</div>

</div>
         <!-- ............................................  END SALES MODAL..................................................... -->     
               <script>
                function resetForm() {
                  document.getElementById("Form").reset();
                }
              </script>
                
        </div>
    </div>

   

</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
    

  

<script>
$(document).on("click","#unitSave",function(){
  $.ajax({
    type : 'POST',
    url:"{% url 'godownmodal_unit' %}",
    data:{
        unit : $("#unit").val(),                
        csrfmiddlewaretoken: '{{ csrf_token }}'        
      },    
      success: function(response) {
        document.getElementById("modalUnit").reset();
        reloadUnit();
      },
  });        
});

</script>
<script>
function reloadUnit() {

  $.ajax({
    url: "{% url 'godownunit_dropdown' %}",
    type: "GET",
    dataType: "json",
    data: $(this).serialize(),
    csrfmiddlewaretoken: '{{ csrf_token }}',

    success: function(data) {
      var dropdown = $('#item_units');
      dropdown.empty();

      $.each(data, function(key, value) {
          dropdown.append($('<option></option>').attr('value', key).text(value[0]).val(value[1]));
      });
    },
    error: function(xhr, status, error) {
    console.error(xhr.responseText);
    }
  });
}

</script>


<script>
  // Get references to the relevant elements
  var itemsDropdown = document.getElementById('items');
  
  // Add an event listener to the dropdown to listen for changes
  itemsDropdown.addEventListener('change', function () {
      // Check if the selected value is not empty
      if (itemsDropdown.value !== '') {
          // If a value is selected, show the HSN row and text input
          document.getElementById('hsn_row').style.display = 'flex';
          document.getElementById('stockhand_row').style.display = 'flex';
      } else {
          // If no value is selected, hide both rows
          document.getElementById('hsn_row').style.display = 'none';
          document.getElementById('stockhand_row').style.display = 'none';
      }
  });
</script>



    <script>
      const addNewReasonBtn = document.getElementById('addNewReasonBtn');
      const reasonDiv = document.getElementById('reasonDiv');
      const cancelBtn = document.getElementById('cancelBtn');


      addNewReasonBtn.addEventListener('click', () => {
        reasonDiv.style.display = 'block';
        addNewReasonBtn.style.display = 'none'
      });

      cancelBtn.addEventListener('click', (e) => {
        e.preventDefault();
        reasonDiv.style.display = 'none';
        addNewReasonBtn.style.display = 'block';
        reasonInput.value = '';
      });
    </script>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Get references to the relevant elements
        const itemsDropdown = document.getElementById('items');
        const hsnInput = document.getElementById('hsn');
        const stockhandInput = document.getElementById('stock');
    
        // Add an event listener to the dropdown to listen for changes
        itemsDropdown.addEventListener('change', function () {
          const selectedItemId = itemsDropdown.value;
    
          // Send an AJAX request to fetch HSN and Stock in Hand values
          if (selectedItemId !== '') {
            fetch(`/get_item_info/${selectedItemId}/`)  // Replace with your Django URL for fetching item info
              .then(response => response.json())
              .then(data => {
                hsnInput.value = data.hsn;
                stockhandInput.value = data.stock;
              })
              .catch(error => {
                console.error('Error fetching item info:', error);
              });
          } else {
            // Clear the inputs if no item is selected
            hsnInput.value = '';
            stockhandInput.value = '';
          }
        });
      });
    </script>



    <script>
      function validateStockKeeping(input) {
          var stockInput = document.getElementById('stock');
          var stockError = document.getElementById('stockError');
          
          var stockKeepingValue = parseInt(input.value);
          var stockValue = parseInt(stockInput.value);
          
          if (stockKeepingValue > stockValue) {
              stockError.textContent = 'Stock Keeping cannot be greater than Stock in Hand.';
              stockError.style.display = 'block';
          } else {
              stockError.textContent = ''; // Clear the error message
              stockError.style.display = 'none';
          }
      }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>



   // item modal

   $(document).ready(function() {

$("#item-tax1").click(function() {
  $(".inter-intra").removeClass('d-none');
  $(".inter-intra").addClass('d-flex');
});

$("#item-tax2").click(function() {

  $(".inter-intra").removeClass('d-flex');
  $(".inter-intra").addClass("d-none");
});
});


$(document).on("click","#itemSave",function(){

stock = $('#stocks').val();
console.log(stock);
console.log('stock');

if ($('input[name="radioOption"]:checked').val() == 'Goods'){

    itemtype = $('#item_type1').val();
  }
else{
  itemtype = $('#item_type2').val();
}

if ($('input[name="radioOption1"]:checked').val() == 'Taxable'){
    inter_st = $('#inter').val();
    intra_st = $('#intra').val();
  }
else{
  inter_st = 0;
  intra_st = 0;
}

if ($('input[name="radioOption"]:checked').val() == 'Goods'){

  itemtype = $('#item_type1').val();
}
else{
itemtype = $('#item_type2').val();
}

$.ajax({
  type: 'POST',
  url: "{% url 'add_modalgodown' %}",
  data: {
      type: itemtype,
      name: $("#item_name").val(),
      unit: $("#item_units").val(),
      hsn: $("#myInputField").val(),
      inter: inter_st,
      intra: intra_st,
      sell_price: $("#sell_price").val(),
      cost_price: $("#cost_price").val(),
      sell_acc: $("#sell_acc").val(),
      cost_acc: $("#cost_acc").val(),
      sell_desc: $("#sell_desc").val(),
      cost_desc: $("#cost_desc").val(),
      invacc: $("#invacc").val(),
      stock: $("#stocks").val(),
      rate: $("#inventoryaccntperunit").val(),
      csrfmiddlewaretoken: '{{ csrf_token }}'
  },
 success: function (data) {
    console.log("AJAX request was successful.");
    console.log("Response data:", data);

    // Assuming that 'data' contains the new item details, you can append a new option.
    var newItemOption = $('<option value="' + data.id + '">' + data.Name + '</option>');
    $('#items').append(newItemOption);
},

});
});



function reloadItem() {
  $.ajax({
    url: "{% url 'godownunit_dropdown' %}",
    type: "GET",
    dataType: "json",
    data: $(this).serialize(),
    csrfmiddlewaretoken: '{{ csrf_token }}',

    success: function(data) {
      var dropdown = $('.itm');
      var dropdown1 = $('.itmm');
      dropdown.empty();
      dropdown1.empty();
      $.each(data, function(key, value) {
        dropdown.append($('<option class="text-dark"></option>').attr('value', key).text(value[0]).val(value[1]));
        dropdown1.append($('<option class="text-dark"></option>').attr('value', key).text(value[0]).val(value[1]));
      });

    },
    error: function(xhr, status, error) {
    console.error(xhr.responseText);
    }
  });
}


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock %}