{% extends 'base.html' %}
{% load static %}
{% block content %}
    

  <div class="row   " >
   
    <div class="col-md-12 " >
        <h3  class="mb-3  text-white  " style="font-size: 2rem;">New item</h3>     
    
        <form action="{% url 'additem_challan' %}" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="row">
                  <label class="col-form-label col-sm-2 pt-0">Type <i class="fa fa-question-circle"></i></label>
                  <div class="col-sm-10 form-inline">
                    <div class="form-check ">
                      <input required class="form-check-input" type="radio" name="type" id="gridRadios1" value="Goods" >
                      <label class="form-check-label" for="gridRadios1">
                        Goods
                      </label>
                    </div>
                    <div class="form-check ml-5">
                      <input required class="form-check-input" type="radio" name="type" id="gridRadios2" value="Services">
                      <label class="form-check-label" for="gridRadios2">
                       Services
                      </label>
                    </div>
                   
                  </div>
                </div>
              </fieldset>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Name *</label>
              <div class="col-sm-10 col-md-7 col-9" style="margin-left: -2.2rem;">
                <input required type="text" class="form-control bg-light text-dark" name="name">
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Unit <i class="fa fa-question-circle"></i></label>
              <div class="col-sm-10 col-md-7 col-9" style="margin-left: -2.2rem;">
                <select  name="unit" class="form-control bg-light text-dark ">
                    
                   {% for u in unit %}
                   <option value="{{u.id}}">{{u.unit}}</option>
                   {% endfor %}
                  </select> 
                    
                 </div>
              
                 <a href="" data-toggle="modal" data-target="#add_unit"><div style="width: 6rem;" type="button" class="btn btn-secondary">Ad Unit</div></a>
                 
            </div>
   
  <section>

    <div class="row">
      <div class="col-sm-12">
        <label class="text-danger mb-3 mr-3" for="">Tax Preference  :</label>
      </div>
    </div>
    <div class="row mb-3 mr-3">
      <div class="col-sm-12">
        
        <input type="radio"  name="radio" value="tax" onclick="showAllSelect()">
        <label for="">Taxable</label> &nbsp;&nbsp;&nbsp;
        <input type="radio" name="radio" value="none" onclick="hideAllSelect()">
        <label for="">None-Taxable</label>
 
        
      </div>
    </div>

  <div class="row mb-3">
    <div class="col-md-3 ">
      
  <div id="select1_div" style="display: none;">
    <label for="select1">Intra-State TAX</label>
    <select name="intra" class="form-control bg-light text-dark" id="select1">
      <option value="GST0[0%]">GST0[0%]</option>
      <option value="GST5[5%]">GST5[5%]</option>
      <option value="GST12[12%]">GST12[12%]</option>
      <option value="GST18[18%]">GST18[18%]</option>
      <option value="GST28[28%]">GST28[28%]</option>
    </select>
  </div>

  
    </div>
    <div class="col-md-3">
      <div id="select2_div" style="display: none;">
        <label for="select2">Inter-State TAX</label>
        <select name="inter" class="form-control bg-light text-dark" id="select2">
          <option value="IGST0[0%]">IGST0[0%]</option>
          <option value="IGST5[5%]">IGST5[5%]</option>
          <option value="IGST12[12%]">IGST12[12%]</option>
          <option value="IGST18[18%]">IGST18[18%]]</option>
          <option value="IGST28[28%]">IGST28[28%]</option>
        </select>
      </div>
    </div>
  </div>


<script>
function showAllSelect() {
  var select1_div = document.getElementById("select1_div");
  var select2_div = document.getElementById("select2_div");
  select1_div.style.display = "block";
  select2_div.style.display = "block";
}

function hideAllSelect() {
  var select1_div = document.getElementById("select1_div");
  var select2_div = document.getElementById("select2_div");
  select1_div.style.display = "none";
  select2_div.style.display = "none";
}
</script>



  </section>

            <section>
                <div class="row">
                        <div class="col-md-6">
                            <input  type="checkbox" name="selling" checked> <label >selling  information</label>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Selling price *</label>
                                <div class="col-sm-10 col-md-7 col-9 ml-5">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">INR</div>
                                        </div>
                                        <input required type="text" name="sel_price" class="form-control bg-light text-dark">
                                      </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Account *</label>
                                <div class="col-sm-10 col-md-7 col-9 ml-5">
                                    <select name="sel_acc" class="form-control bg-light text-dark">
                                      {% for account_type in account_type %}
                                      <option value="" disabled class="btn btn-dark text-white"><b>{{ account_type }}</b></option>
                                          {% for account in account %}
                                              {% if account.Account_type == account_type %}
                                                <option value="{{account.id}}">{{ account.Account_name }}</option>
                                                  {% endif %}
                                                   {% endfor %}
                                                         
                                                {% endfor %}

                                      </select>                                </div>
                                      <a href="" data-toggle="modal" data-target="#add_account"><div style="width: 6rem;" type="button" class="btn btn-secondary">Ad Acount</div></a>

                              </div>
                              <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Description </label>
                                <div class="col-sm-10 col-md-7 col-9 ml-5">
                                  <input required  type="text" name="sel_desc" class="form-control bg-light text-dark" >
                                </div>
                              </div>
                             
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" name="purchase" checked> <label for="">Purchase information</label>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Cost Price *</label>
                                <div class="col-sm-10 col-md-7 col-9">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">INR</div>
                                        </div>
                                        <input required type="text" class="form-control bg-light text-dark" name="cost_price" >
                                      </div>
                                </div>
                              </div>
                              <div class="form-group row in">
                                <label  class="col-sm-2 col-form-label">Account *</label>
                                <div class="col-sm-10 col-md-7 col-9">

<script>
  
</script>
                          
            <select name="cost_acc" class="form-control bg-light text-dark">               
                   {% for account_type in account_types %}
                     <option value="" disabled class="btn btn-dark text-white"><b>{{ account_type }}</b></option>
                         {% for account in accounts %}
                             {% if account.Account_type == account_type %}
                               <option value="{{account.id}}">{{ account.Account_name }}</option>
                                 {% endif %}
                                  {% endfor %}
                                        
                               {% endfor %}

                                    </select>  
                                   

                                     </div>
                                                   
                                                   <a href="" data-toggle="modal" data-target="#add_sale"><div style="width: 6rem;" type="button" class="btn btn-secondary">Ad Account</div></a>
                              </div>
                              <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Description </label>
                                <div class="col-sm-10 col-md-7 col-9">
                                  <input  type="text" name="cost_desc" class="form-control bg-light text-dark"  >
                                </div>
                              </div>
                        </div>
                </div>
            </section>
           
          <div class="form-inline">
      <input type="submit"  class="mr-3 btn btn-success"  value="Save">
      <input type="submit" class="btn btn-secondary but" value="Cancel">
          </div>
          </form>


          
<!-- ============================ modal for account adding  -->


<div class="rowmt-5 modal " id="add_account">
    <div class="modal-dialog modal-md modal-dialog-centered "  role="document">
      <div class="modal-content modal-md bg-dark" style="background-color: #191c24;">
        <div class="card bg-dark">
          <div class="card-body bg-dark" >
            
              <button type="button" class="close text-light bg-dark" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info bg-dark" style="font-size: 20px;font-weight: 600;" id="heads2">Add Account</div>
              <form style="margin-top: 3rem;" action="{% url 'add_account_challan' %}" method="post">
                {% csrf_token %}
                <label class="text-light" >Accout type</label> <br>
                <input required  type="text" class="form-control bg-light text-dark" name="acc_type" id=""> <br>
                <label  class="text-light" >Accout Name</label> <br>
                <input required type="text" class="form-control bg-light text-dark" name="acc_name" id=""> <br>
                <label class="text-light" >Accout Code</label> <br>
                <input type="text" class="form-control bg-light text-dark" name="acc_code" id=""> <br>
                <label class="text-light" >Accout Description</label> <br>
                <input type="text" class="form-control bg-light text-dark" name="acc_desc" id=""> <br> <br>
                
                <div class="row">
                  <div class="col-sm-12" style="text-align: center;">
                    <input  style="width: 5rem; height: 2rem; color: black;" class="btn btn-success" type="submit"  value="submit">
                  </div>
                </div>
          
              </form>
              
          </div>
        </div>
    </div>
  </div>
  </div>

  <div class="rowmt-5 modal " id="add_unit">
    <div class="modal-dialog modal-md modal-dialog-centered "  role="document">
      <div class="modal-content modal-md bg-dark" style="background-color: #191c24;">
        <div class="card bg-dark">
          <div class="card-body bg-dark" >
            
              <button type="button" class="close text-light bg-dark" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info bg-dark" style="font-size: 20px;font-weight: 600;" id="heads2">Add Unit</div>
              <form style="margin-top: 3rem;" action="{% url 'add_unit_challan' %}" method="post">
                {% csrf_token %}
                <label class="text-light" >Unit</label> <br>
                <input required  type="text" class="form-control bg-light text-dark" name="unit_name" id=""> <br>
               
                <br>

                <p class="text-light" disabled>eg:KL,PCS,BOX,LTR</p> <br>
                <div class="row">
                  <div class="col-sm-12" style="text-align: center;">
                    <input  style="width: 5rem; height: 2rem; color: black;" class="btn btn-success" type="submit"  value="submit">
                  </div>
                </div>
    
                
             </form>
              
          </div>
        </div>
    </div>
  </div>
  </div>

  <div class="rowmt-5 modal " id="add_sale">
    <div class="modal-dialog modal-md modal-dialog-centered "  role="document">
      <div class="modal-content modal-md bg-dark" style="background-color: #191c24;">
        <div class="card bg-dark">
          <div class="card-body bg-dark" >
            
              <button type="button" class="close text-light bg-dark" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info bg-dark" style="font-size: 20px;font-weight: 600;" id="heads2">Add Sale</div>
              <form style="margin-top: 3rem;" action="{% url 'add_sales_challan' %}" method="post">
                {% csrf_token %}
                <label class="text-light" >Accout type</label> <br>
                <input  required type="text" class="form-control bg-light text-dark" name="acc_type" id=""> <br>
                <label class="text-light" >Accout Name</label> <br>
                <input required type="text" class="form-control bg-light text-dark" name="acc_name" id=""> <br>
                <label class="text-light" >Accout Code</label> <br>
                <input type="text" class="form-control bg-light text-dark" name="acc_code" id=""> <br>
                <label class="text-light" >Accout Description</label> <br>
                <input type="text" class="form-control bg-light text-dark" name="acc_desc" id=""> <br> <br>
                <div class="row">
                  <div class="col-sm-12" style="text-align: center;">
                    <input  style="width: 5rem; height: 2rem; color: black;" class="btn btn-success" type="submit"  value="submit">
                  </div>
                </div>
                
              
              </form>
              
          </div>
        </div>
    </div>
  </div>

  </div>
 



{% endblock %}