{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .item-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.add,
.remove {
    cursor: pointer;
    margin-left: 5px;
}

.highlight {
    background-color: #f0f0f0;
}
    .custom-container {
        background-color: black;
        color: white;
    }

    .custom-list-group .custom-list-item {
        color: white;
        border: none;
        margin-bottom: 10px;
        cursor: pointer;
        /* Add cursor style for links */
    }
    .highlight {
        
        color: #eeebeb; /* Updated text color for better visibility */
    }

    .custom-list-group .list-group-item.active {
        background-color: #343a40;
    }

    .custom-content {
        padding: 20px;
    }

    /* Custom styles for left column */
     .left-column {
        background-color: rgba(rgb(235, 221, 221));
        color: white;
        padding: 20px;
        height: 50vh;
        overflow-y: auto;
        /* Add scroll if needed */
        width: 250px; 
         /* Set the width of the left column */
    } 

    /* Custom styles for right column */
    .right-column {
        padding: 20px;
        flex: 1;
        /* Take the remaining width */
    }

    /* Flexbox layout for row */
    .row-container {
        display: flex;
    }

    #dateRangePicker {
        background-color: rgb(5, 5, 5);
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        color: black;
        /* Set the text color to black */
    }

    #reportrange .fa-caret-down {
        color: rgb(11, 11, 11);
    }

    .daterangepicker .ranges li {
        color: black;
    }

    .active-link {
        color: #0b07ff;
        /* Change to the desired active link color */
    }

    /* Additional styles for show/hide columns */
    .item-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .add,
    .remove {
        cursor: pointer;
        margin-left: 5px;
    }

    .highlight {
        background-color: #f0f0f0;
    }
    #close-button {
        position: fixed;
        top: 100px;
        right: 70px;
    }



    .column-transfer {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #060606;
        border-radius: 5px;
        flex-direction: row; /* Add this line to set flex direction to row */
    }
    .col-md-6 {
        flex: 1; /* Make both columns take equal space */
    }
    .column-list {
        background-color: rgb(4, 4, 4);
        padding: 10px;
     
        border-radius: 5px;
        max-height: 300px;
        overflow-y: auto;
    }

    .transfer-button {
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .search-input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-right: 10px;
  color: #060606;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.item-list {
  list-style: none;
  margin-top: 10px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.items:last-child {
  border-bottom: none;
}

.add,
.remove {
  color: rgb(234, 221, 221);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.items:hover .add,
.items:hover .remove {
  display: inline-block;
}
.highlight {
    background-color: #f0f0f0;
}
.highlight {
    background-color: #dcdcdc; /* Use a darker shade for better visibility */
    color: black; /* Set the text color to black for better contrast */
}

</style>

<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Place the close button here -->
            <a href="{% url "bill_details" %}" class="btn btn-light" id="close-button" style="color:  rgb(1, 1, 1);">
                <i class="fa fa-times-circle"></i>
            </a>
        </div><br>
    </div>
    <div class="row row-container">
        <div class="col-md-3 left-column">
            <div class="custom-list-group">
                <a class="custom-list-item" data-target="general">
                    General
                </a>
                <br>
                <br>
                <br>
                <a class="custom-list-item" data-target="columns">
                    Show/Hide Columns
                </a>
            </div>
        </div>
        <div class="col-md-9 right-column">
            <div id="general" class="custom-content">
                <h2 style="color: aliceblue;">General </h2>
                <div> 
                    <label for="dateRangePicker" style="color: beige;">As of:</label>
                    <input type="text" id="reportrange" class="form-control" style=" background-color: black;  width: 18vw; white-space: nowrap;">
                </div><br>
                <div class="col-6">
                    <label for="ReportBy" style="color: beige;">Report By:</label>
                    <div class="select-box">
                        <select class="form-control" name="sel1" style=" background-color: black;  width: 15vw; white-space: nowrap;">
                            <option value="">Bill Date</option>
                            <option value="">Bill Due Date</option>
                        </select>
                    </div>  
                </div><br>
                <div class="col-6">
                    <label for="ReportBy" style="color: beige;">Group By:</label>
                    <div class="select-box">
                        <select class="form-control" name="sel1" style=" background-color: black;  width: 15vw; white-space: nowrap;">
                            <option value="">None</option>
                        </select>
                    </div>  
                </div><br>
                <div>                  
                    <label for="select-all">Bill Status:</label>
                    <br>
                    <div class="dropdown">
                        <input type="text" class="form-control dropdown-toggle" placeholder="" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: black; width: 15vw; white-space: nowrap;">
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><input type="checkbox" id="select-all">All</li>
                            <li><input type="checkbox" class="checkbox" value="draft">Draft</li>
                            <li><input type="checkbox" class="checkbox">Open</li>
                            <li><input type="checkbox" class="checkbox">Overdue</li>
                            <li><input type="checkbox" class="checkbox">Unpaid</li>
                            <li><input type="checkbox" class="checkbox">Partially Paid</li>
                            <li><input type="checkbox" class="checkbox">Paid</li>
                            <li><input type="checkbox" class="checkbox">Void</li>
                        </ul>
                    </div>
                </div><br> 
                <div id="textboxes" class="col-sm">
                    <!-- Textboxes will be added here -->
                </div>
                <button id="addTextboxes" class="btn btn-primary">+</button>
            </div>
            <div id="columns" class="custom-content" style="display: none;">
                <div class="row column-transfer">
                <!-- Show/Hide Columns section -->
                <div class="row">
                    <div class="col-md-6" id="originalColumn"
                        style="height: 70vh; width:25vw; overflow-y:auto; border: 1px solid #ccc; position: relative; padding-right: 15px;">
                        <h2 style="color: white; position: sticky; top: 0; background-color: #000000;">Available Column</h2>
                        <div class="search-bar" style="position: sticky; top: 40px;">
                            <input type="text" id="searchInput" class="search-input" placeholder="Search items">
                            <span class="search-icon">&#128269;</span>
                        </div>
                        <ul class="item-list" style="color: #eeebeb;">
                           
                            <li><u>Reports</u></li>
                            <li class="items"><span class="item-text">Bill Balance(BCY)</span> <span class="add add-remove-buttons">+</span></li>
                            <li class="items"><span class="item-text">Excess Payments(BCY)</span> <span class="add add-remove-buttons">+</span></li>
                            <li><u>Contacts</u></li>
                            <li class="items"><span class="item-text">Company Name</span><span class="add add-remove-buttons">+</span></li>
                            <li class="items"><span class="item-text">First Name</span><span class="add add-remove-buttons">+</span></li>
                            <li class="items"><span class="item-text">Last NAme</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Website</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Vendor Email</span><span
                                    class="add">+</span></li>
                            <li class="items"><span class="item-text">Mobile Phone</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Work Phone</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Department</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Designation</span><span class="add">+</span></li>
                        </ul>
                    </div>
                   
                    <div class="col-md-6" id="addedColumn" style="height: 70vh; width:25vw; overflow-y:auto; border: 1px solid #ccc; position: relative; padding-right: 15px;">
                        
                        <h2 style="color: white;">Selected Column</h2>
                        <ul class="item-list" style="color: #eeebeb;">
                            <li class="items"><span class="item-text ">Vendor Name</span><span class="remove">-</span>
                                <li class="items"><span class="item-text">Bill Balance(FCY)</span><span class="remove">-</span>
                                    <li class="items"><span class="item-text">Excess Payments(FCY)</span><span class="remove">-</span>
                            <li class="items"><span class="item-text">Balance(FCY)</span><span class="remove">-</span>
                              <li class="items"><span class="item-text">Balance(BCY)</span><span class="remove">-</span>                            
                        </ul>
                   
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" name="" value="">Run Report</button>
                        <a href="">cancel</a>
                    </div> 
               
                </div><br><br>
                <!-- End Show/Hide Columns section -->
            </div>
        </div>
       
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
     const links = document.querySelectorAll(".custom-list-item");
     const contents = document.querySelectorAll(".custom-content");
     
       
 
         links.forEach((link, index) => {
             link.addEventListener("click", () => {
                 links.forEach(link => {
                     link.classList.remove("active-link");
                 });
                 link.classList.add("active-link");
                 contents.forEach(content => {
                     content.style.display = "none";
                 });
                 const targetId = link.getAttribute("data-target");
                 const targetContent = document.getElementById(targetId);
                 targetContent.style.display = "block";
             });
         });
 //logic for show/hide columns
 const originalAvailableItems = document.querySelectorAll("#originalColumn .items");
       const originalAddButtons = document.querySelectorAll("#originalColumn .add");
       const selectedItems = document.querySelector("#addedColumn .item-list");
       const addedRemoveButtons = document.querySelectorAll("#addedColumn .remove");
       const searchInput = document.getElementById("searchInput");
       const searchIcon = document.querySelector(".search-icon");
 
       const itemIds = {}; // Map of item text to unique identifier
 
       originalAddButtons.forEach((button, index) => {
         button.addEventListener("click", () => {
           const itemText = originalAvailableItems[index].querySelector(".item-text").textContent;
           const itemId = `selected-${itemText}`; // Unique identifier
           itemIds[itemText] = itemId;
           const listItem = document.createElement("li");
           listItem.className = "items";
           listItem.innerHTML = `<span class="item-text">${itemText}</span> <span class="remove">-</span>`;
           listItem.setAttribute("data-item-id", itemId); // Set the unique identifier
           selectedItems.appendChild(listItem);
           originalAvailableItems[index].style.display = "none";
 
           const removeButton = listItem.querySelector(".remove");
           removeButton.addEventListener("click", () => {
             selectedItems.removeChild(listItem);
             originalAvailableItems[index].style.display = "flex";
           });
         });
       });
 
       addedRemoveButtons.forEach((button) => {
         button.addEventListener("click", () => {
           const selectedItem = button.parentNode;
           const itemText = selectedItem.querySelector(".item-text").textContent;
           const itemId = itemIds[itemText]; // Get the unique identifier
 
           const listItem = document.createElement("li");
           listItem.className = "items";
           listItem.innerHTML = `<span class="item-text">${itemText}</span> <span class="add">+</span>`;
           listItem.setAttribute("data-item-id", itemId); // Set the unique identifier
 
           originalAvailableItems[0].parentNode.insertBefore(listItem, originalAvailableItems[0]);
           selectedItems.removeChild(selectedItem);
 
           const addButton = listItem.querySelector(".add");
           addButton.addEventListener("click", () => {
             selectedItems.appendChild(selectedItem);
             originalAvailableItems[0].parentNode.removeChild(listItem);
           });
         });
       });
 
       searchInput.addEventListener("input", () => {
     const searchTerm = searchInput.value.toLowerCase();
     originalAvailableItems.forEach(item => {
         const itemText = item.querySelector(".item-text").textContent.toLowerCase();
         if (itemText.includes(searchTerm)) {
             item.style.display = "flex";
             if (searchTerm !== "") {
                 item.classList.add("highlight");
             } else {
                 item.classList.remove("highlight");
             }
         } else {
             item.style.display = "none";
             item.classList.remove("highlight");
         }
     });
 
     selectedItems.querySelectorAll(".items").forEach(item => {
         const itemText = item.querySelector(".item-text").textContent.toLowerCase();
         if (itemText.includes(searchTerm)) {
             item.style.display = "flex";
             if (searchTerm !== "") {
                 item.classList.add("highlight");
             } else {
                 item.classList.remove("highlight");
             }
         } else {
             item.style.display = "none";
             item.classList.remove("highlight");
         }
     });
 });
 
        // Initialize date range picker
        $('#dateRangePicker').daterangepicker({
             ranges: {
                 'Today': [moment(), moment()],
                 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                 'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                 'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                 'This Month': [moment().startOf('month'), moment().endOf('month')],
                 'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                 'Previous Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                 'Previous Quarter': [moment().subtract(3, 'months').startOf('quarter'),moment().subtract(3, 'months').endOf('quarter')]
             }
         }, function (start, end, label) {
             // Callback function when a date range is selected
             console.log('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
         });
     
     });
     
 </script>
 
 <script>
     $(function() {
     
       var start = moment().subtract(29, 'days');
       var end = moment();
     
       function cb(start, end,label) {
           $('#reportrange span').text(label);
           $('#selectedEndDate').text('As of'+'  '+end.format('MMMM D, YYYY'));
         }
         
     
         var daterangepickerOptions ={
           startDate: start,
           endDate: end,
           ranges: {
             'Today': [moment(), moment()],
              'This Week': [moment().startOf('week'), moment().endOf('week')],
              'This Month': [moment().startOf('month'), moment().endOf('month')],
              'This Quarter': [moment().startOf('quarter'), moment().endOf('quarter')],
              'This Year': [moment().startOf('year'), moment().endOf('year')],
              'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
              'Previous Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
              'Previous Quarter': [moment().subtract(1, 'quarter').startOf('quarter'), moment().subtract(1, 'quarter').endOf('quarter')],
              'Previous Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
              //'Custom':[moment(),moment()]
           },
           opens: 'left', // Adjust the direction of the calendar popup if needed
           showCustomRangeLabel: true,
           //singleDatePicker:true,
           showDropdowns:true,
           linkedCalenders:false,
           showCancel:true,
           cancelClass: 'cancel-button',
           maxSpan:{days:30}
 
       };
       $('#reportrange').daterangepicker(daterangepickerOptions, cb);
   
   $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
       if (picker.chosenLabel === 'Custom') {
           $('#selectedEndDate').text('As of ' + picker.endDate.format('MMMM D, YYYY'));
       }
   });
   
       $('.custom-caret i').click(function() {
           $('#reportrange').data('daterangepicker').toggle();
       });
       $('.cancel-button').click(function() {
           $('#reportrange').data('daterangepicker').setStartDate(start);
           $('#reportrange').data('daterangepicker').setEndDate(end);
       });
      
      
       $('.drp-calendar.right').remove();
   
   
       cb(start, end, 'Custom');
     });
 
 
     const selectAllCheckbox = document.getElementById('select-all');
     const checkboxes = document.querySelectorAll('.checkbox');
     const textbox = document.querySelector('.dropdown-toggle');
     const textboxesContainer = document.getElementById('textboxes');
     const addButton = document.getElementById('addTextboxes');
 
     selectAllCheckbox.addEventListener('change', function () {
         checkboxes.forEach(checkbox => {
             checkbox.checked = selectAllCheckbox.checked;
         });
         updateTextboxValue();
     });
 
     checkboxes.forEach(checkbox => {
         checkbox.addEventListener('change', updateTextboxValue);
     });
 
     function updateTextboxValue() {
         const selectedValues = Array.from(checkboxes)
             .filter(checkbox => checkbox.checked)
             .map(checkbox => checkbox.nextSibling.textContent)
             .join(', ');
         textbox.value = selectedValues;
     }
     let dropdownCount = 0;
     addButton.addEventListener('click', function () {
        const textboxWithDropdown = document.createElement('div');
        textboxWithDropdown.classList.add('form-group');
        textboxWithDropdown.style.backgroundColor = "black";
        textboxWithDropdown.style.display = "inline-block"; 
        textboxWithDropdown.style.marginRight = "2vw"; 
    
        const textboxWithDropdown2 = document.createElement('div');
        textboxWithDropdown2.classList.add('form-group');
        textboxWithDropdown2.style.backgroundColor = "black";
        textboxWithDropdown2.style.display = "inline-block";
    
        const dropdown = document.createElement('select');
        dropdown.classList.add('form-control');
    
        // Add options to the dropdown as needed    
        const option1 = document.createElement('option');
        option1.value = 'Bill date';
        option1.text = 'Bill date';
        dropdown.appendChild(option1);

        const option2 = document.createElement('option');
        option2.value = 'Due date';
        option2.text = 'Due date';
        dropdown.appendChild(option2);

        const option3 = document.createElement('option');
        option3.value = 'Bill';
        option3.text = 'Bill';
        dropdown.appendChild(option3);

        const option4 = document.createElement('option');
        option4.value = 'Vendor Name';
        option4.text = 'Vendor Name';
        dropdown.appendChild(option4);

        const option5 = document.createElement('option');
        option5.value = 'Bill Amount';
        option5.text = 'Bill Amount';
        dropdown.appendChild(option5);

        const option6 = document.createElement('option');
        option6.value = 'Balance Amount';
        option6.text = 'Balance Amount';
        dropdown.appendChild(option6);

        const option7 = document.createElement('option');
        option7.value = 'Tax Amount';
        option7.text = 'Tax Amount';
        dropdown.appendChild(option7);
    
        // Set the background color of the dropdown to black
        dropdown.style.backgroundColor = "black";
    
        textboxWithDropdown.appendChild(dropdown);
        textboxesContainer.appendChild(textboxWithDropdown);
    
        const dropdown2 = document.createElement('select');
        dropdown2.classList.add('form-control');
    
        const option2_1 = document.createElement('option');
        option2_1.value = 'No result';
        option2_1.text = 'No result';
        dropdown2.appendChild(option2_1);

        dropdown2.style.backgroundColor = "black";
    
        textboxWithDropdown2.appendChild(dropdown2);
        textboxesContainer.appendChild(textboxWithDropdown2);
    
        if (dropdownCount % 2 === 0) {
            textboxesContainer.appendChild(document.createElement('br'));
        }
    });
    
 </script>

{% endblock %}
