{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>
    #over:hover{
        background-color: rgba(110, 110, 110, 0.616);
        font-weight:bold ;
    }
    
</style>

<div class="fixed-top" style="top: 7rem; margin-left: 18rem;">
    <div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="row">
                    
                    <div class="col-md-2"><a class="text-white" style="font-size: 1.5rem;">All Projects</a>
                        
                        
                    </div>
                    <div class="col-md-2 form-inline" style="margin-left: 9rem;margin-top: -2rem;">  
                        
                    </div>
                </div>
                <div style="height: 500px;overflow-y: scroll;">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <table class="table  text-white" id="myTable">
                                
                                <tbody>
                                    {% for v in proje %}                    
                                    <tr id="over">                     
                                      <td><i class="fa-sharp fa-light fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a id="aover" href="{% url 'overview' v.id %}" style="color: rgb(230, 171, 45);">{{v.name}}</a></td>
                                      <td><i class="fa-sharp fa-light fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a id="aover" href="#" style="color: rgb(230, 171, 45);">{% if v.billing == "Fixed cost for project" or v.billing == "Based on project hours" %}
                                          {{v.rateperhour}} {{v.taskrph}}
                                        {% else %}
                                          Per hour
                                        {% endif %}</a></td>                          
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-8 mt-3">
                        <a class="text-white" style="font-size: 2rem;"><i class="fa-sharp fa-regular fa-circle-dot"></i>&nbsp;&nbsp;&nbsp;&nbsp;Comments</a>
                    </div>
                    <!--<div class="col-sm-12 col-md-4 col-lg-4  mt-3">
                        <a style="color: #ccc;" class="btn btn-success mr-2" href="#"></i>Edit</a>
                         <a style="color: #ccc;background-color: rgb(46, 46, 46);" class="btn  mr-2" href="" ></i><i class="fa-solid fa-paperclip"></i></a>
                        <a style="color: #ccc;background-color: rgb(46, 46, 46);" class="btn  mr-2" href=""></i><i class="fa-sharp fa-solid fa-xmark"></i></a> 
                    </div>-->                   
                </div>
               
                <span class="input-group mb-1 pt-3" style="border-bottom: 1px solid rgb(37, 37, 37);border-top: 1px solid rgb(37, 37, 37);">
                    <div id="over" style="color: rgb(230, 171, 45); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 22px;">
                        <a href="{% url 'overview' proj.id %}" class="btn btn-warning">Overview</a>
                      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div id="over"
                    style="color: rgb(230, 171, 45);;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
                    <!-- <button class="btn btn-warning">

                    Delete</button> -->
                    
                    <a href="#" class="btn btn-warning">Comment</a>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div id="over" class="toggle4"
                  style="color: rgb(230, 171, 45);;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
                  <label for="file-input">
                      <img src="https://cdn-icons-png.flaticon.com/128/9329/9329892.png" style="height: 40px;width: 40px;"/>
                    </label>
                    <input id="file-input" type="file" style="display: none;" />
                  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> 
                  </span> 

                  <fieldset1 id="overview" class="Overview" >
                    <form  method="post" action="{% url 'commentdb' proj.id %}"  enctype="multipart/form-data" class="">
                        {% csrf_token %}
                    <div style="height: 400px;overflow-y: scroll;">
                     <textarea name="comment" rows="12" cols="56"> </textarea><br>
                     <div id="over"
                    style="color: rgb(230, 171, 45);;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
                    <!-- <button class="btn btn-warning">

                    Delete</button> -->
                    <button type="submit" class="bg-warning" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add Comment</button>
                    <button type="button" class="bg-warning"style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" onclick="viewComment()">View Comment</button>
                  </div>
</div>
<div id="commentContainer" style="display: none;">
    <h3>Comment:</h3>
    
    <p id="commentText"  >{{ proj.comment }}</p>
   
</div>
</form>

                    </div>
                    <br><br><br> <br><br> 
                    
                    

                    
                  </fieldset1> 

                  <fieldset2 id="comments" style="display: none;">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-group row mt-4">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                 <textarea name="comment" id="" cols="60" rows="5" required> </textarea>
                                 <div class="valid-feedback">Valid.</div>
                                 <div class="invalid-feedback">Please fill out this field.</div> 
                                 <label>(For Internal Use)</label> 
                                 
                            </div>
                        </div> 
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                   <input type="submit" class="btn btn-primary form-control" value="Add Comment">   
                            </div>
                        </div>
                    </form>                   
                  </fieldset2>

                  <fieldset3 id="mail" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">

                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <button style="color: #ccc;" class="btn btn-primary mr-2" onclick="fieldset4_function()">Sent</button> 

                        </div>
                    </div>
                    <div style="height: 450px;overflow-y: scroll;">
                        <form action="#" method="post" enctype="multipart/form-data" class="was-validated">
                            {% csrf_token %}
                            <div class="form-group row mt-4">
                                <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label style="color: rgb(230, 171, 45);">To</label></div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                     <!-- <label class="col-form-label" name="email" style="color: white;">{{ vdata2.vendor_email }}</label>   -->
                                     <input type="email" name="email" class="form-control" value="{{ vdata2.vendor_email }}" readonly>
                                </div>
    
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-sm-12 col-md-3 col-lg-3 col-form-label" style="color: rgb(230, 171, 45);"><label style="color: rgb(230, 171, 45);">Subject</label></div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                     <input type="text" class="form-control" name="subject" placeholder="subject" required>
                                     <div class="valid-feedback">Valid.</div>
    
                                     <div class="invalid-feedback">Please fill out this field.</div>   
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-sm-12 col-md-3 col-lg-3"></div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                     <textarea name="content" id="" cols="60" rows="4" placeholder="Type here....."></textarea>  
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-sm-12 col-md-3 col-lg-3"></div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                       <input type="submit" class="btn btn-primary form-control" value="Send">   
                                </div>
                            </div>
                        </form>
                        <br><br><br><br>
                    </div>

                  </fieldset3>

                  <fieldset4 id="sentmail" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="fixed-top" style="top: 17.5rem; margin-left: 18rem;">
                                <div style="height: 400px;overflow-y: scroll;">
                                    
                                
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
        
                                        <div class="col-sm-12 col-md-8 col-lg-8">
                                            <table class="table  text-white">
                                                <thead>
                                                  <tr>
                                                    <th>Date</th>
                                                    <th>Subject</th>
                                                    
                                                  </tr>
                                                </thead>
                                                <tbody id="over">
                                                  {% for v in mdata %}
                                         
                                                  <tr>
                                         
                                                    <td>{{v.mail_date}}</td>
                                                    <td>{{v.subject}}</td>
                                    
                                                   
                                                  </tr>
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                            
                                    </div>
                                  
                            
                                       
                                    
                            
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    
                    
                  </fieldset4>

                  <fieldset5 id="attach" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">

                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <button style="color: #ccc;" class="btn btn-primary mr-2" onclick="fieldset6_function()">View</button> 

                        </div>
                    </div>
                    <form action="#" method="post" enctype="multipart/form-data" class="was-validated">
                        {% csrf_token %}
                        
                        <div class="form-group row mt-4">
                            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label" style="color: rgb(230, 171, 45);"><label style="color: rgb(230, 171, 45);">Title</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                 <input type="text" class="form-control" name="title" placeholder="Title" required>  
                                 <div class="valid-feedback">Valid.</div>
                                 <div class="invalid-feedback">Please fill out this field.</div>   
                                 
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label" style="color: rgb(230, 171, 45);"><label style="color: rgb(230, 171, 45);">Upload Document</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <input type="file" class="form-control" name="file" required>
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-sm-12 col-md-3 col-lg-3"></div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                   <input type="submit" class="btn btn-primary form-control" value="Upload">   
                            </div>
                        </div>
                    </form>
                   
                  </fieldset5>

                 <fieldset6 id="doc_list" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="fixed-top" style="top: 17.5rem; margin-left: 18rem;">
                                <div style="height: 400px;overflow-y: scroll;">
                                    
                                
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4"></div>
        
                                        <div class="col-sm-12 col-md-8 col-lg-8">
                                            <table class="table  text-white">
                                                <thead>
                                                  <tr>
                                                    <th>Title</th>
                                                    <th>Document</th>
                                                    <th>Action</th>
                                                    
                                                  </tr>
                                                </thead>
                                                <tbody id="over">
                                                  {% for v in ddata %}
                                         
                                                  <tr>
                                         
                                                    <td>{{v.title}}</td>
                                                    <td>{{v.document.url}}</td>
                                                    <td><a href="{% url 'download_doc' v.id %}" class="btn btn-outline-warning">download</a></td>
                                    
                                                   
                                                  </tr>
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>                           
                                    </div>                           
                                </div>                           
                            </div>
                        </div>
                    </div>
                  </fieldset6>
            </div>
        </div>
    </div>
</div>

<script>
    function viewComment() {
        var commentContainer = document.getElementById("commentContainer");
        var commentText = document.getElementById("commentText");
        
        if (commentContainer.style.display === "none") {
            commentContainer.style.display = "block";
        } else {
            commentContainer.style.display = "none";
        }
    }
</script>
<script>
   

    function fieldset1_function(){
        document.getElementById("overview").style.display="block";
        document.getElementById("comments").style.display="none";
        document.getElementById("mail").style.display="none";
        document.getElementById("sentmail").style.display="none";
        document.getElementById("attach").style.display="none";
        document.getElementById("doc_list").style.display="none";





    }
    function fieldset2_function(){
        document.getElementById("overview").style.display="none";
        document.getElementById("comments").style.display="block";
        document.getElementById("mail").style.display="none";
        document.getElementById("sentmail").style.display="none";
        document.getElementById("attach").style.display="none";

        document.getElementById("doc_list").style.display="none";




    }
    function fieldset3_function(){
        document.getElementById("overview").style.display="none";
        document.getElementById("comments").style.display="none";
        document.getElementById("mail").style.display="block";
        document.getElementById("sentmail").style.display="none";
        document.getElementById("attach").style.display="none";
        document.getElementById("doc_list").style.display="none";





    }
    function fieldset4_function(){
        document.getElementById("overview").style.display="none";
        document.getElementById("comments").style.display="none";
        document.getElementById("mail").style.display="none";
        document.getElementById("sentmail").style.display="block";
        document.getElementById("attach").style.display="none";
        document.getElementById("doc_list").style.display="none";





    }
    function fieldset5_function(){
        document.getElementById("overview").style.display="none";
        document.getElementById("comments").style.display="none";
        document.getElementById("mail").style.display="none";
        document.getElementById("sentmail").style.display="none";
        document.getElementById("attach").style.display="block";
        document.getElementById("doc_list").style.display="none";





    }
    function fieldset6_function(){
        document.getElementById("overview").style.display="none";
        document.getElementById("comments").style.display="none";
        document.getElementById("mail").style.display="none";
        document.getElementById("sentmail").style.display="none";
        document.getElementById("attach").style.display="none";
        document.getElementById("doc_list").style.display="block";





    }
    function myFunction(){
        var input,filter,table,tr,td,i,txtValue;
        input=document.getElementById("myInput");
        filter=input.value.toUpperCase();
        table=document.getElementById("myTable");
        tr=table.getElementsByTagName("tr");
        for(i = 0; i < tr.length; i++)
        {
            td=tr[i].getElementsByTagName("td")[0];
            if(td){
                txtValue=td.textContent || td.innerText;
                if(txtValue.toUpperCase().indexOf(filter) > -1){
                    tr[i].style.display="";
                }
                else{
                    tr[i].style.display="none";
                }
            }
        }
    }

    function sortTable()
    {
        var table,i,x,y;
        table=document.getElementById("myTable");
        var switching=true;
        while(switching)
        {
            switching=false;
            var rows=table.rows
            for(i = 0 ; i < (rows.length - 1) ; i++)
            {
                var Switch=false;
                x = rows[i].getElementsByTagName("TD") [0];
                y = rows[i + 1].getElementsByTagName("TD") [0];
                if(x.innerText.toLowerCase() > y.innerText.toLowerCase())
                {
                    Switch=true;
                    break;
                }

            }
            if(Switch)
            {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching=true
            }
        }
    }
      
      
</script>




{% endblock %}