{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

.container-fluid {
  display: flex;
}

.container-left {
  width: 100vw;
  height: 100vh;
  flex: 15;
}

.container-right {
  width: 100vw;
  height: 100vh;
  flex: 85;
  display: flex;
  flex-direction: column;
}
.navbar-brand, .nav-item {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.daterangepicker{
  color: black;
}

/* Dropdown Button */
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 10px;
  width: 30%;
  text-align: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The search field */
#myInput {
  box-sizing: border-box;;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#reportrange span, #selectedEndDate, .daterangepicker .ranges ul li {
  font-size: 14px; /* Adjust the font size as needed */
}

</style>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a href="#home" class="a">
      <i class="fa fa-bars" style="font-size:25px;"></i>
    </a>
  </li>

  <a class="navbar-brand me-auto " href="#" style="font-size:25px;">Customize Report</a>

  <li class="nav-item" style="height:4vh; width:4vw;">
    <button type="button" onclick="history.go(-1);" style="height:5vh; width:2.5vw;">&times;</button>
  </li>
</ul>


<div class="container-fluid">
  <div class="container-left">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-center" aria-current="true">General</a>
      </div>
    </div>
  </div>

  <div class="container-right pt-2" style="padding: 30px">
    <label for="">Date Range</label>&nbsp;
    <div id="reportrange" style="background: white; color: black; cursor: pointer; padding: 5px 10px; border: 1px solid black; width: 30%;">
      <i class="fa fa-calendar"></i>&nbsp;
      <span></span> <i class="fa fa-caret-down"></i>
    </div><br>
    
    <label for="">Item Name</label>&nbsp;
      <select id="selectbox" style="width: 30%; height: 5vh;">
        <option value="" disabled selected>Select...</option>
        {% for i in item %}
        <option value="jquery">{{ i.Name }}</option>
        {% endfor %}
      </select>
  </div>
</div>

<script>
  $(function() {
    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end, label) {
      $('#reportrange span').text(label);
      $('#selectedEndDate').text('As of ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'This Week': [moment().startOf('week'), moment().endOf('week')],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'This Quarter': [moment().startOf('quarter'), moment().endOf('quarter')],
        'This Year': [moment().startOf('year'), moment().endOf('year')],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Previous Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
        'Previous Quarter': [moment().subtract(1, 'quarter').startOf('quarter'), moment().subtract(1, 'quarter').endOf('quarter')],
        'Previous Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
      },
      opens: 'left',
      showCustomRangeLabel: true,
      singleDatePicker: false,
      showDropdowns: true,
      alwaysShowCalendars: false,
      linkedCalendars: true, // Set linkedCalendars to true
    }, cb, function(start, end, label) {
      if (label === 'Custom') {
        // Show the calendar only when "Custom" range is selected
        $(this.element).data('daterangepicker').show();
      } else {
        // Update the <h5> tag when a new date range is selected
        $('#selectedEndDate').text('As of ' + end.format('MMMM D, YYYY'));
      }
    });

    $('.custom-caret i').click(function() {
      $('#reportrange').data('daterangepicker').toggle();
    });

    cb(start, end, 'Today');
  });
</script>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

</script>

{% endblock content %}