{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<style>
  .buton {
    background-color: rgba(0, 0, 0, 0.1);

    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 24px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .buton:hover {
    background-color: rgb(230, 171, 45);
    color: white;
    border-radius: 18px;
  }

  .buton.active {
    background-color: rgb(230, 171, 45);
    color: white;
    border-radius: 18px;
  }

  .buton.active.p {
    display: block;
  }

  .buton:not(.active).p {
    display: none;
  }
  .popup-1{
height: 20rem;
width: 30rem;
background-color: black;
border-radius: 1rem;
position: absolute;
margin-top: 35rem;
top: -15%;
left: 40%;
transform: translate(-50%,-50%)scale(0.1);
text-align: center;
padding: 0 5rem 5 rem;
color: white;
top: 50%;
visibility: hidden;
transform: translate(-50%,-50%)scale(0.1);

}

.open-popup-1{
top: 20%;
visibility: visible;
transform: translate(-50%,-50%)scale(1);
transition: transform 0.4s ,top 0.4s;

}
</style>
<div class="modal fade"  id="newpayment" >
  <div class="modal-dialog modal-md" style="background-color: rgb(64, 63, 63);">
    <div class="modal-content"style="background-color: rgb(64, 63, 63);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2  style="text-align:center;color: rgb(230, 171, 45);">Configure Payment terms</h2>
      </div>
      <div class="modal-body">
          <form method='POST'>
           
    <div class="col-sm-10 form-inline" style="text-align: center;">
      <label for="name" style="color: rgb(230, 171, 45);">Term Name</label> &nbsp;&nbsp;&nbsp;
      <input type="text"id="term" name="term"><br>
    </div><br><br>
    <div class="col-sm-10 form-inline" style="text-align: center;">
      <label for="name" style="color: rgb(230, 171, 45);">Number of days</label>
      <input type="number"id="day" name="day"><br><br><br>
    </div>
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4 mt-3">
                      <button type='submit' class="btn btn-primary" data-dismiss="modal" id="paySave" >Save</button>
                  </div>
                  <div class="col-md-4"></div>
              </div>
          </form>
      </div>
      
    </div>
  </div>
</div>
<section>


    <div class="row fixed-top  " style="top: 7rem; margin-left: 18rem;" >

        <div class="col-md-12">

            <div style="height: 640px;width: 1215px;overflow-y: scroll;">

               

                <div class="row">
                    <div class="col-8">
                       
  <form action="{% url 'entr_custmrA1' %}" method="POST" enctype="multipart/form-data"
  style="color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:20px;width: 100%;">
  {% csrf_token %} 
             
  <h2 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>New Customer</b>
    &nbsp;&nbsp;&nbsp;&nbsp;
  </h2>
  <br>
  <label for="name">Customer Type </label>
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;

  <input type="radio" id="Business" name="type" value="Business">
  <label for="Business"> Business</label>
  &nbsp;&nbsp;&nbsp;
  <input type="radio" id="Individual" name="type" value="Individual">
  <label for="Individual"> Individual</label><br>
  <!--<div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>-->
  <span class="input-group mb-3 mt-3">
    <label for="foname">Primary Contact</label>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <select name="txtsalu"id="sa"  >
      <option value="Mr." selected>Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Ms.">Ms.</option>
            <option value="Miss.">Miss.</option>
            <option value="Dr.">Dr.</option>
    </select>&nbsp;&nbsp;&nbsp;

     <input type="text" id="fName"style="width: 23%;">&nbsp;&nbsp;&nbsp;
     <input type="text" id="lName" style="width: 23%;" oninput="generateFullName()" />
  
</span>
<div class="row mb-3">
  <label class="col-sm-4 col-form-label"
  style="color: rgb(214, 75, 75) ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">Customer
  Display Name* </label>
 <div class="col-sm-6">
<input type="text" id="txtFullName" name="txtFullName"   >
</div></div>



<div class="row mb-3">
  <label class="col-sm-4 col-form-label"
    style="color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">Company
    Name </label>
    <div class="col-sm-6">
  <input type="text" id="ccname" name="cpname" required>
</div></div>

  
<div class="row mb-3">
  <label class="col-sm-4 col-form-label"
    style="color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">Customer
    Email </label>
    <div class="col-sm-6">
  <input type="email" id="myEmail" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
</div></div>

  <span class="input-group mb-3 mt-3">
    <label for="name"
      style="color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">Customer
      Phone </label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="text" id="wphone" name="fname"style="width: 18%;" placeholder="0000-0000000" pattern="[0-9]{4}-[0-9]{7}">&nbsp;&nbsp;&nbsp;
    <input type="text" id="mobile" name="lname"style="width: 18%;" placeholder="Mobile" pattern="[0-9]{10}" required>&nbsp;&nbsp;&nbsp;
    <div class="toggle"
      style=" color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      Add more details </div>
  </span>




  <fieldset1 class="contact"
    style="display:none;color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 
    serif;font-size:22px;">
   <div class="row mb-3">
    <label class="col-sm-4 col-form-label" for="name">Skype Name/Number </label> 
    <div class="col-sm-6">
      <input type="text" id="cn"  name="skname">
    </div></div>

    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name">Designation </label>
      <div class="col-sm-6">
      <input type="text" id="cn"   name="desg">
      </div></div>

    <div class="row mb-3">
    <label class="col-sm-4 col-form-label" for="name">Department </label> 
    <div class="col-sm-6">
      <input type="text" id="cn"   name="dept">
    </div></div>
  </fieldset1>


  <div class="row mb-3">
    <label class="col-sm-4 col-form-label"
    style="color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
    Website
  </label>
  <div class="col-sm-6">
  <input type="text" id="cn" name="wbsite" >
 </div></div>

  <span class="input-group mb-3 mt-3">
    <div class="toggle2"
      style="color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      Other Details </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="toggle3"
      style="color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      Address</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="toggle4"
      style="color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      Contact persons</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="toggle6"
      style="color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      Reporting Tags</div>
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <div class="toggle7"
      style="color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      Remarks</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>

  <fieldset2 class="other details"
    style="display:none;color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
   
  <div class="row mb-3">
    <label class="col-sm-4 col-form-label" for="v_gsttype" style="color:rgb(190, 88, 88);">GST Treatment *</label>
    <div class="col-sm-6">
     
        <select  id="v_gsttype" name="v_gsttype" style="color: black;width:80%;" required>
          <option selected disabled value="" style="color: black;">Choose..</option>
          <option value="Registered Business - Regular" style="color: black;">Registered Business - Regular <span><i>(Business that is registered under gst)</i></span></option>
          <option value="Registered Business - Composition" style="color: black;">Registered Business - Composition (Business that is registered under composition scheme in gst)</option>
          <option value="unregistered Business" style="color: black;">Unregistered Business (Business that has not been registered under gst)</option>
          <option value="Overseas" style="color: black;">Overseas (Import/Export of supply outside india)</option>
          <option value="Special Economic Zone (SEZ)" style="color: black;">Special Economic Zone (SEZ) (Business that is located in a special economic zone of india or a SEZ developer)</option>
          <option value="Demed Exports" style="color: black;">Demed Exports (Supply of woods to an exports oriented unit or againsed advanced authorization or export promotion capital woods)</option>
          <option value="Tax Deductor" style="color: black;">Tax Deductor (State of central gov,government agencies or local authority)</option>
          <option value="SEZ Developer" style="color: black;">SEZ Developer (A person or organization who owns atleast 26% eqaulity in creating business units in special economic zone)</option>
        </select>
      </div>       
    </div>

    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" id="glbl" style="color:rgb(190, 88, 88);">GSTIN/UIN *</label>
      <div class="col-sm-6">
        <input type="text"  id="v_gstin"  name="v_gstin" placeholder="29APPCK7465F1Z1">
    </div>       
    </div>
    
   
    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name"
        style="color: rgb(214, 75, 75) ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
        Place Of Supply* </label>
        <div class="col-sm-6">
          <select name="posply" id="PLACE" style="width: 80%;" required>
                    <option selected disabled value="" >Choose..</option>
                    <option value="[AN]-Andaman And Nicobar Islands">[AN]-Andaman And Nicobar Islands</option> <option value="volvo">[AD]-Andhra Pradesh</option>
                    <option value="[AR]-Arunachal Pradesh">[AR]-Arunachal Pradesh	</option> <option value="volvo">[AS]-Assam</option>
                    <option value="[BR]-Bihar">[BR]-Bihar</option> <option value="volvo">[CH]-	Chandhigarh</option><option value="volvo">[CG]-	Chattisgarh</option>
                    <option value="[DD]-	Daman Diu">[DD]-	Daman Diu</option><option value="volvo">[DL]-	Delhi</option><option value="volvo">[GA]-Goa</option> <option value="volvo">[GJ]-Gujarat</option>
                    <option value="[HR]-Haryana">[HR]-Haryana</option> <option value="volvo">[HP]-Himachal Pradesh</option>
                    <option value="[JK]-	Jammu And Kashmir">[JK]-	Jammu And Kashmir</option><option value="volvo">[JH]-Jharkand</option>
                    <option value="[KA]-Karnataka">[KA]-Karnataka</option><option value="volvo">[KL]-Kerala</option>
                    <option value="[LA]-Ladakh">[LA]-Ladakh</option><option value="volvo">[LD]-Lakshadweep</option>
                    <option value="[MP]-Madhyapradesh">[MP]-Madhyapradesh</option><option value="volvo">[MH]-Maharashtra</option>
                    <option value="[MN]-Manipur">[MN]-Manipur</option>  <option value="volvo">[ML]-Meghalaya</option>
                    <option value="[MZ]-Mizoram">[MZ]-Mizoram</option> <option value="volvo">[NL]-Nagaland</option> <option value="volvo">[NL]-Nagaland</option>
                   <option value="[OD]-Odisha">[OD]-Odisha</option><option value="volvo">[PY]-Puducherry</option>
                    <option value="[PB]-Punjab">[PB]-Punjab.</option><option value="audi">[RL]-Rajasthan</option>
                    <option value="[SK]-Sikkim">[SK]-Sikkim</option><option value="audi">[TN]-Tamilnadu</option>
                    <option value="[TS]-Telenghana">[TS]-Telenghana</option><option value="audi">[TR]-Tripura</option><option value="audi">[UP]-Uttar Pradesh</option>
                    <option value="[UK]-Utharakhand">[UK]-Utharakhand</option><option value="audi">[WB]-West Bengal</option>
                    <option value="[OT]-Other Territory">[OT]-Other Territory</option></select>
</div></div>
<div class="row "><br>
  <div class="col-md-3 mt-2">
      <label for="name"
        style="color: rgb(214, 75, 75) ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
        Tax Preference* </label>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-md-6 mt-2">
      <input type="checkbox" id="Taxable" name="tax1" value="Taxable">
      <label for="vehicle1">Taxable</label>
      &nbsp;&nbsp;&nbsp;
      <input type="checkbox" id="Tax Exempt" name="tax1" value="Tax Exempt">
      <label for="vehicle2"> Tax Exempt</label>

    </div></div><br>

    <div class="row mb-3">
      <label class="col-sm-4 col-form-label"for="name"
        style="color: rgb(214, 75, 75) ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
        Currency* </label>
        <div class="col-sm-6">
          <select name="crncy"  id="PLACE" style="width: 80%;" required>
            <option selected disabled value="" >Choose..</option>
        <option value="volvo">Indian Rupee</option></select>
    </div></div>
    
    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name"> Opening Balance</label>
 <div class="col-sm-6">
      <input type="number" id="cn"  name="obal" required>
    </div></div>

    <div class="row ">
      <div class="col-md-3 mt-2">
      <label for="name"
        style="color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
        Payment Terms </label>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-6 mt-2">
      <select name="pterms" id="PLACE">
       

        {% for cs in sb %}

      <option type="text" value ='{{ cs.id }}'> {{ cs.Terms}}</option>
     
      {% endfor %}
     </select> <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Log In</button>-->
     &nbsp;&nbsp;
      
          <a href="" style="color: rgb(230, 171, 45);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;" data-toggle="modal" data-target="#newpayment"><i class="fa fa-gear"></i> Configure  Trems</a>
    </div></div><br>
    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name"
        style="color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
        Price List </label>
        <div class="col-sm-6 mt-2" >

      <select name="plst" id="PLACE">
        
   

        {% for cs in hi %}

      <option type="text" value ='{{ cs.id }}'> {{ cs.name}}</option>
     
      {% endfor %}
     </select>
    </div></div>

    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name">Enable Portal?</label>
      <div class="col-sm-6">
         <input type="checkbox"  id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1">Allow Portal Access For This Customer</label>
    </div></div>

    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name"
        style="color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
        Portal Language</label>
        <div class="col-sm-6">
      <select name="plang" id="PLACE" style="width: 80%;" required>
        <option selected disabled value="" >Choose..</option>
        <option value="ENGLISH">ENGLISH</option>
      </select>
    </div></div>

    <div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name">Facebook </label> 
      <div class="col-sm-6">
      <input type="text" id="cn" name="fbk"  placeholder="Facebook"><br>
    </div></div>

<div class="row mb-3">
      <label class="col-sm-4 col-form-label" for="name">Twitter</label>
      <div class="col-sm-6">
      <input type="text" id="cn" name="twtr"  placeholder="Twitter">
    </div></div>

    <label><br>Customer Owner: Assign a user as the Customer owner to provide access only to the data of this customer.
    </label>
  </fieldset2>


  <fieldset3 class="address"
    style="display:none;color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
    <div style="float: left;">
      <div class="row mb-3">
        <label class="col-sm-8 col-form-label">Billing Address</label>
      </div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Attention </label> 
        <div class="col-sm-6">
          <input type="text" id="batn"  name="atn" required>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name"
          style="color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
          Country</label>
          <div class="col-sm-6">
        <select name="ctry" id="bcty" style="width: 80%;" required>
          <option selected disabled value="" >Choose..</option>
          <option value="volvo">India</option>
        </select>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Address </label> 
        <div class="col-sm-6">
          <textarea type="text" id="bads1" name="addrs" required> </textarea><br><br>
         <textarea type="text" id="bads2"
          name="addrs1"></textarea> </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">City</label>
        <div class="col-sm-6">
        <input type="text" id="bct" name="bct" required>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">State </label>
        <div class="col-sm-6">
        <input type="text" id="bst" name="bst" required>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Zip Code </label>
        <div class="col-sm-6"> 
        <input type="text" id="bzip" name="bzip" required>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Phone </label> 
        <div class="col-sm-6">
        <input type="text" id="bpon" name="bpon" required>
      </div></div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Fax </label> 
        <div class="col-sm-6">
        <input type="text" id="bfx" name="bfx">
      </div>
    </div>
    </div>
    <div style="float: left;">
      <div class="row mb-3">
        <label class="col-sm-8 col-form-label">shippiing Address</label>
      </div>
      <div class="col-sm-10 form-inline">
        <input type="checkbox" id="myCheckT" onclick="myCopyAddressFunction()">&nbsp;
        <label for="myCheck">Same as Billing Address:</label>
      </div><br>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Attention </label>
        <div class="col-sm-6"><input type="text" id="satn" name="lna">
      </div></div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name"
          style="color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
          Country</label>
          <div class="col-sm-6">

        <select name="Place" id="scty" style="width: 100%;">
          <option value="value" selected>India</option>
          <option value="volvo">India</option>
          
        </select>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Address </label>
        <div class="col-sm-6">
        <textarea type="text" id="sads1" name="lna"></textarea><br><br>
       <textarea type="text" id="sads2" name="lna"></textarea>
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">City</label> 
        <div class="col-sm-6">
        <input type="text" id="sct" name="lna">
      </div></div>

      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">State </label>
        <div class="col-sm-6">
        <input type="text" id="sst" name="lna">
      </div></div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Zip Code </label> 
        <div class="col-sm-6">
        <input type="text" id="szip" name="lna">
      </div></div>

         <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Phone </label>
        <div class="col-sm-6">
        <input type="text" id="spn" name="lna">
      </div></div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="name">Fax </label>
        <div class="col-sm-6">
        <input type="text" id="sfx" name="bfx">
      </div></div>>
    </div>
    
  </fieldset3><br>
  <fieldset5 class="contact persons"
    style="display:none;color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
    <table id="tbl" style="border:0;width:75%;text-align: center;">
      <tr>
        <th>Salutation</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Work Phone</th>
        <th>Mobile</th>
        <th>Skype Name/Number</th>
        <th>Designation</th>
        <th>Department</th>
      </tr>
      <tr>
        <td><select name="sal" id="PLACE">
            <option value="Mr." selected>Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Ms.">Ms.</option>
            <option value="Miss.">Miss.</option>
            <option value="Dr.">Dr.</option>
          </select></td>
        <td><input type="text" name="ftname" /></td>
        <td><input type="text" name="ltname" /></td>
        <td><input type="text" name="mail" /></td>
        <td><input type="text" name="bworkpn" /></td>
        <td><input type="text" name="bmobile" /></td>
        <td><input type="text" name="bskype" /></td>
        <td><input type="text" name="bdesg" /></td>
        <td><input type="text" name="bdept" /></td>
      </tr>
    </table>
    <div class="button add_another"
      style="color: rgb(230, 171, 45);;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
      + Add Contact Person</div>

  </fieldset5>



  <fieldset6 class="Reporting Tags"
    style="display:none;color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
  </fieldset6>
  <fieldset7 class="Remarks"
    style="display:none;color: azure ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:22px;">
    <textarea type="text" id="rmks" name="rmrks"></textarea>
  </fieldset7><br>


  <div class="col-sm-10 form-inline" style="text-align: center;">
    <button type="submit" class="btn btn-success">Save </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <button type="reset" class="btn btn-info" >Cancel</button>
  </div><br>

 
  
</form>

  </div>
  
 
                    </div>
                    <div class="col-4"></div>
                </div>







            
            
            </div>

        </div>
    
    </div>

      </div>
    </div>
  </div>  
</div>  
</section>

<script>
$(document).ready(function() {
    $("#v_gsttype").change(function() {
      var x=$('#v_gsttype').val();
      // console.log(x)
      if(x=="unregistered Business") 
      {
        $(".gstrow").addClass('d-none');

      }
      else if(x == 'Overseas'){
        $(".gstrow").addClass('d-none');
      }
      else 
      {
        $(".gstrow").removeClass('d-none');
        $(".gstrow").addClass('d-flex');
      }
    
    });
  });
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.from(forms).forEach(form => {
  form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }

    form.classList.add('was-validated')
  }, false)
})
})()
</script>

<script>
  function generateFullName()
{
   document.getElementById('txtFullName').value = 
   document.getElementById('sa').value + 
   document.getElementById('fName').value + ' ' + 
   document.getElementById('lName').value;

}
function myFunction() {
 var x = document.getElementById("myEmail").pattern;
 document.getElementById("demo").innerHTML = x;
}
function myCopyAddressFunction() {
 var checkBox = document.getElementById("myCheckT");
 var textatn = document.getElementById("batn");
 var txtcry = document.getElementById("bcty");
 var txtadrs11 = document.getElementById("bads1");
 var txtadrs12 = document.getElementById("bads2");
 var txtcty = document.getElementById("bct");
 var txtstat = document.getElementById("bst");
 var txtzip = document.getElementById("bzip");
 var txtphone = document.getElementById("bpon");
 var txtfx = document.getElementById("bfx");

 var textatn1 = document.getElementById("satn");
 var txtcry1 = document.getElementById("scty");
 var txtadrs21 = document.getElementById("sads1");
 var txtadrs22 = document.getElementById("sads2");
 var txtcty1 = document.getElementById("sct");
 var txtstat1 = document.getElementById("sst");
 var txtzip1 = document.getElementById("szip");
 var txtphone1 = document.getElementById("spn");
 var txtfx1 = document.getElementById("sfx");
 if (checkBox.checked == true) {
   textatn1.value = textatn.value;
   txtcry1.value = txtcry.value;
   txtadrs21.value = txtadrs11.value;
   txtadrs22.value = txtadrs12.value;
   txtcty1.value = txtcty.value;
   txtstat1.value = txtstat.value;
   txtzip1.value = txtzip.value;
   txtphone1.value = txtphone.value;
   txtphone1.value = txtfx.value;

 } else {
   textatn1.value = "";
   txtcry1.value = "";
   txtadrs21.value = "";
   txtadrs22.value = "";
   txtcty1.value = "";
   txtstat1.value = "";
   txtzip1.value = "";
   txtphone1.value = "";
   txtphone1.value = "";

 }
}
$(document).ready(function () {
 $(".toggle0").click(function (e) {
   e.preventDefault();
   $("fieldset0").toggle();
 })
})
$(document).ready(function () {
 $(".toggle").click(function (e) {
   e.preventDefault();
   $("fieldset1").toggle();
 })
})
$(document).ready(function () {
 $(".toggle2").click(function (e) {
   e.preventDefault();
   $("fieldset2").toggle();
 })
})

$(document).ready(function () {
 $(".toggle3").click(function (e) {
   e.preventDefault();
   $("fieldset3").toggle();
 })
})
$(document).ready(function () {
 $(".toggle4").click(function (e) {
   e.preventDefault();
   $("fieldset5").toggle();
 })
})
$(document).ready(function () {
 $(".toggle6").click(function (e) {
   e.preventDefault();
   $("fieldset6").toggle();
 })
})
$(document).ready(function () {
 $(".toggle7").click(function (e) {
   e.preventDefault();
   $("fieldset7").toggle();
 })
})
$(document).ready(function () {
 $(".toggle9").click(function (e) {
   e.preventDefault();
   $("fieldset9").toggle();
 })
})
$('document').ready(function () {
 $('.add_another').click(function () {
   $("#tbl").append('<tr><td><select name="Place" id="PLACE"><option value="value" selected>Mr.</option><option value="volvo">Mrs.</option><option value="saab">Ms.</option><option value="mercedes">Miss.</option><option value="audi">Dr.</option></select>  </td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td><td><input type="text" class="txtbox" value="" /></td></tr>');
 });
})

let popu=document.getElementById("popup-1");
 
 function openpop(){
  popu.classList.add("open-popup-1");
 }
 function closepop(){
  popu.classList.remove("open-popup-1");
 }


 //--------payment terms modal-----------

$(document).on("click","#paySave",function(){
  $.ajax({
    
    type : 'POST',
    url:"{% url 'payment_termA1' %}",

    data:{
      term : $("#term").val(),
         day : $("#day").val(),
        
        csrfmiddlewaretoken: '{{ csrf_token }}'
        
      },
    
      success: function(response) {
        document.getElementById("modalPayment").reset();
        
      },
  });        
});


</script>



{% endblock %}

function pt(){
  $.ajax({
   type:'POST',
   url:"{% url 'payment_termA' %}",
 
     data:{
         term : $("#term").val(),
         day : $("#day").val(),
        
         csrfmiddlewaretoken: '{{ csrf_token }}'
         
       },
     
       success: function(data) {
         
         document.getElementById("modalVendor").reset();
         
       },
  });}