{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .item-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.add,
.remove {
    cursor: pointer;
    margin-left: 5px;
}

.highlight {
    background-color: #f0f0f0;
}
    .custom-container {
        background-color: black;
        color: white;
    }

    .custom-list-group .custom-list-item {
        color: white;
        border: none;
        margin-bottom: 10px;
        cursor: pointer;
        /* Add cursor style for links */
    }
    .highlight {
        
        color: #eeebeb; /* Updated text color for better visibility */
    }

    .custom-list-group .list-group-item.active {
        background-color: #343a40;
    }

    .custom-content {
        padding: 20px;
    }

    /* Custom styles for left column */
     .left-column {
        background-color: rgba(rgb(235, 221, 221));
        color: white;
        padding: 20px;
        height: 50vh;
        overflow-y: auto;
        /* Add scroll if needed */
        width: 250px; 
         /* Set the width of the left column */
    } 

    /* Custom styles for right column */
    .right-column {
        padding: 20px;
        flex: 1;
        /* Take the remaining width */
    }

    /* Flexbox layout for row */
    .row-container {
        display: flex;
    }

    #dateRangePicker {
        background-color: rgb(5, 5, 5);
        border: 1px solid #ccc;
        padding: 10px;
        width: 400px;
        font-size: 14px;
        color: black;
        /* Set the text color to black */
    }

    td,th{
      color: #060606;
    }
    .cancelBtn {
        color: black;
    }

    .cancelBtn:hover{
        color: black;
    }

    #reportrange .fa-caret-down {
        color: rgb(11, 11, 11);
    }

    .daterangepicker .ranges li {
        color: black;
    }

    .active-link {
        color: #0b07ff;
        /* Change to the desired active link color */
    }

    /* Additional styles for show/hide columns */
    .item-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .add,
    .remove {
        cursor: pointer;
        margin-left: 5px;
    }

    .highlight {
        background-color: #f0f0f0;
    }
    #close-button {
        position: fixed;
        top: 100px;
        right: 70px;
    }



    .column-transfer {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #060606;
        border-radius: 5px;
        flex-direction: row; /* Add this line to set flex direction to row */
    }
    .col-md-6 {
        flex: 1; /* Make both columns take equal space */
    }
    .column-list {
        background-color: rgb(4, 4, 4);
        padding: 10px;
     
        border-radius: 5px;
        max-height: 300px;
        overflow-y: auto;
    }

    .transfer-button {
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .search-input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-right: 10px;
  color: #060606;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.item-list {
  list-style: none;
  margin-top: 10px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.items:last-child {
  border-bottom: none;
}

.add,
.remove {
  color: rgb(234, 221, 221);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.items:hover .add,
.items:hover .remove {
  display: inline-block;
}
.highlight {
    background-color: #f0f0f0;
}
.highlight {
    background-color: #dcdcdc; /* Use a darker shade for better visibility */
    color: black; /* Set the text color to black for better contrast */
}

</style>

<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Place the close button here -->
            <a href="{% url 'purchasebyitem' %}" class="btn btn-light" id="close-button" style="color:  rgb(1, 1, 1);">
                <i class="fa fa-times-circle"></i>
            </a>
        </div>
    </div>
    <div class="row row-container">
        <div class="col-md-3 left-column">
            <div class="custom-list-group">
                <a class="custom-list-item" data-target="general">
                    General
                </a>
                <br>
                <br>
                <br>
                <a class="custom-list-item" data-target="columns">
                    Show/Hide Columns
                </a>
            </div>
        </div>
        <div class="col-md-9 right-column">
            <div id="general" class="custom-content">
                <div>
                    <label for="dateRangePicker" style="color: beige;" class="pb-3">Date Range</label>
                    <input type="text" id="dateRangePicker" class="form-control" style="background-color: white!important;color:black!important;">
                </div>

                <div>
                    <label class="pt-5 mb-3" style="color: beige;">Group By</label>
                    <label class="pt-5 mb-3" style="color: beige;margin-left:389px;">Account</label>
                </div>

                <div>
                    <select class="form-control custom-select-width" style=" color: black!important;width: 400px;display: inline-block;">
                        <option value="##" style="color: #ffffff;" disabled selected hidden>None</option>
                        {% for items in vendors %}
                        <option value="##"  style=" color: black;">{{ items.vendor_display_name }}</option>
                        {% endfor %}
                    </select>

                    <select class="form-control custom-select-width" style=" color: black!important; margin-left: 60px;width: 400px;display: inline-block;">
                        <option value="##"  disabled selected hidden>All</option>
                        <option value="##"  disabled >no results found</option>
                        <!-- Add options -->
                    </select>
                </div>

                <div class="hello">
                    <div class="col mt-5 ">
                        <h5 style="color: beige;">Advanced Filters</h5>
                        <div id="row">
                          <div class="form-row">
                        </div>
                 
                        <div id="newinput"></div>
                          <a href="#" id="rowAdder" class="pt-3" style="color:blue!important;">
                            <span class="bi bi-plus " >
                            </span>+ Add more
                          </a>
                        </div>
                    </div>
            </div>


            </div>
            <div id="columns" class="custom-content" style="display: none;">
                <div class="row column-transfer">
                <!-- Show/Hide Columns section -->
                <div class="row">
                    <div class="col-md-6" id="originalColumn" style="height: 70vh; width:25vw; overflow-y:auto; border: 1px solid #ccc; position: relative; padding-right: 15px;">
                        <h2 style="color: white; position: sticky; top: 0;" class="p-1">Available Column</h2>
                        <div class="search-bar" style="position: sticky; top: 40px;">
                            <input type="text" id="searchInput" class="search-input" placeholder="Search items">
                            <span class="search-icon">&#128269;</span>
                        </div>
                        <ul class="item-list" style="color: #eeebeb;">
                            
                            <li class="items"><span class="item-text">SKU</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Item Type</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Product Type</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Usage Unit</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Sales Description</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Purchase Description</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Purchase price</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Breadth</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Length</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">we</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Date CF</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Dropdown</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">Mandatory customfield</span><span class="add">+</span></li>
                            <li class="items"><span class="item-text">4</span><span class="add">+</span></li>
                        </ul>
                    </div>
                    <!-- <div class="col-md-6" id="addedColumn" style="height: auto; max-height:70vh; width:25vw; overflow-y:auto ;border: 1px solid #ccc; padding-left: 15px;">
                        <h2 style="color: white; position: sticky; top:0;">Selected Column</h2>
                        <ul class="item-list" style="color: #eeebeb;"></ul>
                    </div> -->
                    <div class="col-md-6" id="addedColumn" style="height: 70vh; width:25vw; overflow-y:auto; border: 1px solid #ccc; position: relative; padding-right: 15px;">
                        <h2 style="color: white;" class="p-1">Selected Column</h2>
                        <ul class="item-list" style="color: #eeebeb;">
                            <li class="items"><span class="item-text ">Item Name</span><span class="remove">-</span>
                                <li class="items"><span class="item-text">Quantity Purchased</span><span class="remove">-</span>
                                    <li class="items"><span class="item-text">Amount</span><span class="remove">-</span>
                                        <li class="items"><span class="item-text">Average Price</span><span class="remove">-</span>
                        </ul>
                    </div>
                </div>
                <!-- End Show/Hide Columns section -->
            </div>
        </div>
       
    </div>
</div>

<script>

    // +add more

$(document).ready(function () {
  
  function addNewRow() {
    const newRow = `
    <div class="form-row pt-2">
      <select name="" class="option-select px-2 mb-2" style="width: 17vw;color: black; height:4vh;border-radius:5px;background-color:white;margin-left:5px;">
       
        <optgroup label="Reports">

        {% for i in bills %}
            <option value="" class="row d-flex justify-content-left mt-90">{{ i.item_name }}</option>
        {% endfor %}
        </optgroup>
        <optgroup label="Item" >
                                    <option value="">SKU</option>
                                    <option value="">Breadth</option>
                                    <option value="">Show in PDF</option>
                                    <option value="">we</option>
                                    <option value="">Date CF</option>
                                    <option value="">Dropdown</option>
                                    <option value="">Mandatory customfield</option>
                                    <option value="">4</option>  
                                </optgroup>

      </select>
      &nbsp  &nbsp
      <select name="" class=" mb-2 px-2" id="" style="width: 15vw;color: black; height: 4vh;border-radius:5px;background-color:white;margin-left:50px !important;">
        <option value="" hidden>Select a comparator</option>
        <option value="" disabled >no results found</option>
      </select> 
      &nbsp &nbsp
      <textarea name="fb_text" class="item-textarea" cols="30" rows="2" style="height:1vh; display:none;"></textarea>
      &nbsp&nbsp
      <div class="input-group-prepend">
        <button class="btn btn-light" id="DeleteRow" type="button" style="margin-left:185px !important;>
          <i class="bi bi-trash ">-</i>  
        </button>
      </div>
    </div>
    `;
    $('#newinput').append(newRow);
  }

  $('#rowAdder').on('click', function () {
    addNewRow();
  });

  $(document).on('click', '#DeleteRow', function () {
    $(this).closest('.form-row').remove();
  });

  $(document).on('change', '.option-select', function () {
    const selectedOption = $(this).val();
    const textarea = $(this).closest('.form-row').find('.item-textarea');
    if (selectedOption !== '') {
      textarea.show();
    } else {
      textarea.hide();
    }
  });
});








   document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".custom-list-item");
    const contents = document.querySelectorAll(".custom-content");
    
      

        links.forEach((link, index) => {
            link.addEventListener("click", () => {
                links.forEach(link => {
                    link.classList.remove("active-link");
                });
                link.classList.add("active-link");
                contents.forEach(content => {
                    content.style.display = "none";
                });
                const targetId = link.getAttribute("data-target");
                const targetContent = document.getElementById(targetId);
                targetContent.style.display = "block";
            });
        });
//logic for show/hide columns
const originalAvailableItems = document.querySelectorAll("#originalColumn .items");
      const originalAddButtons = document.querySelectorAll("#originalColumn .add");
      const selectedItems = document.querySelector("#addedColumn .item-list");
      const addedRemoveButtons = document.querySelectorAll("#addedColumn .remove");
      const searchInput = document.getElementById("searchInput");
      const searchIcon = document.querySelector(".search-icon");

      const itemIds = {}; // Map of item text to unique identifier

      originalAddButtons.forEach((button, index) => {
        button.addEventListener("click", () => {
          const itemText = originalAvailableItems[index].querySelector(".item-text").textContent;
          const itemId = `selected-${itemText}`; // Unique identifier
          itemIds[itemText] = itemId;
          const listItem = document.createElement("li");
          listItem.className = "items";
          listItem.innerHTML = `<span class="item-text">${itemText}</span> <span class="remove">-</span>`;
          listItem.setAttribute("data-item-id", itemId); // Set the unique identifier
          selectedItems.appendChild(listItem);
          originalAvailableItems[index].style.display = "none";

          const removeButton = listItem.querySelector(".remove");
          removeButton.addEventListener("click", () => {
            selectedItems.removeChild(listItem);
            originalAvailableItems[index].style.display = "flex";
          });
        });
      });

      addedRemoveButtons.forEach((button) => {
        button.addEventListener("click", () => {
          const selectedItem = button.parentNode;
          const itemText = selectedItem.querySelector(".item-text").textContent;
          const itemId = itemIds[itemText]; // Get the unique identifier

          const listItem = document.createElement("li");
          listItem.className = "items";
          listItem.innerHTML = `<span class="item-text">${itemText}</span> <span class="add">+</span>`;
          listItem.setAttribute("data-item-id", itemId); // Set the unique identifier

          originalAvailableItems[0].parentNode.insertBefore(listItem, originalAvailableItems[0]);
          selectedItems.removeChild(selectedItem);

          const addButton = listItem.querySelector(".add");
          addButton.addEventListener("click", () => {
            selectedItems.appendChild(selectedItem);
            originalAvailableItems[0].parentNode.removeChild(listItem);
          });
        });
      });

      searchInput.addEventListener("input", () => {
    const searchTerm = searchInput.value.toLowerCase();
    originalAvailableItems.forEach(item => {
        const itemText = item.querySelector(".item-text").textContent.toLowerCase();
        if (itemText.includes(searchTerm)) {
            item.style.display = "flex";
            if (searchTerm !== "") {
                item.classList.add("highlight");
            } else {
                item.classList.remove("highlight");
            }
        } else {
            item.style.display = "none";
            item.classList.remove("highlight");
        }
    });

    selectedItems.querySelectorAll(".items").forEach(item => {
        const itemText = item.querySelector(".item-text").textContent.toLowerCase();
        if (itemText.includes(searchTerm)) {
            item.style.display = "flex";
            if (searchTerm !== "") {
                item.classList.add("highlight");
            } else {
                item.classList.remove("highlight");
            }
        } else {
            item.style.display = "none";
            item.classList.remove("highlight");
        }
    });
});

       // Initialize date range picker
       $('#dateRangePicker').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Previous Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
        'Previous Quarter': [
            moment().subtract(3, 'months').startOf('quarter'),
            moment().subtract(3, 'months').endOf('quarter')
        ]
            }
        }, function (start, end, label) {
            // Callback function when a date range is selected
            console.log('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    
    });

























       

       
    
    
    
</script>

{% endblock %}
