{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .dropdown-item:hover{
    color: rgb(226, 149, 5);
}



    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    #tr_data:hover{
      background-color: #757575;
    }
  a{
    color: rgb(240, 239, 238);
  }

  
  .btn{
    color: rgb(218, 164, 48);
    outline-color: azure;
    border: 2px solid rgb(25, 91, 145);
}
.btn:hover{
    color: darkslategray;
    background-color: lightblue;
    outline: none;
}
</style>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <section >
    <div class="row ">
      <div class="col-md-12 " style="width: 100%;">
          <div class="row mx-2">
              <div class="col-md-6"><a class="text-white" style="font-size: 2rem;">All Delivery Challan</a></div>
          </div> 
      </div> 
      <div class="card radius-15 mb-5">
        <div class="card-body">
            <div class="row">
                <div class=" col-md-3">
                    <input type="text" id="search" placeholder="Search..." class="form-control text-light bg-dark px-3 py-2" autocomplete="off">
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-outline-warning  px-3 py-2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sort-amount-up"></i>
                        Sort
                        </button>
                        <div class="dropdown-menu ">
                          <a class="dropdown-item" href="#" id="all-challan">
                            <i class="fa fa-sort"></i> All
                        </a>
                          <a class="dropdown-item" href="#" id="sort-challan">
                            <i class="fa fa-sort"></i> Challan Number
                        </a>
                        <a class="dropdown-item" href="#" id="sort-customer">
                            <i class="fa fa-sort"></i> Customer Name
                        </a>
            
            
                        </div>
                    </div>
                </div>
                    
                    
  
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    
                    <a class="btn text-center px-3 py-2  btn-outline-warning " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    role="button"><i class="fa fa-filter mx-3"></i>
                    </a>
                    <div class="dropdown-menu ">
                      <a class="dropdown-item" href="{% url 'delivery_chellan_home' %}">All</a>
          <a class="dropdown-item" href="{% url 'filter_delivery_draft' %}">Draft</a>
          <a class="dropdown-item" href="{% url 'filter_delivery_sent' %}">Sent</a>
              
                    </div>
                    <a href="{% url   'create_delivery_chellan' %}" class="btn fa fa-plus text-right px-3 py-2  btn-outline-warning" role="button">
                        <span class="mt-2">&nbsp;&nbsp; NEW</span>
                    </a>
                </div>
            </div>
            <hr>

  
  <!-- <div class="row mt-4">
    <div class="col-sm-12">

      <form action="{% url 'filter_chellan_type'%}" method="POST" style="text-align: left;">
        {% csrf_token %}
        <input type="text" name="usr_in" placeholder="search here...">
        <select name="flter_tp" id="" style="width: 100px; height: 28px">
          <option value="Customer">Customer</option>
          <option value="Date">Date</option>
          <option value="Amount">Amount</option>
        </select>
        <button class="btn btn-light text-light" style="background-color: rgb(210, 132, 30);"><i class="mdi mdi-magnify"></i></button>
        
      
      </form>

      <form action="{% url 'filter_chellan'%}" method="POST" style="text-align: right;">
        {% csrf_token %}
        <select name="flter_drop" id="" style="width: 100px; height: 28px">
          <option value="All">All</option>
          <option value="Draft">Draft</option>
          <option value="Send">Send</option>
        </select>
        <button class="btn btn-light text-light" style="background-color: rgb(210, 132, 30);"><i class="mdi mdi-magnify"></i></button>
        
      
      </form>
    </div>
  </div> -->

  <div class="table-responsive">
  
            <table class="table" style="text-align: left;" id="table-id">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>CHALLAN NUMBER</th>
                        <th>CUSTOMER NAME</th>
                        <th>EMAIL</th>
                        <th>TOTAL AMOUNT</th>
                        <th>STATUS</th>
                    </tr>
                </thead>

                <tbody>
                    {% for v in view %}
                    <tr class="clickable-row" style="cursor: pointer;">
                        <td class="text-light"><a href="{% url 'delivery_challan_overview' v.id %}">{{v.chellan_date | date:'d-m-Y'}}</a></td>
                        <td class="text-light"><a href="{% url 'delivery_challan_overview' v.id %}" style="color: rgb(230, 152, 8);">{{v.chellan_no}}</a></td>
                        <td class="text-light"><a href="{% url 'delivery_challan_overview' v.id %}">{{v.customer_name}}</a></td>
                        <td class="text-light"><a href="{% url 'delivery_challan_overview' v.id %}">{{v.customer_mailid}}</a></td>
                        <td class="text-light"><a href="{% url 'delivery_challan_overview' v.id %}">{{v.total}}</a></td>
                        <td class="text-light"><a href="{% url 'delivery_challan_overview' v.id %}">{{v.status}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var $rows = $('#table-id tbody tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.hide().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
        }).show();
    });
</script>

<script>
  $(document).ready(function () {
    var $rows = $('#table-id tbody tr');
    var originalOrder = $rows.toArray(); // Keep a reference to the original order of rows

    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.hide().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
        }).show();
    });

    $('#sort-challan').on('click', function () {
        sortTable(1); // Sort by Challan Number (2nd column)
    });

    $('#sort-customer').on('click', function () {
        sortTable(2); // Sort by Customer Name (3rd column)
    });

    $('#all-challan').on('click', function () {
        // Reset to the original order of rows
        $('#table-id tbody').empty().append(originalOrder);
    });

    function sortTable(column) {
        $rows.sort(function (a, b) {
            var aVal = $(a).find('td').eq(column).text();
            var bVal = $(b).find('td').eq(column).text();
            return aVal.localeCompare(bVal);
        });
        $('#table-id tbody').html($rows);
    }
});

</script>

  <script>
    $(document).ready(function () {
      $("#search").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

 
{% endblock %}