<!-- edit-Rijin-->


{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

.modal{
      z-index: 9999;
      overflow: scroll;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(252, 236, 217);

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    #selected-area{
        font-size: 20px;
    }
    #tr_data:hover{
    background-color: #757575;
  }
  .dropdown-item:hover{
    color: rgb(226, 149, 5);
}



.searchbar,
.overview .bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* margin: 0 1rem; */
}

.searchbar .btn {
    width: 5vw;
    background-color: rgb(28, 117, 233);
    font-size: 1vw;
    color: rgb(255, 255, 255);
}
    
</style>



<script>
    function printForm() {
        var selectedArea = document.getElementById("selected-area");

        var printWindow = window.open('', 'PrintWindow', 'height=800,width=800');

        // Check if selectedArea exists
        if (selectedArea) {
            printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + selectedArea.innerHTML + '</body></html>');
            printWindow.print();
            printWindow.close();
        } else {
            alert("No content to print!");
        }
    }
    

</script>


<div class="row">
    <div class="col-sm-4">
       
        <div class="row p-3 ">
            
                <div class="header">
                    <h5>ALL DELIVERY CHALLAN LIST</h5>
                </div>
                <div class="searchbar">
                    
                    <input class="form-control" type="text" placeholder="Search by Name" name="search" id="search"
                        
                        style="color: rgb(255, 255, 255);background: transparent;margin-right: 5px;">
                    <a class="btn btn-outline mx-1" style="color: #ffffff;background-color: rgb(210, 132, 30);"  href="" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" role="button">
                        <i class="fa fa-filter"></i>
                    </a>
                   
                    <div class="dropdown-menu m-1">
                        <a class="dropdown-item" href="{% url 'delivery_challan_overview' estimate.id %}">All</a>
                        <a class="dropdown-item" href="{% url 'filter_by_draft_chellan_overview' estimate.id %}">Draft</a>
                        <a class="dropdown-item" href="{% url 'filter_by_sent_chellan_overview' estimate.id %}">Sent</a>
                    </div>
                    
                    <a class="btn btn-outline mr-1" style="color: #fdfdfd;background-color: rgb(210, 132, 30);" href="{% url 'create_delivery_chellan' %}"><i class="fa fa-plus"></i></a>
                </div>
            <div>
                <br>
            </div>
                <hr>
        
    </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="pt-3 ps-2 " style="height: 600px; overflow-y: scroll;overflow-x: hidden;">
                    <table class="text-white" style="width: 100%; ">
                        {% for estimate in all_estimates %}
                        <tbody id="table">
                        <tr id="tr_data" class="clickable-row border-bottom" style="cursor: pointer;" data-href="{% url 'delivery_challan_overview' estimate.id %}">
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 style="color: rgb(218, 143, 5);">{{estimate.customer_name}}</h5>
                                    </div>
                                    <div class="col-md-6 text-right" style="color: rgb(218, 143, 5);">&#x20B9;{{estimate.total}}.00</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>{{estimate.chellan_no}}</p>
                                    </div>
                                    <div class="col-md-3 text-left">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>{{estimate.status}}</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
    
                                </div>
                            </td>
                        </tr>
                       
                    </tbody>
    
                        {% endfor %}
                    </table>
                   
                </div>
            </div>
       
        </div>

    </div>
    <div class="col-sm-8">
        <div class="row  mx-1 py-3" style="background-color: rgba(136, 136, 135, 0.1)">
            
                <div class="p-name">
                    <h3 class="px-2 pb-2" id="id1">   {{estimate.chellan_no }} </h3>
                </div>
            <div class="col-sm-5 text-right my-auto" >
               
                <a class="btn mx-1 fa fa-file-word" href="{% url 'delivery_challan_view' id=estimate.id %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;"  class="btn btn-sm m-1 text-white"></a>


                    
                        <a class="btn mx-1, fa fa-eye"  href="#home" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;"  class="btn btn-sm m-1 text-white"></a>

                        <a class="btn mx-1, fas fa-file-invoice"  href="{% url 'delivery_challan_slip' id=estimate.id %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;"  class="btn btn-sm m-1 text-white"></a>
            
            </div>
            
            <div class="col-sm-7 text-white text-right my-auto" style="text-align: end;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'delivery_challan_edit' estimate.id %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;"  class="btn btn-sm m-1 text-white"
                         data-toggle="tooltip" title="Edit">
                        <i class="mdi mdi-pencil"></i></a>
                    <a href="{% url 'render_challan_pdf' estimate.id %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn btn-sm m-1 text-white " 
                        data-toggle="tooltip" title="PDF" id="pdf">
                        <i class="mdi mdi-file-pdf-box"></i></a>
                    <a href="" onclick="printForm()" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn btn-sm m-1 text-white btn_print" 
                        data-toggle="tooltip" title="Print">
                        <i class="mdi mdi-printer"></i></a>
                    <a href="{% url 'emailattachment' %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn btn-sm m-1 text-white"
                         data-toggle="tooltip" title="Email">
                        <i class="mdi mdi-email"></i></a>
            
                       
                        <div class="dropdown m-0 p-0 ms-1 mt-1" title="convert" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;">
                            <a href=" " class=" fas fa-exchange-alt dropdown-toggle  btn-sm text-white ms-1"  
                                data-bs-toggle="dropdown" id="attachmentDropdown" aria-haspopup="true" aria-expanded="false"> 
                            </a>
        
                            <div class="dropdown-menu" aria-labelledby="attachmentDropdown">
                                {% if estimate.status == 'Draft'%}
                        <a href="{% url 'change_status' id=estimate.id  %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn btn-sm m-1 text-white"
                        data-toggle="tooltip" title="Change Status"><i class="fas fa-exchange-alt"> Change status</i>
                       </a>
                       
                        {% endif %}
                                                      
<form action="{% url 'convert_challan_to_invoice' estimate.id %}" method="post">
    {% csrf_token %}
    <button type="submit"  style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn btn-sm m-1 text-white"><i class="fas fa-exchange-alt">Convert to Invoice</i></button>
</form>
                                        
                            </div>
                        </div>


             
                           
                        <div class="dropdown m-0 p-0 ms-1 mt-1" title="comments" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;">
                            <a href=" " class=" fas fa-comment-dots dropdown-toggle  btn-sm text-white ms-1"  
                                data-bs-toggle="dropdown" id="attachmentDropdown" aria-haspopup="true" aria-expanded="false"> 
                            </a>
        
                            <div class="dropdown-menu" aria-labelledby="attachmentDropdown">
                                <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal"
                                 data-target="#cmnts"><i class="fa-solid fa fa-plus"></i>Add</a>
                                <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal"
                                data-target="#cmt_list"><i class="fas fa-list"></i>&nbsp;View List</a>
                                        
                            </div>
                        </div>
                    
                       
                    
                    {% if estimate.attachment != ""%}
                    <a href="{{estimate.attachment.url}}"  style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn  m-1 text-white"
                        data-toggle="tooltip" title="Download Attached File">
                        <span class="mdi mdi-download"></span></a>
                    {%endif%}
                    
                </div>
               
        
                <a href="{% url 'deletechallan' estimate.id %}" style="background-color:  rgb(212, 139, 3);border-radius: 5px;height: 1.7rem;" class="btn btn-sm text-white"  
                onclick="return confirm('Do you want to Delete this Delivery Challan?');"><i class="mdi mdi-delete"></i></a>
            </div>
        </div>

<!-- .................................................................................. -->

<div id="selected-area">
<div id="div_estimate" class="mx-2 my-4 p-4 "
style="background-color: rgba(124, 124, 123, 0); height: 800px;">

<div class="slip p-5 convert_to_pdf " id="whatToPrint"
style="height: auto;background-color: burlywood">
    <div class="row ">
        <div class="col-md-6 ">
            <h2 class="text-dark" style="text-transform: uppercase;">{{ company.company_name }}</h2>
            <h6 class="text-dark">{{ company.address }}</h6>
            <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
        </div>
        <div class="col-md-6 text-right">
            <h1 class="text-dark" style="font-size: 2rem; ">DELIVERY CHALLAN</h1>
            <h6 class="text-dark">Delivery Challan Number : {{estimate.chellan_no }}</h6>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-md-6 mt-auto">
            <h6 class="text-dark">Bill To</h6>
            <h6 class="text-right text-dark" >{{ estimate.customer_name }} <br><span class="text-right text-dark">{{ estimate.customer_mailid }}</span> </h6>
        </div>
        <div class="col-md-6 text-right mt-auto">
            <h6 class="text-dark ">Date : {{ estimate.chellan_date }}</h6>
        </div>
    </div>
    <table class="table mt-2 " style="border-color: black;">
        <thead >
            <tr>
                <th style="color: black;">#</th>
                <th style="width: 30rem;color: black;">Item</th>
                <th style="width: 30rem;color: black;">HSN</th>
                <th class="text-right;" style="color: black;">Quantity</th>
                <th class="text-right;" style="color: black;">Rate</th>
                <th class="text-right;" style="color: black;">Discount</th>
                <th class="text-right;" style="color: black;">Tax</th>
                <th class="text-right;" style="color: black;">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td  class="text-right text-dark">{{ forloop.counter }}</td>
                <td  class="text-right text-dark">{{ item.item_name }}</td>
                <td  class="text-right text-dark">{{ item.hsn }}</td>
                <td class="text-right text-dark">{{ item.quantity }}</td>
                <td class="text-right text-dark">{{ item.rate|floatformat:1 }}</td>
                <td class="text-right text-dark">{{ item.discount|floatformat:1 }}</td>
                <td class="text-right text-dark">{{ item.tax_percentage }}</td>
                <td class="text-right text-dark">{{ item.amount|floatformat:1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table  mt-2">
                <tr>
                    <td class=" text-dark" style="font-weight: bold;">Sub-Total:</td>
                    
                    <td class="text-right text-dark" style="text-align: end;">{{ estimate.sub_total|floatformat:1}}</td>
                </tr>
                {% if estimate.cgst != 0 %}
                <tr>
                    <td class="text-right text-dark">CGST:</td>
                    <td class="text-right text-dark" style="text-align: end;">{{ estimate.cgst|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.sgst != 0 %}
                <tr>
                    <td class="text-right text-dark">SGST:</td>
                    <td class="text-right text-dark" style="text-align: end;">{{ estimate.sgst|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.igst != 0 %}
                <tr>
                    <td class="text-right text-dark">IGST:</td>
                    <td class="text-right text-dark" style="text-align: end;">{{ estimate.igst|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.shipping_charge != 0 %}
                <tr>
                    <td class="text-right text-dark">Shipping Charge:</td>
                    <td class="text-right text-dark" style="text-align: end;">{{ estimate.shipping_charge|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.adjustment != 0 %}
                <tr>
                    <td class="text-right text-dark">Adjustment:</td>
                    <td class="text-right text-dark" style="text-align: end;">{{ estimate.adjustment|floatformat:1}}</td>
                </tr>
                {% endif %}
                <tr>

                    <td class="text-right text-dark " style="font-weight: bold;">Total:</td>
                    
                    <td class="text-right text-dark " style="font-weight: bold;text-align: end;">{{ estimate.total|floatformat:1}}</td>
                </tr>

            </table>

            <div class="row mt-3">
                <div class="col-sm-6" style="text-align: justify;">
                    <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                    <p style="color:black">{{estimate.customer_notes}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-6" style="text-align: justify;">
                    <p class="m-0 font-weight-bold" style="color:black">Terms & Conditions : </p>
                    <p style="color:black">{{estimate.terms_conditions}}</p>
                </div>
            </div>

        </div>
    </div>


</div>


</div>
</div>
</div>

<!-- comment modal -->

<div class="modal fade " id="cmnts"
style="width: 750px; margin-left: 350px; justify-content: center; overflow: hidden;">
<div class="modal-dialog modal-xl m-5 p-5">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h5 class="m-3 text-uppercase text-light">Enter Comment</h5>
            <button type="button" class="close text-dark bg-none" data-dismiss="modal"
                aria-label="Close">&times;</button>

        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37); justify-content: center; overflow: hidden;">
            <div class="card p-0 m-0">
                <form action="{% url 'add_delivery_chellan_comment' estimate.id %}" method="post" class="needs-validation" novalidate autocomplete="off"
                    id="modalComment">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6 mt-2">
                            <textarea class="form-control text-dark bg-light" id="comment" name="comments" required
                                style="height: 200px; width: 520px;"></textarea>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex">
                                <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3" type="submit">Save </button>
                                <button type="button"
                                    class="close btn save_btn rounded-pill text-grey w-50 my-4"
                                    data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">Cancel</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>



<!-- ....................................  comment list modal ................ -->

<div class="modal fade " id="cmt_list"
   style="width: 750px; margin-left: 350px; justify-content: center; overflow: hidden;">
 <div class="modal-dialog modal-dialog-scrollable modal-xl m-5 p-5">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h5 class="m-3 text-uppercase text-light">LIST</h5>
            <button type="button" class="close text-dark bg-none" data-dismiss="modal"
                aria-label="Close">&times;</button>

        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37); justify-content: center; overflow-x: hidden;">
            <div class="card p-0 m-0">

                <div class="row mt-3">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="p-2">
                            <table class="table table-bordered" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="background-color:rgb(218, 143, 3) ;color: white;">Comments</th>
                                    </tr>
                                </thead>
                                {% for comt in comments %}
                                <tbody>
                                    <tr>
                                        <!-- <td><input type="text" value="{{ comt.comments }}" style="width: 100%;height: 20px;"></td> -->
                                        <td><textarea name="" id="" cols="80" rows="5" style="border: none;background-color:transparent ;color: white;">{{ comt.comments }}</textarea></td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

  </div>
</div>




 <!-- .....................................................................................................        -->
<!--         
            <div class="slip p-5 mx-1 convert_to_pdf bg-light" id="selected-area"
                style="box-shadow: 5px 5px 10px rgb(45, 45, 45);">
               
                

                <div class="row ">
                    <div class="col-sm-6 ">
                        <h4 class="text-dark" style="text-transform: uppercase;">{{ company.company_name }}</h4>
                        <h6 class="text-dark">{{ company.address }}</h6>
                        <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <h1 class="text-dark" style="font-size: 1.2rem; ">Delivery Challan</h1>
                        <h6 class="text-dark">DC-{{estimate.chellan_no }}</h6>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-sm-6 mt-auto">
                        <h6 class="text-dark">Bill To</h6>
                        <h6 class="text-dark">{{ estimate.customer_name }}</h6>
                    </div>
                    <div class="col-sm-6  mt-auto" style="text-align: right;">
                        <h6 class="text-dark ">Date : {{ estimate.chellan_date }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table mt-2" style="border-color: black; color: black;">
                            <thead class="bg-secondary text-white">
                                <tr>
                                    <th class="text-center text-dark" style="width: 200px;">#</th>
                                    <th class="text-center text-dark" style="width: 200px;">Item</th>
                                    <th class="text-center text-dark" style="width: 200px;">Quantity</th>
                                    <th class="text-center text-dark" style="width: 200px;">Rate</th>
                                    <th class="text-center text-dark" style="width: 200px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr> 
                                    
                                    <td  class="text-center" style="text-align: center">{{ forloop.counter }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.item_name }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.quantity }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.rate|floatformat:3 }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.amount|floatformat:3 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                
                <div class="row" >
                    <div class="col-sm-6" style="padding-left: 75%;  margin-top: 1%;">
                        <table class="table" style="color: black">
                            <tr>
        
                                <td class="text-right">Sub-Total:</td>
                                <td class="text-right">{{ estimate.sub_total|floatformat:3}}</td>
                            </tr>
                            {% if estimate.cgst != 0 %}
                            <tr>
                                <td class="text-right">CGST:</td>
                                <td class="text-right">{{ estimate.cgst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.sgst != 0 %}
                            <tr>
                                <td class="text-right">SGST:</td>
                                <td class="text-right">{{ estimate.sgst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.igst != 0 %}
                            <tr>
        
                                <td class="text-right">IGST:</td>
                                <td class="text-right">{{ estimate.igst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.shipping_charge != 0 %}
                            <tr>
        
                                <td class="text-right">Shipping Charge:</td>
                                <td class="text-right">{{ estimate.shipping_charge|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.adjustment != 0 %}
                            <tr>
        
                                <td class="text-right">Adjustment:</td>
                                <td class="text-right">{{ estimate.adjustment|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            <tr>
        
                                <td class="text-right">Total:</td>
                                <td class="text-right">{{ estimate.total|floatformat:3}}</td>
                            </tr>
        
                        </table>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-sm-6" style="text-align: justify;">
                        <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                        <p style="color:black">{{estimate.customer_notes}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6" style="text-align: justify;">
                        <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                        <p style="color:black">{{estimate.customer_notes}}</p>
                    </div>
                </div>


            </div> -->
         
     
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script>
    // Add click event listener to all rows with class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Get the URL from the "data-href" attribute
            const url = row.getAttribute('data-href');
            // Navigate to the URL
            window.location.href = url;
        });
    });
</script>

<script>
    var $rows = $('#table tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.hide().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
        }).show();
    });
  
  </script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



{% endblock %}