{% extends 'nav.html' %}
{% load static %}
{% block  content %}
<section>

  <div class="row  ml-4 " style="top: 7rem;">
    <div class="col-md-2 " style="border-right: 1px solid white;height: 100vh;position: fixed;">
      <h6 class="mb-4"><a class="active text-white " href="{% url 'base' %}"><i class="fa fa-fw fa-home mr-2 text-white "></i> Home</a> </h6>
      <h6 class="mb-4"><a class="active  text-white " href="{% url 'itemview' %}"><i class="fa-solid fa-sitemap mr-3 "></i>Items</a> <a class="ml-5 active text-white" href="{% url 'additem' %}"><i class="fa-solid fa-plus "></i></a></h6>
      <h6 class="mb-4"><a class="active text-white " href="#"><i class="fa-solid fa-building-columns mr-3"></i>Banking</a></h6>
      <h6 class="mb-4 "><a class="active  text-white" href="#"><i class="fa-solid fa-cart-shopping mr-3"></i>Sales</a></h6>
      <h6 class="mb-4"><a class="active text-white " href="#"><i class="fa-solid fa-basket-shopping mr-3"></i>Purchases</a></h6>
      <h6 class="mb-4"><a class="active text-white " href="#"><i class="fa-solid fa-business-time mr-3 "></i>Time Tracking</a></h6>
       <h6 class="mb-4"><a class="active text-white " href="#"><i class="fa-solid fa-user mr-3 "></i>Accountant</a></h6>
       <h6 class="mb-4"><a class="active text-white " href="#"><i class="fa-solid fa-calendar-week mr-3"></i>Reports</a></h6>
       <h6 class="mb-4"><a class="active text-white " href="#"><i class="fa-solid fa-file mr-3"></i>Documents</a></h6>
        <h6 class="mb43"><a class="active text-white " href="#"><i class="fa-solid fa-money-bill mr-3 "></i>Payroll</a></h6>
    </div>
   <div class="col-md-3" style="border-right: 1px solid white;height: 100vh;margin-left: 16.5rem;position: fixed;">
     <div class="row">
       <div class="col-md-4"><a class="text-white" style="font-size: 1.5rem;">All Items</a></div>
       <div class="col-md-4 " style="margin-top: -3rem;"><a style="color: #ccc;width: 4rem;height: 2rem;margin-top: 3rem;" class="btn btn-success " href="{% url 'additem' %}"><i class="fa-solid fa-plus "></i>New</a>
         <a style="color: #ccc;"href="#3">      
           <form action="">
             <select name="" style="width: 4rem;margin-top: -2rem;margin-left: 5rem;" class="form-control">
 
               <option value="">...</option>
               <option value="active" >Mark as active</option>
               <option value="inactive" >Mark as Inactive</option>
           </select>
           </form> </a>
       </div>
     </div> 
     <table class="table  text-white">
       <thead>
         <tr>
           <th>Name</th>
          
         </tr>
         
       </thead>
       <tbody>
         {% for v in allproduct %}

         <tr>

           <td ><a class="text-white " href="{% url 'detail' v.id %}">{{v.Name}}</a></td>
        
         </tr>
        
         {% endfor %}
         <tr>
          <td><hr></td>
          </tr>
       </tbody>
     </table>
  
   </div> 
   
   <div class="col-md-6" style="margin-left: 41rem;position: fixed;">
     <div class="row">
       <div class="col-md-4"><a class="text-white" style="font-size: 1.5rem;"><h2>{{product.Name}}</h2></a></div>
       
       <div class="col-md-4 " style="margin-top: -3rem;margin-left: 14rem;"><a style="color: #ccc;width: 4rem;height: 2rem;margin-top: 3rem;" class="btn btn-light text-dark " onclick="location.href ='{% url 'edititem' product.id %}' "><i class="fa fa-pencil"></i></i></a>
         <a style="color: #ccc;"href="#3">      
           <form action="{% url 'Action' product.id %}" method="post">
            {% csrf_token %}
             <select name="action" style="width: 5rem;margin-top: -2rem;margin-left: 5rem;height: 2rem;" class="form-control">
 
               <option value="">More</option>
              {% if product.satus == 'active' %}
              <option value="inactive">in Active</option>
               <option value="delet">Delete</option>
               {% else %}
               <option value="active">Active</option>
               <option value="delet">Delete</option>
               {% endif %}
           </select>
           <input style="color: #ccc;height: 2rem;margin-top: -3.6rem;margin-left: 11rem;" class="btn btn-secondary  text-white " type="submit">

           </form> </a>
       </div>
     </div>
     <button class="btn btn-dark text-white">{{product.satus}}</button>

     <!-- ============================ tab view (detail page )==================================== -->


     
    <div class="tabs">
    <div class="tab-header">

     <div class="active">
       <i class="fa fa code"></i>OverView
     </div>
     <div >
       <i class="fa fa code"></i> Description
     </div>

     <div >
       <i class="fa fa code"></i> History
     </div>

    </div>

    <div class="tab-indicator"></div>


    <div class="tab-body">
     <div class="activ ">
      <h6 class="mr-5">Account Type</h6>
      <h6 style="margin-top: -1.7rem; margin-left: 10rem;" >{{product.type}}</h6> 

       <h6 class="mr-5">Unit</h6>
       <h6 style="margin-top: -1.7rem; margin-left: 10rem;" >{{product.unit.unit}}</h6> 

       <h6 class="mr-4 ">Created Source</h6>
       <h6 style="margin-top: -2rem; margin-left: 10rem; margin-bottom: 2rem;" >{{product.user.username}}</h6> 
      <h4 class="mb-3"><b>Purchase Information</b></h4>
      <h6 class="mr-5">Cost price</h6> <br>
      <h6 style="margin-top: -3rem; margin-left: 10rem;" >{{product.p_price}}</h6> <br>
      <h6 class="mr-5">Purchase Account</h6>
      <h6 style="margin-top: -2rem; margin-left: 10rem;" >{{product.purchase.Account_name}}</h6> <br>
      <h6 class="mr-5">Description</h6>
      <h6 style="margin-top: -2rem; margin-left: 10rem;" >{{product.p_desc}}</h6> 

      <h4 class="mb-3 mt-4"><b>Sales Information</b></h4>
      <h6 class="mr-5">Selling  price</h6> <br>
      <h6 style="margin-top: -3rem; margin-left: 10rem;" >{{product.s_price}}</h6> <br>
      <h6 class="mr-5">Sales  Account</h6>
      <h6 style="margin-top: -2rem; margin-left: 10rem;" >{{product.sales.Account_name}}</h6> <br>
      <h6 class="mr-5">Description</h6>
      <h6 style="margin-top: -2rem; margin-left: 10rem;" >{{product.s_desc}}</h6> 
      
      
       
     </div>

     <div >
       <h2>There is no transaction yet</h2>
       <p>do something</p>
     </div>


     <div >
      <h6>{{product.date}}</h6>
       <h6 style="margin-left: 15rem ;margin-top: -1.8rem;">{{product.history}}</h6>
   
     
      
    
      
      
     </div>


    </div>

<script>

let tabHeader = document.getElementsByClassName("tab-header")[0];
let tabIndicator = document.getElementsByClassName("tab-indicator")[0];
let tabBody = document.getElementsByClassName("tab-body")[0];

let tabsPane =tabHeader.getElementsByTagName("div")
for(let i=0;i<tabsPane.length;i++){
tabsPane[i].addEventListener("click",function(){
 tabHeader.getElementsByClassName("active")[0].classList.remove("active");
 tabsPane[i].classList.add("active");

 tabBody.getElementsByClassName("activ")[0].classList.remove("activ");
tabBody.getElementsByTagName("div")[i].classList.add("activ");

   tabIndicator.style.left = 'calc(calc(100% / 3) * ${i})';

});
}


</script>


   </div>

   </div>

  </div>

 
</section>

{% endblock %}