{% extends 'base.html' %}
{% block content %}
{% load static %}



<!-- class="row fixed-top " -->
<!-- style=" position: fixed;" -->
<style>
    .dark-select {
        background-color: #333;
        color: #fff;
        width: 200px;
    }
    .input-group-text , .table .input-group-text {
        /* background-color: white; Change background color to white */
        color: rgb(255, 255, 255); /* Change text color to black or your desired text color */
    }

    .input-group-prepend {
        border: 1px solid white; /* Change border color to white */
    }
</style>
<!-- <section > -->
<div>


    <h3 class="mb-3  text-white " style="font-size: 2rem;">Edit Project</h3><br>

    <form method="post" action="{% url 'editprojdb' proj.id %}" enctype="multipart/form-data">
        {% csrf_token %}


        <div class=" form-group row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                <label>Project name*</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control bg-light text-dark" name="name" value="{{proj.name}}" required>
                <div class="invalid-feedback">Please fill out this field.</div>

            </div>

        </div>

        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Description</label></div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control bg-light text-dark" name="desc" value="{{proj.desc}}" required>
                <div class="invalid-feedback">Please fill out this field.</div>

            </div>


        </div>
        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                <label>Customer Name*</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <select name="c_name" id="customer-select" class="form-control bg-light text-dark">
                    <option value="">Select Customer</option>
                    {% for c in data %}
                    {% if c.id == proj.c_name.id %}
                    <option value="{{c.id}}" selected>{{c.customerName}}</option>
                    {% else %}
                    <option value="{{c.id}}" data-email="{{ c.customerEmail }}">{{c.customerName}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                <label>Email</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="text" id="customer-email" class="form-control bg-light text-dark"
                    value="{{proj.c_name.customerEmail}}">
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
              <label>GST Treatment</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <input type="text" id="customer-gst" class="form-control bg-light text-dark" value="{{proj.c_name.GSTTreatment}}">
            </div>
          </div>
          {% if proj.c_name.GSTTreatment != 'Unregistered Business-not Registered under GST' %}
          <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
              <label>GSTIN</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <input type="text" id="gstin" class="form-control bg-light text-dark" value="{{proj.c_name.GSTTreatment}}">
            </div>
          </div>
          {% endif %}

          <div class="form-group row mt-4" id="gstin" style="display: none;">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
              <label>GSTIN</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <input type="text" id="customer-gstin" class="form-control bg-light text-dark" >
            </div>
          </div>

        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Billing Method*</label></div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <select name="billing" id="billingMethodSelect" class="form-control bg-light text-dark">
                    <option value="{{proj.billing}}">{{proj.billing}}</option>
                    <option value="Fixed cost for project">Fixed cost for project</option>
                    <option value="Based on project hours">Based on project hours</option>
                    <option value="Based on staff hours">Based on staff hours</option>
                    <option value="Based on task hours">Based on task hours</option>
                </select>
            </div>
        </div>
        <div id="inputBoxContainer" style="display: none;">
            <div class="form-group row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                    <label id="rateLabel">Rate per hour*</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="color: #fff;">INR</div>
                        </div>
                        <input type="text" class="form-control bg-light text-dark" name="rateperhour"
                            value="{{proj.rateperhour}}" id="inputBox">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Budget Type*</label></div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <select name="budget" id="budgetMethodSelect" class="form-control bg-light text-dark">
                    <option value="{{proj.budget}}" selected>{{proj.budget}}</option>
                    <option value="Total budget cost">Total budget cost</option>
                    <option value="Total project hours">Total project hours(HH:MM)</option>
                    <option value="Hours per task">Hours per task</option>
                    <option value="Hours per staff">Hours per staff</option>
                </select>
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                <label>Start Date</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="date" id="startdate" name="start" class="form-control bg-light text-dark"
                    value="{{proj.start | date:'Y-m-d'}}">
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                <label>End Date</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="date" id="enddate" name="end" class="form-control bg-light text-dark"
                    value="{{proj.end | date:'Y-m-d'}}">
            </div>
        </div>
        <script>
            var fromDate;
            $('#startdate').on('change', function () {
                fromDate = $(this).val();
                $('#enddate').prop('min', function () {
                    return fromDate
                })
            })
            var toDate;
            $('#enddate').on('change', function () {
                toDate = $(this).val();
                $('#startdate').prop('max', function () {
                    return toDate
                })
            })
        </script>

        <label for="">Users</label><br>

        <table class="table text-black" id="tab_logic">
            <thead>
                <tr>
                    <th>User</th>
                    <th class="text-right">E-mail</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="items-table-body">

                <tr id="addr0">
                    {% for i in usern %}
                    <td>
                        <select name="user_select" class="form-control user-select bg-light text-dark"
                            id="user_select">
                            <option value="{{i.usernamez}}">{{i.name}}</option>
                            {% for d in emp %}
                            <option value="{{d.id}}" data-email="{{d.first_name}}">{{d.first_name}} {{d.last_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-right">
                        <input type="email" class="form-control bg-light text-dark" name="email" value="{{i.emailz}}"
                            id="email">
                    </td>
                    <td class="text-center">
                        <button type="button"
                            class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row"
                            style="width:30px">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
        <script>
            $(document).on('change', '#user_select', function () {
                var employee = $('#user_select').val();
                console.log(employee)
                $.ajax({
                    type: "GET",
                    url: "{% url 'getemployee' %}",
                    data: {
                        id: employee
                    },
                    success: function (response) {
                        data7 = response.email
                        console.log(data7)
                        document.getElementById('email').value = data7

                    }
                });

            });

        </script>
        <button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);"
            id="add-user-row">Add User</button><br><br><br>
        <!--<button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);" id="create-user">Create User</button><br><br><br>-->

        <label for="">Tasks</label><br>

        <table class="table text-black" id="task_table">
            <thead>
                <tr>
                    <th>Task name</th>
                    <th class="text-right">Description</th>
                    <th></th>
                    <th class="text-right">Rate per hour</th>
                    
                    <th class="text-center">Actions</th>

                </tr>
            </thead>
            <tbody id="items-table-task">
                {% for v in taskz %}
                <tr id="addt0">
                    <td>
                        <input type="text" class="form-control bg-light text-dark" id="task1" name="taskname"
                            value="{{v.taskname}}">
                    </td>
                    <td class="text-right">
                        <input type="text" class="form-control bg-light text-dark" id="desc1" name="taskdes"
                            value="{{v.taskdes}}">
                    </td>
                    <td></td>
                    {% if v.taskrph != '' and proj.billing == 'Based on staff hours' %}
                    <td class="text-right" id="rph">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">INR</div>
                            </div>                            
                            <input type="text" class="form-control bg-light text-dark" id="tsk1" name="taskrph" value="{{v.taskrph}}">
                        </div>
                    </td>
                    {% endif %}
                   
                    <td class="text-center">
                        {% if v.billable == 'Billed' %}
                        <input type="checkbox" id="billable1" name="billable" placeholder="work phone" checked>
                        {% else %}
                        <input type="checkbox" id="billable1" name="billable" placeholder="work phone">
                        {% endif %}

                        <label style="color: gainsboro;">Billable</label>
                    </td>
                    <td id="hidden" style="display: none;"><input class="form-control text-dark" type="date"
                            name="billdate" value="{{v.billdate | date:'Y-m-d'}}"></td>
                    <td>
                        <button type="button"
                            class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row"
                            style="width:30px">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                if ($("#billable1").prop("checked")) {
                    $("#hidden").css("display", "block");
                } else {
                    $("#hidden").css("display", "none");
                }
                $("#billable1").change(function () {
                    if (this.checked) {
                        $("#hidden").css("display", "block");
                    } else {
                        $("#hidden").css("display", "none");
                    }
                });
            });
        </script>

        <button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);"
            id="add-task-row">Add Task</button><br><br>

        <!--<div class="col-sm-12 col-md-6 col-lg-6">
        <input  type="checkbox"  name="w_phone" placeholder="work phone" required>
           div
        <label class="col-sm-12 col-md-6 col-lg-6 ">Add to the watchlist on my dashboard.</label>
        </div>-->
        <button type="submit" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);"
            id="save-btn">Save</button>
        <button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);"
            id="cancel-btn">Cancel</button>
    </form>
</div>
<!--<script>
        // Function to fetch customer email based on the selected customer name
        function getCustomerEmail() {
            var customerSelect = document.getElementById('customer-select');
            var customerEmailInput = document.getElementById('customer-email');
            var selectedOption = customerSelect.options[customerSelect.selectedIndex];
            var email = selectedOption.dataset.email;
    
            customerEmailInput.value = email;
        }
    
        // Call the function on page load
        window.onload = getCustomerEmail;
    
        // Handle change event of the customer select dropdown
        document.getElementById('customer-select').addEventListener('change', function() {
            getCustomerEmail();
        });
        </script>-->
<script>
    $(document).ready(function () {
        var billingMethodSelect = $('#billingMethodSelect');
        var rateLabel = $('#rateLabel');
        var inputBoxContainer = $('#inputBoxContainer');
        var rateColumn = $('#task_table th:nth-child(3), #task_table td:nth-child(3)');

        // Function to show the correct label and input based on the selected billing method
        function showCorrectLabelAndInput() {
            var selectedOption = billingMethodSelect.val();

            if (selectedOption === 'Fixed cost for project') {
                rateLabel.text('Total project cost*');
                inputBoxContainer.show();
                $('#rph').hide();
            } else if (selectedOption === 'Based on project hours') {
                rateLabel.text('Rate per hour*');
                inputBoxContainer.show();
                $('#rph').hide();
            } 
                else if (selectedOption === 'Based on staff hours') {
                rateLabel.text('Rate per hour*');
                inputBoxContainer.hide();
                $('#rph').show();
            } else {
                rateLabel.text('Rate per hour*');
                inputBoxContainer.hide();
                $('#rph').show();
            }
        }

        // Trigger the function on page load
        showCorrectLabelAndInput();

        // Handle change event of the billing method select dropdown
        billingMethodSelect.on('change', function () {
            showCorrectLabelAndInput();
        });
    });

</script>

<script>
    $(document).ready(function () {
        $("#billingMethodSelect").change(function () {
            var selectedOption = $(this).val();
            if (selectedOption === "Fixed cost for project") {
                $("#rateLabel").text("Total project cost*");
            } else {
                $("#rateLabel").text("Rate per hour*");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Handle change event for user select dropdowns
        $(document).on('change', '.user-select', function () {
            var selectedUser = $(this).val();
            var selectedEmail = $(this).find('option:selected').data('email');
            $(this).closest('tr').find('.email-input').val(selectedEmail);
        });

        // Trigger change event for existing user select dropdowns on page load
        $('.user-select').trigger('change');
    });

</script>
<script>
    $(document).ready(function () {
        // Delete row when the delete button is clicked
        $(document).on('click', '.delete-row', function () {
            $(this).closest('tr').remove();
        });
    });
</script>

<script>
    $(document).on('click', '#user_select', function () {
        var select = $('#user_select').val();
        $.ajax({
            type: "GET",
            url: "{% url 'itemdata2' %}",
            data: {
                id: select
            },
            success: function (response) {
                console.log(response);
                var data = response.email;
                $('#email').val(data);
            }
        });
    });

</script>
<script>
    $(document).on('click', '#user_select1', function () {
        var select = $('#user_select1').val();
        $.ajax({
            type: "GET",
            url: "{% url 'itemdata2' %}",
            data: {
                id: select
            },
            success: function (response) {
                console.log(response);
                var data = response.email;
                $('#email1').val(data);
            }
        });
    });
</script>
<script>
    $(document).on('click', '#user_select2', function () {
        var select = $('#user_select2').val();
        $.ajax({
            type: "GET",
            url: "{% url 'itemdata2' %}",
            data: {
                id: select
            },
            success: function (response) {
                console.log(response);
                var data = response.email;
                $('#email2').val(data);
            }
        });
    });
</script>
<script>
    $(document).on('click', '#user_select3', function () {
        var select = $('#user_select3').val();
        $.ajax({
            type: "GET",
            url: "{% url 'itemdata2' %}",
            data: {
                id: select
            },
            success: function (response) {
                console.log(response);
                var data = response.email;
                $('#email3').val(data);
            }
        });
    });
</script>
<script>
    $(document).on('click', '#user_select4', function () {
        var select = $('#user_select4').val();
        $.ajax({
            type: "GET",
            url: "{% url 'itemdata2' %}",
            data: {
                id: select
            },
            success: function (response) {
                console.log(response);
                var data = response.email;
                $('#email4').val(data);
            }
        });
    });
</script>
<script>
     $(document).on('change', '#customer-select', function () {
        var customer = $('#customer-select').val();
        $.ajax({
          type: "GET",
          url: "{% url 'customerdata' %}",
          data: {
            id: customer
          },
          success: function (response) {
            // console.log(response.email)
            dataemail = response.email;
            datagst =response.gst;
            datagstin =response.gstin;
            
            document.getElementById('customer-email').value = dataemail;
            document.getElementById('customer-gst').value = datagst;
            if(datagst !='Unregistered Business-not Registered under GST' ){
              document.getElementById('gstin').style.display='flex';
              document.getElementById('customer-gstin').value = datagstin;
            }
            else{
              document.getElementById('gstin').style.display='none';
            }

          }
        });
      });
</script>




<script>
    $(document).ready(function () {
        var roinc = 0;

        $('#add-task-row').click(function () {
            roinc++;
            $('#items-table-task').append(`
      <tr id="addt0${roinc}">
        <td>
          <input type="text" class="form-control bg-light text-dark" id="task1${roinc}" name="taskname[]">
        </td>
        <td class="text-right">
          <input type="text" class="form-control bg-light text-dark" id="desc1${roinc}" name="taskdes[]">
        </td>
        <td class="text-right rate-column">
            <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">INR</div>
                        </div>
                        <input type="text" class="form-control bg-light text-dark" id="tsk1${roinc}" name="taskrph[]" >
                      </div>
        </td>
        <td class="text-center">
          <input type="checkbox" id="billable1${roinc}" name="billable[]" placeholder="work phone" checked>
          <label style="color: gainsboro;">Billable</label>
          <button type="button" class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row" id="${roinc}" style="width:30px">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    `);
            applyHideShowForRateColumn();
        });

        $('#billingMethodSelect').change(function () {
            applyHideShowForRateColumn();
        });

        function applyHideShowForRateColumn() {
            var selectedMethod = $('#billingMethodSelect').val();
            if (selectedMethod === "Fixed cost for project" || selectedMethod === "Based on project hours") {
                $('.rate-column').hide();
            } else {
                $('.rate-column').show();
            }
        }
    });

    $(document).on('click', '.delete-row', function () {
        var row_id = $(this).attr("id");
        $('#addt0' + row_id + '').remove();
    });
</script>



<script>
    $(document).ready(function () {
        var roinc = 0
        $('#add-user-row').click(function () {
            roinc++
            console.log('hi')
            $('#items-table-body').append(
                `<tr id="addr0${roinc}">
        <td>
            <select name="user_select[]" class="form-control user-select bg-light text-dark"  id="user_select${roinc}">
                {% for d in uc %}
                    {% if d.usernamezz == v.usernamez %}
                        <option value="{{ d.usernamezz }}" data-email="{{ d.emailzz }}" selected>{{ d.usernamezz }}</option>
                    {% else %}
                        <option value="{{ d.usernamezz }}" data-email="{{ d.emailzz }}">{{ d.usernamezz }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
        <td class="text-right">
            <input type="email" class="form-control email-input bg-light text-dark" name="email[]" value="{{ v.emailz }}">
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row" style="width:30px">
                <i class="fa fa-times"></i>
            </button>
        </td>
    </tr>`
            )
        }
        );
    });
    $(document).on('click', '.remove_row', function () {
        var row_id = $(this).attr("id");
        $('#addr0' + row_id + '').remove();
    });

</script>

<script>
    // Wait for the document to be ready
    $(document).ready(function () {
        // Handle select change event
        $('#billingMethodSelect').on('change', function () {
            var selectedOption = $(this).val();

            // Check if the selected option requires an input box
            if (selectedOption === 'Fixed cost for project' || selectedOption === 'Based on project hours') {
                $('#inputBoxContainer').hide();
                $('#task_table th:nth-child(3), #task_table td:nth-child(3)').hide();
            } else {
                $('#inputBoxContainer').show();
                $('#task_table th:nth-child(3), #task_table td:nth-child(3)').show();
            }
        });
    });
</script>


<script>
    // Wait for the document to be ready
    $(document).ready(function () {
        // Handle select change event
        $('#billingMethodSelect').on('change', function () {
            var selectedOption = $(this).val();

            // Check if the selected option requires an input box
            if (selectedOption === 'Fixed cost for project' || selectedOption === 'Based on project hours') {
                $('#inputBoxContainer').show();
            } else {
                $('#inputBoxContainer').hide();
            }
        });
    });
</script>














{% endblock %}