<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
	  <link rel="stylesheet" type="static/text/css" href="css/nunito-font.css">
    <link rel="stylesheet" href="static/css/style.css"/>
    <script src="https://kit.fontawesome.com/3b9793c077.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Zoho Django</title>
    <style>

      body{

        background-image: url("{% static 'images/wallpaper1.jpg'%}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
      }

      .rounded-circle{

        width: 60px;
      }

      h3{

        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: azure; 
        justify-content: center;
        text-transform: capitalize;
      }
      .navbar.vertical li.full-height {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ccc;
  width: ;

}

.navbar.vertical li.full-height a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ece3e3; /* Change to your desired link color */
  padding: 1rem; /* Add padding to the link text to create clickable area */
}
.active{
  color: #ccc;
}
.active :hover{
  background-color: rgb(90, 90, 240);

}

</style>
</head>
<body>
    {% if user.is_authenticated %}

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      
      <header class="site-navbar m-0 p-0" role="banner" style="top: 0rem;">
  
        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-11 col-xl-2">
              <h1 class="mb-0 site-logo"><a href="{% url 'index' %}" class="text-white mb-0">Zoho Django</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
  
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                
                  <li class="dropdown"><a  href="" >
                    {% if pat.profile_pic %}
                      <img src="{{ pat.profile_pic.url }}" class="rounded-circle" >
                    {% else %}
                      <img src="{% static 'images/default.png' %}"  class="rounded-circle" >
                    {% endif %}

                    {% if company.comapny_name %}
                      <h3> <b><em >{{ company.company_name }}  </em></b></h3>
                    {% else %}
                      <h3 ><b><em > Add Company</em></b></h3>
                    {% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-left">
                    <a class="dropdown-item" href="#"><i class="bx bx-user"></i><span>Profile</span></a>
                    <a class="dropdown-item" href="#"><i class="bx bx-tachometer"></i><span>Dashboard</span></a>
                    <div class="dropdown-divider mb-0"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="bx bx-power-off"></i><span>Logout</span></a>
                </div>
                  </li>
                  <li><a href="{% url 'view_profile' %}"><i class="bx bx-user"></i><span>Profile</span></a></li>
                  <li> <a href="{% url 'base' %}"><i class="bx bx-tachometer"></i><span>Dashboard</span></a></li>
                  <li><a href="{% url 'logout' %}"><i class="bx bx-power-off"></i><span>Logout</span></a></li>

                </ul>
              </nav>
            </div>
  
  
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
  
            </div>
  
          </div>
        </div>
        
      </header>
    
      <section>
       <div class="row fixed-top ml-4 " style="top: 7rem;">
        <div class="col-md-2" style="border-right: 1px solid white;height: 100vh;">
          <h6 class="mb-4"><a class="active  " href="{% url 'base' %}"><i class="fa fa-fw fa-home mr-2 "></i> Home</a> </h6>
          <h6 class="mb-4"><a class="active  " href="{% url 'itemview' %}"><i class="fa-solid fa-sitemap mr-3 "></i>Items</a> <a class="ml-5 active" href="{% url 'additem' %}"><i class="fa-solid fa-plus "></i></a></h6>
          <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-building-columns mr-3"></i>Banking</a></h6>
          <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-cart-shopping mr-3"></i>Sales</a></h6>
          <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-basket-shopping mr-3"></i>Purchases</a></h6>
          <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-business-time mr-3 "></i>Time Tracking</a></h6>
           <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-user mr-3 "></i>Accountant</a></h6>
           <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-calendar-week mr-3"></i>Reports</a></h6>
           <h6 class="mb-4"><a class="active  " href="#"><i class="fa-solid fa-file mr-3"></i>Documents</a></h6>
            <h6 class="mb43"><a class="active  " href="#"><i class="fa-solid fa-money-bill mr-3 "></i>Payroll</a></h6>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">All Items</a></div>
            <div class="col-md-6 form-inline" style="margin-left: 55rem;margin-top: -2rem;"><a style="color: #ccc;" class="btn btn-success mr-2" href="{% url 'additem' %}"><i class="fa-solid fa-plus "></i>New</a>
              <a style="color: #ccc;"href="#3">      
                <form action="">
                  <select name="" class="form-control">
                    <option value="">...</option>
                    <option value="active" >Mark as active</option>
                    <option value="inactive" >Mark as Inactive</option>
                </select>
                </form> </a>
            </div>
          </div>
          <table class="table  text-white">
            <thead>
              <tr>
                <th>Name</th>
                <th>description</th>
                <th>Rate</th>
                <th>usage unit</th>
              </tr>
            </thead>
            <tbody>
              {% for v in view %}

              <tr>

                <td ><input class="mr-2" type="checkbox"><a class="text-white" href="{% url 'item_detail'  %}">{{v.Name}}</a></td>
                <td>{{v.s_desc}}</td>
                <td>{{v.s_price}}</td>
                <td>{{v.unit.unit}}</td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
       
       </div>
      
    </section>
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
      
    
    {% endif %}
 
</body>
</html>



