{% load static %}

{% block content %}

<style>
    p{
        font-size: 18px;
    }
    
</style>
<div class="vendor-name" style="margin-top: 20px;">
    <h5>{{ payment.vendor.first_name }} &nbsp;{{ payment.vendor.last_name }}</h5>
</div>
<div class="container-fluid" id="whatToPrint" style="background-color: burlywood; height: 1000px; margin-top: 40px;" >
    <div class="list-group">
        <h2 class="text-dark text-center" style="margin-top: 20px;">Payment Made</h2>
        <div class="vendor-company" style="margin-top: 30px;">
            <h3  style="color: #6c7293;">{{ company.company_name }}</h3>

           </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-6">
               <div class="vendor-name" style="margin-top: 30px;">
                <h5 class="text-dark">Vendor: <span class="text-dark">{{ payment.vendor.first_name }}&nbsp;{{ payment.vendor.last_name }}</span></h5>

               </div>
               <div class="vendor-email" style="margin-top: 60px;">
                <h5 class="text-dark">Email: <span class="text-dark">{{ payment.vendor.vendor_email }}</span></h5>

            </div>
            <div class="vendor-date" style="margin-top: 60px;">
                <h5 class="text-dark">Payment Date: <span class="text-dark">{{ payment.date }}</span></h5>

            </div>
            <div class="vendor-refernce" style="margin-top: 60px;">
                <h5 class="text-dark">Reference: <span class="text-dark">{{ payment.reference }}</span></h5>

            </div>
            <div class="vendor-gst" style="margin-top: 50px;">
                <h5 class="text-dark">GST Treatment: <span class="text-dark">{{ payment.gst }}</span></h5>

            </div>
            <div class="vendor-gst" style="margin-top: 40px;">
                <h5 class="text-dark">GST Number: <span class="text-dark">{{ payment.gst_number }}</span></h5>

            </div>
            </div>
            <div class="col-lg-6">
                
                <div class="other-section" style="background-color: #8b3138; padding: 10px; margin-top: 10px; color: #fff; border-radius: 20px;">
                    <div class="vendor-amount" style="margin-top: 10px;">
                        <h5 class="text-warning">Amount Received: <span class="text-warning">₹{{ payment.amount }}</span></h5>
        
                    </div>
                    <div class="vendor-method" style="margin-top: 60px;">
                        <h5 >Payment-Method: <span >{{ payment.payment }}</span></h5>
        
                    </div>
                    <div class="vendor-through" style="margin-top: 60px;">
                        <h5 >Paid Through: <span>{{ payment.cash }}</span></h5>
        
                    </div>
                    <div class="vendor-openning" style="margin-top: 60px;">
                        <h5 >Openning Balance: <span>₹{{ payment.balance }}</span></h5>
        
                    </div>
                    <div class="vendor-balance" style="margin-top: 60px;">
                        <h5>Current Balance: <span>₹{{ payment.current_balance }}</span></h5>
        
                    </div>
                </div>
            </div>
        </div>

                
    </div>
</div>




{% endblock %}
