{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.js"></script>


<style>
    .dropdown-item{
        color: rgb(157, 157, 157);
    }
    .dropdown-item:hover{
        color: white;
    }
    .ts_sm{
        text-shadow: 3px 3px 3px black;
    }
    .ts_sm_sm{
        text-shadow: 2px 2px 2px black;
    }
    .ts_sm_sm_sm{
        text-shadow: 1px 1px 1px black;
    }
    .ts_sm_sm_blue{
        text-shadow: 2px 2px 2px rgb(0, 14, 92);
    }
    .bs_sm{
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.075);
    }
    .bs_bg{
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.404);
    }
    .customize_btn{
        color: rgb(135, 135, 255);
        cursor: pointer;
        transition: all 0.1s linear;    
    }
    .customize_btn:hover{
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all 0.1s linear;
    }
    .text_hover1:hover{
        color: white;
    }
    .text_hover1{
        color: rgb(97, 97, 97);
    }
    .sched_btn{
        text-shadow: 1px 1px 1px black;
    }
    .sched_btn:hover{
        text-shadow: inherit;
    }
    @media print{
        table{
            page-break-after: always;
            page-break-before: always;
        }
        table { page-break-after:auto }
        tr    { page-break-inside:avoid; page-break-after:auto }
        td    { page-break-inside:avoid; page-break-after:auto }
        thead { display:table-header-group }
        tfoot { display:table-footer-group }
        body,html{
            color: black;
            background: white;
        }
        .bs_bg,.rem_ts_bs,.ts_sm,.ts_sm_sm{
            box-shadow: none;
            color: black;
            text-shadow: none;
        }
        .visiblity_hide,nav,.navbar-nav-right,.navbar,.cls-btn{
            display: none;
            text-shadow: none;
        }
        .bg-dark,th.td{
            background-color: white;
            color: black;
        }
        .print_text{
            color: black;
        }
        table{
            border: 1px solid black;
            width: 100%;
            page-break-inside: auto;
        }
    }
    .box_{
        color: rgb(132, 132, 132);
        text-decoration: none;
        font-weight: noraml;
    }
    .box_:hover{
        color: blue ;
        font-weight:bold;
    }
    .add_btn,.rem_btn{
        margin-right: 0.3rem;
    }
    .font_anim{
        color: rgb(255, 255, 255);
        transition: all 0.2s ease;
        text-shadow: 1px 1px 1px black;
    }
    .font_anim:hover{
        color: rgb(255, 255, 255);
        transition: all 0.2s ease;
        text-shadow: 1px 1px 1px black;
    }
    .li span{
        visibility: hidden;
    }
    .font_anim:hover~li span{
        visibility: visible;
    }
    .menu-icon {
            cursor: pointer;
            padding: 5px 10px;
            color: white;
            background-color: #010101;
        }
    
        #dropdown-menu {
            display: none;
            position: absolute;
            background-color:#0e0d0d98;
            color: #990909;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-item {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-item:hover {
            background-color: #bf0c0c;
        }

        /* CSS for close button of menu icon drop down lit*/
        .close-button {
            float: right;
            font-size: 20px;
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
        }

        .close-button:hover {
            color: red; /* Change the color on hover */
        } 
</style>

<!-- <div class="p-3 card bs_bg" style="background-color:rgba(255, 255, 255, 0.055);border-radius:5px;border: 1px solid rgba(255, 255, 255, 0.315);backdrop-filter: blur(10px);"> -->
    <div class="position-relative cls-btn">
        <div style="margin-bottom: -2.8rem;margin-right: 0.5rem;" class="position-absolute end-0 bottom-100">
            <div class="col-sm-12 col-xl-1">
                <!-- <a href="{% url 'report_inventory_view' %}"><h1 class="bi bi-x ts_sm_sm text_hover1"></h1></a> -->
                <a id="cls-btn1" href="{% url 'payment_received' %}" class="btn btn-dark m-1 border border-light"><span class="fa fa-times-circle text-light"></span></a>
            </div>
        </div>
    </div>
 <div style="background-color: black;">      
   <div class="d-flex">
    <div class="sticky-header">
        <!-- <div class="d-flex justify-content-between align-items-center"> -->
            <div class="d-flex">
           <!-- Menu icon -->
           <div class="mr-3 menu-icon p-2" id="menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
        <button class="close-button" onclick="closeDropdownMenu()">&times;</button>
                           
            <input type="text" id="myInput" class="dropdown-toggle form-control bg-light text-dark" onkeyup="filterFunction()"  data-bs-toggle="dropdown" aria-expanded="false" placeholder="search reports" style="width: 100%;" >
            <ul class="dropdown-menu dropdown-menu-dark"  style="overflow-y: scroll;height: 370px;width: 100%; background-color: #07060698"> 
              <li class="dropdown-header "> <span style="color: aliceblue;font-weight: bold;font-size: larger;">Business Overview</span>                       
                    <a class="dropdown-item" href="{% url 'profit_and_loss' %}" style="font-size:small;color: aliceblue;font-weight:500;">Profit and Loss <span style="display: none;">bussiness</span></a>
                    <a class="dropdown-item" href="{% url 'profit_and_loss_schedule_III' %}" style="font-size: small;color: aliceblue;font-weight:500;">Profit and Loss (schedule lll)<span style="display: none;">bussiness</span></a>
                    <a class="dropdown-item" href="#" style="font-size: small;color:aliceblue;font-weight:500;">Horizontal Profit and Loss<span style="display: none;">bussiness</span></a>
                    <a class="dropdown-item" href="#" style="font-size: small;color: aliceblue;font-weight:500;">Cash Flow Statement<span style="display: none;">bussiness</span></a>
                    <a class="dropdown-item" href="#" style="font-size: small;color: aliceblue;font-weight:500;">Balance Sheet<span style="display: none;">bussiness</span></a>
                    <a class="dropdown-item" href="#" style="font-size: small;color: aliceblue;font-weight:500;">Horizontal Balance Sheet<span style="display: none;">bussiness</span></a>
                    <a class="dropdown-item" href="#" style="font-size: small;color: aliceblue;font-weight:500;">Balance Sheet (schedule lll)<span style="display: none;">bussiness</span></a>
              </li>
        
        
        
            
            <li class="dropdown-header"><span style="color:aliceblue;font-weight: bold;font-size: larger;">Sales</span> 
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Sales by Sales Person</a>
                <a class="dropdown-item " href="{% url 'salesby_customer' %}" style="font-size: small;color: aliceblue;font-weight:500;">Sales by Coustomer</a>
                <a class="dropdown-item " href="{% url 'salesby_item' %}" style="font-size: small;color: aliceblue;font-weight:500;">Sales by Item</a>
            </li>
            <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Inventory</span> 
        
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Inventory Summary</a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Inventory Valuation Summary</a>
                <a class="dropdown-item " href="{% url 'fifo_cost' %}" style="font-size: small;color:aliceblue;font-weight:500;">FIFO Cost Lot Tracking<span style="color: rgba(158, 156, 156, 0.932);display: none;">inventory</span></a>
                <a class="dropdown-item " href="{% url 'product_sales_report' %}" style="font-size: small;color:aliceblue;font-weight:500;">Product Sales Report<span style="color: rgba(158, 156, 156, 0.932);display: none;">inventory</span></a>
        
        
            </li>
            <li class="dropdown-header"><span style="color:aliceblue;font-weight: bold;font-size: larger;">Receivables</span> 
        
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Customer Balences <span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Aging Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Aging Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Invoice Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Retainer Invoice Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Sales Order Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Delivery Cahallan Details <span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Estimate Details <span style="color: rgba(158, 156, 156, 0.932);display: none;">receivables</span></a>
        
        
        
            </li>
            <li class="dropdown-header"> <span style="color:aliceblue;font-weight: bold;font-size: larger;">Payment Received</span>
                <a class="dropdown-item " href="{% url 'payment_received' %}" style="font-size: small;color: aliceblue;font-weight:500;">Payment Received<span style="color: rgba(158, 156, 156, 0.932);display: none;">payment received</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Time to Get Paid<span style="color: rgba(158, 156, 156, 0.932);display: none;">payment received</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Credit Note Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">payment received</span></a>
                <a class="dropdown-item " href="#" style="font-size: small;color:aliceblue;font-weight:500;">Refund History<span style="color: rgba(158, 156, 156, 0.932);display: none;">payment received</span></a>
        
        
              </li> 
              <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Recurring Invoices</span> 
                <a class="dropdown-item " href="{% url 'report_recurring_invoice' %}" style="font-size: small;color: rgb(26, 25, 25);font-weight:500;">Recurring Invoice Details</a>
        
              
                </li>
                <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Payables</span>
                        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Vendor Balences<span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Aging Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Aging Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Bills Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Vendor Credits Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Payments Made<span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Refund History <span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Purchase Order Details <span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Purchase Orders by Vendor <span style="color: rgba(158, 156, 156, 0.932);display: none;">payables</span></a>
        
        
                </li>
                
                    <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;" >Purchases & Expences</span>
                            <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Purchases by Vendor<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
                         <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Purchases by Item<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
                         <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Expense Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
                         <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Expenses by Category<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
                         <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Expenses by Customer<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
                         <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Expenses by Project<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
                         <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Expenses by Employee<span style="color: rgba(158, 156, 156, 0.932);display: none;">purchases and expenses</span></a>
         
                        
                     </li>
        
        
        
                 <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Taxes</span>
                    <a class="dropdown-item " href="{% url 'tax_summary_page' %}" style="font-size: small;color: aliceblue;font-weight:500;">Tax Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">TDS Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">GSTR-3B Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Summary of Outward Supplies<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Summary of Inward Supplies<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Self Invoice Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Annual Summary(GSTR-9)<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Overseas Digital Tax Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">taxes</span></a>
        
                
                </li>
                <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Projects & Timesheet</span>
                    <a class="dropdown-item " href="#" style="font-size: small;color:aliceblue;font-weight:500;">Project Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">projects and timesheet</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Project Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">projects and timesheet</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Timesheet Details<span style="color: rgba(158, 156, 156, 0.932);display: none;">projects and timesheet</span></a>
        
        
                </li>
                <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Accountant</span>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Account Transactions<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Account Type Summary<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Account Type Transactions<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Day Book<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">General Ledger<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Detailed General Ledger<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Journel Report<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Trial Balance<span style="color: rgba(158, 156, 156, 0.932);display: none;">accountant</span></a>
        
                    
                </li>
        
                <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Activity</span>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">System Mails<span style="color: rgba(158, 156, 156, 0.932);display: none;">activity</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Activity Logs<span style="color: rgba(158, 156, 156, 0.932);display: none;">activity</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Exception Report<span style="color: rgba(158, 156, 156, 0.932);display: none;">activity</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Portal Activities<span style="color: rgba(158, 156, 156, 0.932);display: none;">activity</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color:aliceblue;font-weight:500;">Client Reviews<span style="color: rgba(158, 156, 156, 0.932);display: none;">activity</span></a>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">API Usage<span style="color: rgba(158, 156, 156, 0.932);display: none;">activity</span></a>
        
                    
                </li>
                <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Currency</span>
                    <a class="dropdown-item " href="#" style="font-size: small;color:aliceblue;font-weight:500;">Realized Gain or Loss<span style="color: rgba(158, 156, 156, 0.932);display: none;">currency</span></a>
        <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Unrealized Gain or Loss<span style="color: rgba(158, 156, 156, 0.932);display: none;">currency</span></a>
        
                    
                </li>
                <li class="dropdown-header"><span style="color: aliceblue;font-weight: bold;font-size: larger;">Budgets</span>
                    <a class="dropdown-item " href="#" style="font-size: small;color: aliceblue;font-weight:500;">Budget vs Actuals</a>                          
                </li>
            </ul>
            
        </div>
        
            </div>
            </div>      
    <h3 class="p-2">Customize Report</h1>
   </div>
</div>














<div>
    <p></p>
    <!-- <div class="position-relative cls-btn">
        <div style="margin-bottom: -1rem;margin-right: -0.95rem;" class="position-absolute end-0 bottom-100">
            <div class="col-sm-12 col-xl-1">
                <a href="{% url 'payment_received' %}"><h1 class="bi bi-x ts_sm_sm text_hover1"></h1></a>
            </div>
        </div>
    </div> -->
    <div class="row visiblity_hide">
        <div style="border-right: 0.5px solid rgba(0, 0, 0, 0);" class="col-sm-12 col-xl-2 p-1 ">
            <a class="ms-3 box_ " href="{% url 'payment_reciedved_customize' %}"><h4 class="ps-3">General</h4></a><p></p>
            <a class="box_ ts_sm_sm" style="color: blue" href="{% url 'payment_reciedved_customize_show' %}"><h4 class="ps-3 ts_sm_sm">Show / Hide Columns</h4></a>
        </div>  
        <div class="col-sm-12 col-xl-1">
           
        </div>
        <div class="col-sm-12 col-xl-8">
            <p></p><br>
            <div class="row ">
                <div class="col-sm-12 col-xl-5 rounded border border-light">
                    <p></p>
                    <h4 style="background-color: black;width: 100%;" class="text-center p-3">AVAILABLE COLUMNS</h4>
                    <div class="position-relative">
                        <div class="position-absolute start-0 top-0" style="margin-top: 0.5rem;margin-left: 1rem;">
                            <span class="bi bi-search text-dark" ></span>
                        </div>
                    </div>
                    <div class="row"  style="cursor: pointer;">
                       <div class="ps-3 pe-3">
                        <input id="seacrh_data1" style="background-color: white;" oninput="search_data1()" class="form-control text-dark ps-5" type="text">
                       </div>
                        <div id="search_target1" class="w-100 " style="background-color: transparent; height: 30.5rem;border-radius: 0px 0px 5px 5px;border-top: 0px solid transparent;overflow-y: auto;">
                            <ul style="list-style: none;" class="ps-2 position-relative">
                                <p></p>
                                <li class="text-secondary"><a >Customer Payment</a></li>
                                <ul style="list-style: none;" class="p-0 pt-1 ps-1 m-0">
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-2 pb-1 font_anim">Payment Number<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Customer Name<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Date<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Rerence Number<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Payment Mode<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Notes<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Invoice#<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Amount Applied<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Applied Date<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Refund Amount (BCY)<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Refund Amount (FCY)<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Amount (FCY)<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Unused Amount (FCY)<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Amount (BCY)<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Unused Amount (BCY)<span hidden class="position-absolute end-0 add_btn bi bi-plus text-light"></span></li>
                                </ul>
                                <p></p>
                                <li class="text-secondary"><a >Contacts</a></li>
                                <ul style="list-style: none;" class="p-0 ps-1 m-0">
                                    <p></p>
                                    <li style="border-bottom: 1px solid white;" class="pt-2 pb-1 font_anim">Company Name<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">First Name<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Last Name<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Website<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Customer Email<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Mobile Phone<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Work Phone<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Department<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Designation<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                    <li style="border-bottom: 1px solid white;" class="pt-1 pb-2 font_anim">Owner Name<span hidden class="position-absolute end-0 add_btn  bi bi-plus text-light"></span></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div  class="col-sm-12 col-xl-1"></div> -->
                <div class="col-sm-12 col-xl-5 rounded border border-light">
                    <p></p>
                    <h4 style="background-color: black;width: 100%;" class="text-center p-3 m-0 rounded">SELECTED COLUMNS</h4>
                    <!-- <div class="position-relative">
                        <div class="position-absolute start-0 top-0" style="margin-top: 0.5rem;margin-left: 0rem;">
                            <span class="bi bi-search" ></span>
                        </div>
                    </div> -->
                    <div class="row"  style="cursor: pointer;">
                        <!-- <input class="form-control bg-dark ps-5" type="text"> -->
                        <div class="w-100" style="background-color: transparent; height: 31.5rem;border-radius: 5px 5px 5px 5px;border-top: 0px solid transparent;overflow-y: auto;">
                            <ul style="list-style: none;" class="ps-2 position-relative">
                                <p></p>
                                <ul id="add_list_content" style="list-style: none;" class="p-0 m-0">
                                    <li  style="border-bottom: 1px solid white;" class="pt-2 pb-1 font_anim">Payment Number (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li  style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Customer Name (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li  style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Date (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li  style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Rerence Number (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li  style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Payment Mode (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li  style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Notes (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li  style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Invoice# (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Amount Applied (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Applied Date (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Refund Amount (BCY) (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" class="pt-1 pb-1 font_anim">Refund Amount (FCY) (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Amount (FCY) (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Unused Amount (FCY) (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Amount (BCY) (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Unused Amount (BCY) (Customer Payment)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-2 pb-1 font_anim">Company Name (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">First Name (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Last Name (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Website (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Customer Email (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Mobile Phone (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Work Phone (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Department (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-1 font_anim">Designation (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                    <li hidden style="border-bottom: 1px solid white;" hidden class="pt-1 pb-2 font_anim">Owner Name (Contacts)<span hidden class="position-absolute end-0 add_btn bi bi-dash-circle text-danger"></span></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-12 col-xl-1">
                    
                </div>
            </div>
          
            <div class="d-flex mt-5">
                <button class="btn btn-primary">Run Report</button>
                <a class="p-2 text-light" href="{% url 'payment_received' %}">Cancel</a>
            </div>
            
        </div>
    </div>
 

</div>




<script>
    var all_a = $('#dropdown-menu a')
    function filterFunction()
    {
        search_text = $('#myInput').val()
        alert($('#myInput').val())
        all_a.each(function(){
            if($(this).text().toLocaleLowerCase().includes(search_text))
            {
                $(this).show()
            }
            else{
                $(this).hide()
            }
        })
    }   
    var li = $('#search_target1 li:visible')
    function search_data1()
    {
        // var a = $('#search_target1')
        search_text=$('#seacrh_data1').val().toLocaleLowerCase()
        console.clear()
        li.each(function(){
            if ($(this).text().toLocaleLowerCase().includes(search_text))
            {
                $(this).show()
            }
            else{
                $(this).hide()
            }
        })
        
    }
    
    $(document).ready(function()
    {
        $('li').mouseenter(function(){
            $(this).children('span').attr('hidden',false)
        })
        $('li').mouseleave(function(){
            $(this).children('span').attr('hidden',true)
        })
    })
    function closeDropdownMenu() {
        var dropdownMenu = document.getElementById("dropdown-menu");
        dropdownMenu.style.display = "none";
    }
    $(document).ready(function(){
        $('.add_btn').click(function(){
            // $('#add_list_content').selectable()
            var lis = $(this).closest('li')
            // alert(lis.html())
            var span_tag = lis.children('small')
            text1=lis.text()
            var all_list = document.querySelectorAll('li')
            for(var i=0;i<all_list.length;i++)
            {
                if (all_list[i].textContent==text1 || all_list[i].textContent==text1 + ' (Customer Payment)' || all_list[i].textContent==text1.replace(' (Customer Payment)','') ||  all_list[i].textContent==text1 + ' (Contacts)' || all_list[i].textContent==text1.replace(' (Contacts)','') ) 
                {
                    all_list[i].hidden = !all_list[i].hidden
                }
            }
        })
    })
    $(document).ready(function(){
        $('.rem_btn').click(function(){
            alert('asdasd')
            var lis = $(this).closest('li')
            var span_tag = lis.children('small')
            lis.attr('hidden',true)
        })
    })
    // Get references to the menu-icon and dropdown-menu elements
    const menuIcon = document.getElementById("menu-icon");
        const dropdownMenu = document.getElementById("dropdown-menu");
    
        // Add a click event listener to the menu-icon
        menuIcon.addEventListener("click", function () {
            // Toggle the display of the dropdown menu
            if (dropdownMenu.style.display === "block") {
                dropdownMenu.style.display = "none";
            } else {
                dropdownMenu.style.display = "block";
            }
        });
</script>

{% endblock %}