{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  table, th, td, tr {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
  }

  .topnav {
    background-color: #333;
  }
  
  .a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }

  .customize {
    float: left;
    text-align: center;
    padding: 20px 230px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav-right {
    float: right;
  }

  .dropdown, .nav-item, .printdrop {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 14px;
  }

  .dropdown-item:hover{
    color: white;
  }

  .printdrop:hover{
    color: white;
  }

  .b {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }

  .daterangepicker{
    color: black;
  }

  .daterangepicker td.available, .daterangepicker th {
    color: black;
  }

  #reportrange span, #selectedEndDate, .daterangepicker .ranges ul li {
    font-size: 14px; /* Adjust the font size as needed */
  }


</style>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a href="#home" class="a">
      <i class="fa fa-bars" style="font-size:25px;"></i>
    </a>
  </li>

  <li>
    <div class="b text-black">
      <div id="reportrange" style="background: white; color: black; cursor: pointer; padding: 5px 10px; border: 1px solid black; height: 4vh; width: 12vw;">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </li>

  <a href="{% url 'product_customize' %}"  class="customize me-auto">
    <i class="fa fa-gear" style="font-size:18px;"></i>&nbsp&nbsp&nbsp
    Customize report
  </a>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="background: white; color: black;"><i class="fa fa-print"></i></a>
    <ul class="dropdown-menu">
      <li><a class="printdrop" href="#" onclick="printPageContent()" style="font-size:10px;">Print Preference</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="background: white; color: black;">Export As</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" style="font-size:10px;" onclick="exportAsPDF()">PDF</a></li>
      <li><a class="dropdown-item" style="font-size:10px;" onclick="exportAsXLS()">XLS (Microsoft Excel 1997-2004 Compatible)</a></li>
    </ul>
  </li>

  <li class="nav-item" style="height:4vh; width:4vw;">
    <button type="button" onclick="history.go(-1);" style="height:5vh; width:2.5vw;">&times;</button>
  </li>
</ul>
 
<div class="container-fluid" id="container-to-print"> 
  <div class="row pt-5 pb-5">
    <center>
      <div class="col-md-4">

        {% if company.company_name != None %}
        <a class="text" style="font-size: 1rem; color: white;">{{ company.company_name }}</a><br>
        {% else %}
        <a class="text" style="font-size: 1rem; color: white;">Add Company</a><br>
        {% endif %}        <a class="text" style="font-size: 1.5rem; color: white;">Product Sales Report </a><br>
        <h5 class="text" id="selectedEndDate"></h5><br>      
      </div>
    </center>   
  </div> 

  <div style="overflow-x: auto; overflow-x: hidden;">
    <div class="row pt-2">
      <div class="col-sm-10 col-md-11 col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>ITEM NAME</th>
              <th>MARGIN</th>
              <th>QTY SOLD</th>
              <th>SALES PRICE</th>
              <th>SALES WITH TAX</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td> 
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td> 
              <td></td> 
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td> 
              <td></td> 
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td> 
              <td></td> 
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td> 
              <td></td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p>**Amount is displayed in your base currency INR</p>
</div>  

<script>
  $(function() {
    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end, label) {
      $('#reportrange span').text(label);
      $('#selectedEndDate').text('From ' +start.format('MMMM D, YYYY')+'  to  '+end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'This Week': [moment().startOf('week'), moment().endOf('week')],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'This Quarter': [moment().startOf('quarter'), moment().endOf('quarter')],
        'This Year': [moment().startOf('year'), moment().endOf('year')],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Previous Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
        'Previous Quarter': [moment().subtract(1, 'quarter').startOf('quarter'), moment().subtract(1, 'quarter').endOf('quarter')],
        'Previous Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
      },
      opens: 'left',
      showCustomRangeLabel: true,
      singleDatePicker: false,
      showDropdowns: true,
      alwaysShowCalendars: false,
      linkedCalendars: true, // Set linkedCalendars to true
    }, cb, function(start, end, label) {
      if (label === 'Custom') {
        // Show the calendar only when "Custom" range is selected
        $(this.element).data('daterangepicker').show();
      } else {
        // Update the <h5> tag when a new date range is selected
        $('#selectedEndDate').text(start.format('MMMM D, YYYY')+ '' +'to'+ '' +end.format('MMMM D, YYYY'));
      }
    });

    $('.custom-caret i').click(function() {
      $('#reportrange').data('daterangepicker').toggle();
    });

    cb(start, end, 'Today');
  });
</script>

  <script>
    function printPageContent() {
      const contentToPrint = document.getElementById('container-to-print');
      const clonedContent = contentToPrint.cloneNode(true);

      // Find all the elements with the class "text" within the cloned content
      const textElements = clonedContent.querySelectorAll('.text');

      // Set the text color to black for each element with the class "text"
      textElements.forEach(element => {
        element.style.color = '#000000';  // Text color (black)
      });

      // Set table styles to black
      const tableElements = clonedContent.querySelectorAll('table, th, td, tr');
      for (const element of tableElements) {
      element.style.border = '1px solid black';
      }
  
      // Print the cloned content
      const printWindow = window.open('', '_blank');
      printWindow.document.body.appendChild(clonedContent);
      printWindow.print();
      printWindow.close();
    }
  </script>

    <script>
      function exportAsXLS() {
          const data = [
              ['DATE', 'TRANSACTIONS', 'RECEIVED FROM', 'ITEM NAME', 'QUANTITY', 'DATE', 'TRANSACTIONS', 'DISPERSED TO', 'QTY DISPERSED'],
              ['Data 1', 'Data 2', 'Data 3', 'Data 4', 'Data 5', 'Data 6', 'Data 7', 'Data 8', 'Data 9'],
              // Add more rows as needed
          ];
      
          const ws = XLSX.utils.aoa_to_sheet(data);
          const wb = XLSX.utils.book_new();
          XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
      
          // Save the XLS file
          XLSX.writeFile(wb, '{{ company.company_name }}_Product_Sales_Report.xlsx');
      }
      
      function exportAsPDF() {
        const container = document.getElementById('container-to-print');
      
        // Save the original background color
        const originalBackgroundColor = container.style.backgroundColor;
      
        // Set the container's background color to white
        container.style.backgroundColor = 'white';
      
        // Apply styling changes to the container's content
        const textWhiteElements = container.querySelectorAll('.text');
        textWhiteElements.forEach(element => {
          element.style.color = '#000000'; // Set text color to black
        });
      
        const tableElements = container.querySelectorAll('table');
        const tableCells = container.querySelectorAll('td, th');
        const tableRows = container.querySelectorAll('tr');
      
        tableElements.forEach(table => {
          table.style.backgroundColor = '#ffffff'; // Set background color to white
          table.style.color = '#000000'; // Set text color to black
        });
      
        tableCells.forEach(cell => {
          cell.style.backgroundColor = '#ffffff'; // Set background color to white
          cell.style.color = '#000000'; // Set text color to black
          cell.style.border = '1px solid black'; // Add a black border
        });
      
        tableRows.forEach(row => {
          row.style.backgroundColor = '#000000'; // Set background color to black
        });
      
        const pdfOptions = {
          margin: 0,
          filename: '{{company.company_name}}_Product_Sales_Report.pdf',
          image: { type: 'jpeg', quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { unit: 'mm', format: 'a3', orientation: 'landscape' },
        };
      
        // Generate PDF from the container
        html2pdf().from(container).set(pdfOptions).save().then(() => {
  
          // Restore the original background color
          container.style.backgroundColor = originalBackgroundColor;
  
          textWhiteElements.forEach(element => {
            element.style.color = 'white'; // Restore original text color
  
          // Remove the pdf-background class after generating the PDF
          container.classList.remove('pdf-background');
          });
        });
      }
      
    </script>

{% endblock content %}