<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Webpage with Export to PDF</title>
    <style>
        body {
            background-color: white;
            color: black;
            font-family: Arial, sans-serif;
            font-size: medium;
        }
    </style>
</head>
<body>
    <div class="printable-wrapper" id="topdf">

        <div class="printable-content" >
            
            <center>
                <h2 class="text" style="color: black;">{{company.company_name}}</h2>
                <h4 class="text" style="color: black;">Profit and Loss</h4>
                <h5 class="text" style="color:black;">Basis: Cash</h5>
                <p class="text" style="color: black;" id="date-range-display">From September11,2023 To October 10,2023</p>
            </center>
        <div class="table-container">
            <table class="table table-bordered table-striped mt-4 custom-table">
                <thead>
                    <tr>
                        <th>ACCOUNT</th>
                        <th></th>
                        <th>ACCOUNT CODE</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                        <td style="color: black;">Operating Income</td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                    </tr>
    
                    <tr>
                    
                        <td style="color: black;"><b>Total Operating Income</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;">0,000</td>
                    </tr>
    
                    <tr>
                        <td colspan="4"><hr class="bold-hr"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;">Cost of Goods Sold</td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;">Cost of Goods Sold</td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;">0,000</td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;"><b>Total Cost of Goods Sold</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;">0,000</td>
                    </tr>
    
                    <tr>
                        <td colspan="4"><hr class="bold-hr"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;"></td>
                        <td style="color: black;"><b>Gross Profit</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"><div style="border-bottom: 2px solid #ccc; padding-bottom: 5px;">0,000</div></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;">Operating Expense</td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;">Consultant Expense</td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;">000,000</td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;"><b>Total Operating Expense</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;">000,000</td>
                    </tr>
    
                    <tr>
                        <td colspan="4"><hr class="bold-hr"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;"></td>
                        <td style="color: black;"><b>Operating Profit</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"><div style="border-bottom: 2px solid #ccc; padding-bottom: 5px;">-000,000</div></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;">Non Operating Income/Expense</td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;"><b>Total Non Operating Income/Expense</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"></td>
                        <td style="color: black;">0,000</td>
                    </tr>
    
                    <tr>
                        <td colspan="4"><hr class="bold-hr"></td>
                    </tr>
    
                    <tr>
                       
                        <td style="color: black;"></td>
                        <td style="color: black;"><b>Net Profit/Loss</b></td>
                        <td style="color: black;"></td>
                        <td style="color: black;"><div style="border-bottom: 2px solid #ccc; padding-bottom: 5px;">000,000</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div> 
</body>
</html>
