
{% extends 'base.html' %}
{% block content %}
{% load static %}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>




<style>
    .card{
        background: none;
    }
    tbody tr td{
        border: none;
        border-top: none;
        border-style: none;
        color:azure;
        justify-content: center;
    }
    tr:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
   
    ul.image-bullets {
        list-style-type: none;
        padding-left: 30px;
    }

    ul.image-bullets li:before {
        content: "";
        background-image: url('static/images/bullet.png');
        background-size: 15px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px; 
        margin-left: 26%;
    }
    .recurpoints ul li{
        margin-bottom: 10px;
    }

    .flowchart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
}

    .flowchart-item {
        text-align: center;
        padding: 10px;
        background-color: lightblue;
        border: 3px solid rgb(25, 91, 145);
        border-radius: 5px;
        width: 150px;
        color: black;
        font-size: 12px;
    }
    .flowchart-item i{
        font-size: 15px;
    }

    .flowchart-connector {
        flex-grow: 1;
        height: 2px;
        background-color: #ccc;
        margin-top: 0%;

    }
    
    @media (max-width: 768px) {
        .flowchart {
            flex-direction: column;
            align-items: center;
        }

        .flowchart-item {
            width: 120px;
        }
        .flowchart-connector {
            height: 50px;
            width: 2px; 
            margin-left: 0%; 
            transform: translateX(-50%);
        }
    }
    .btn{
        color: rgb(218, 164, 48);
        outline-color: azure;
        border: 2px solid rgb(25, 91, 145);
    }
    .btn:hover{
        color: darkslategray;
        background-color: lightblue;
        outline: none;
        
    }
    a{
        list-style: none;
        color: azure;
    }
     a:hover{
        color: rgb(218, 164, 48);
     }
     ::-webkit-scrollbar {
        width: 5px; 
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
</style>
<div class="container-fluid containerprof" >
    
    
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="mb-0 text-uppercase text-right">ALL Recurring Bills</h2>
                        </div>
                        <div class="col-md-2">
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card radius-15 mb-5">
            <div class="card-body">
                <div class="row">
                    <div class=" col-md-3">
                    
                        <!-- <div class="d-flex"> -->
                            <input type="text" id="search" placeholder="Search..." class="form-control text-dark bg-light" autocomplete="off">
                        <!-- </div> -->
                        

                    </div>
                    <div class="col-md-6"><a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        role="button" ><i class="fa fa-sort"></i>
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item dropdown-sort">All</a>
                            <a class="dropdown-item dropdown-sort">Bill No:</a>
                            <a class="dropdown-item dropdown-sort">Vendor</a>
                            <a class="dropdown-item dropdown-sort">Profile Name</a>
                           
                            
                        </div></div>
                    <div class="col-md-3">
                        
                        <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        role="button" ><i class="fa fa-filter"></i>
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item dropdown-filter">All</a>
                            <a class="dropdown-item dropdown-filter">Save</a>
                            <a class="dropdown-item dropdown-filter">Draft</a> 
                        </div>
                        <a href="{% url 'add_recurring_bills' %}" class="btn fa fa-plus text-right px-3 py-2" role="button">
                            <span class="mt-2">&nbsp;&nbsp;NEW</span>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="container-fluid">
                    <table class="table table-responsive-md mt-4" id="table">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>BILL NO.</th>
                                <th>PROFILE NAME</th>
                                <th>VENDOR NAME</th>
                                <th>CUSTOMER NAME</th>
                                <th>AMOUNT</th>
                                <th>BALANCE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="recTable">
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>       
        <hr>
        <div class="card radius-15 mt-5">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="mb-0 text-center">Life cycle of a Recurring Bill</h3>
                    <br>
                    <div class="flowchart">
                        <div class="flowchart-item text-uppercase" style="width: 200px;">
                            <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #daa430;"></i> Rountine Purchase
                        </div>
                        <div class="flowchart-connector"></div>
                        <div class="flowchart-item text-uppercase" style="width: 210px;">
                            <i class="fa-sharp fa-solid fa-file" style="color: #daa430;"></i> Create Recurring Profile
                        </div>
                        <div class="flowchart-connector"></div>
                        <div class="flowchart-item text-uppercase" >
                            <i class="fa-sharp fa-solid fa-receipt" style="color: #daa430;"></i> generated bill
                        </div>
                        <div class="flowchart-connector">  </div>
                        <div class="flowchart-item text-uppercase">
                            <i class="fa-sharp fa-solid fa-money-check-dollar" style="color: #3ec61c;"></i> record payment
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title recurpoints">
                    <h3 class="mb-0 text-center">In th Recurring Bills Section,you can:</h3>
                    <br>
                    <div >
                    <ul class='image-bullets'>
                        <li>Create a recurring profile to automatically generate bills.</li>
                        <li>View when each bill was generated under the recurring profile.</li>
                        <li>Create an individual bill within the recurring profile.</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#recTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  }); 


$('.dropdown-toggle').dropdown();


// $(document).ready(function(){
//     var $rows = $('#table tbody tr');
//     $('#search').keydown(function() {
//         var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
//         console.log(val)
        
//         $rows.show().filter(function() {
//             var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
//             return !~text.indexOf(val);
//         }).hide();
//     });
// });
</script>

<script> 
    $(document).ready(function ($) { 
        TableDataBind(getData());
    });

    function TableDataBind(jsonObj){ 

    $("#recTable").empty();
         $.each(jsonObj, function (index, data) { 
            var newRow = $("<tr>");
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+data.start_date+"</a></td>");
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+data.bill_no+"</a></td>");
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+data.profile_name+"</a></td>");
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+data.vend_name+"</a></td>");
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+data.cust_name+"</a></td>");
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+parseFloat(data.grand_total == "None"?0:data.grand_total).toFixed(2)+"</a></td>"); 
            newRow.append("<td><a href='/view_recurring_bills/" + data.id + "'>"+ parseFloat(data.balance== "None"?0:data.balance).toFixed(2)+"</a></td>"); 
            newRow.append(`<td><a href='/delete_recurring_bills/${data.id}'><i class='fas fa-trash text-danger text-center'></i></a></td>`);

            $("#recTable").append(newRow);
         })



    }

    function getData(){
      var bills = '{{recur_bill}}';  
      return $.parseJSON(bills.replace(new RegExp("&"+"#"+"x27;", "g"), '"'));
}

$(".dropdown-sort").click(function() { 
      
      var selectedItem = $(this).text(); 
      
      if(selectedItem == 'Bill No:'){
        sortResults('bill_no');
      }
      else if (selectedItem == 'Vendor'){
        sortResults('vend_name');
      } 
      else if (selectedItem == 'Profile Name'){
        sortResults('profile_name');
      }
      else{
        TableDataBind(getData());
      }
  });

  function sortResults(prop) { 
      var jsonObj = getData().sort(function(a, b) { 
            return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0); 
        }); 

      TableDataBind(jsonObj)
}

$(".dropdown-filter").click(function() { 
        var selectedItem = $(this).text(); 
        
        if(selectedItem == 'Save'){
          filterResults('Save');
        }
        else if (selectedItem == 'Draft'){
          filterResults('Draft');
        }  
        else{
          TableDataBind(getData());
        }
    });

    function filterResults(prop) { 
      var jsonObj = getData().filter(e => e.status == prop);
      TableDataBind(jsonObj)
}

</script>
{% endblock %}