
{% extends 'base.html' %}
{% block content %}
{% load static %}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>




<style>
    .card{
        background: none;
    }
    tbody tr td{
        border: none;
        border-top: none;
        border-style: none;
        color:azure;
        justify-content: center;
    }
    tr:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
   
    ul.image-bullets {
        list-style-type: none;
        padding-left: 30px;
    }

    ul.image-bullets li:before {
        content: "";
        background-image: url('static/images/bullet.png');
        background-size: 15px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px; 
        margin-left: 26%;
    }
    .recurpoints ul li{
        margin-bottom: 10px;
    }

      
  .flowchart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        flex-direction: column;
}

    .flowchart-item {
        text-align: center;
        padding: 10px;
        background-color: lightblue;
        border: 3px solid rgb(25, 91, 145);
        border-radius: 5px;
        width: 150px;
        color: black;
        font-size: 12px;
        margin-top: 10px;
    }
    .flowchart-item i{
        font-size: 15px;
    }
    .flowchart-connector {
        flex-grow: 1;
        height: 2px;
        background-color: #ccc;
        margin-top: 0%;

    }
    
    .box {
      text-align: center;
        padding: 10px;
        background-color: lightblue;
        border: 3px solid rgb(25, 91, 145);
        border-radius: 5px;
        width: 150px;
        color: black;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    
    .connector-line {

    font-size:0;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#ebe8e8;
    margin:auto;
}
 .connector-line{content: "";}
 /* .connector-part {
    width: 1px;
    height: 100%;
    background-color: #ebe8e8;
    color: #f1f1f1;
} */
 .connector-line1 {

font-size:0;
width:1px;
height:30px;
color:#fff;
background-color:#ebe8e8;
margin-bottom: 70px;
/* margin: auto; */
}
.connector-line1{content: "";}
.line{content: "";}
.flowchart-connector {
        flex-grow: 1;
        height: 2px;
        background-color: #f5f2f2;
        color: #f1f1f1;
        margin-top: 0%;

    }




    .branch {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }
    
    .branch .connector {
      width: 0;
      height: 50px;
      border-top: 2px solid black;
    }
    
    .branch .box {
      margin-top: 10px;
    }
    .btn{
        color: rgb(218, 164, 48);
        outline-color: azure;
        border: 2px solid rgb(25, 91, 145);
    }
    .btn:hover{
        color: darkslategray;
        background-color: lightblue;
        outline: none;
        
    }
    a{
        list-style: none;
        color: azure;
    }
     a:hover{
        color: rgb(218, 164, 48);
     }
     ::-webkit-scrollbar {
        width: 5px; 
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
</style>
<div class="container-fluid " >
    
    
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="mb-0 text-uppercase text-right">ALL Recurring Invoices</h2>
                        </div>
                        <div class="col-md-2">
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card radius-15 mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        
                        <input type="text" name="usr_in" id="search" class="form-control text-dark bg-light px-3 py-2" placeholder="search" autocomplete="off">
                    </div>

                        <div class="col-md-3">

                            <div class="dropdown">
                                <button class="btn btn-outline-warning dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'view_recurpage' %}">All</a>
                                    <a class="dropdown-item" href="{% url 'profilename' %}">Name</a>
                                    <a class="dropdown-item" href="{% url 'customerasc' %}">Customer</a>
                                    <a class="dropdown-item" href="{% url 'amtasc' %}">Amount</a>
                                </div>
                            </div>
                        </div>
                                <div class="col-md-3"></div>
                    <div class="col-md-3">
                        
                        <a class="btn  btn-outline-warning text-center px-3 py-2 " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        role="button"><i class="fa fa-filter mx-3"></i>
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="{% url 'view_recurpage' %}">All</a>
                            <a class="dropdown-item" href="{% url 'profileasc' %}">Save</a>
                            <a class="dropdown-item" href="{% url 'profiledesc' %}">Draft</a>

                        </div>
                        <a href="{% url 'create_recur' %}" class="btn fa fa-plus text-right px-3 py-2" role="button">
                            <span class="mt-2">&nbsp;&nbsp;NEW</span>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="container-fluid">
                    <table class="table  text-white" id="table">
                        <thead>
                          <tr>
            
                            <th>Date</th>
                            <th>Profile Name</th>
                            <th>Invoice Number</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Amount</th>    
                            <th>Balance</th>
                            <th>Delete</th>

            
            
                          </tr>
                        </thead>
                         <tbody>
                          {% for v in recur %}
                 
                          <tr>
                 
                          <td onclick="location.href ='{% url 'viewrecur' v.id %}' ">{{v.start}}</td>
            
                            <td>{{v.name}}</td>
                            <td>{{v.reinvoiceno}}</td>
                            <td>{{v.cname}}</td>
                            <td>{{v.status}}</td> 
                            <td>{{v.total}}</td> 
                            <td>{{v.balance}}</td> 
                            <td class="text-right">
                                <a href="{% url 'del_recur' v.id %}" 
                                data-toggle="tooltip" data-placement="top" title="Delete Recurring Invoice">
                                        <i class="gg-trash text-center text-danger"></i>
                                </a>
                            </td>

            
                           
                           </tr> 
                           {% endfor %}
                        </tbody> 
                      </table>
                  
                </div>
            </div>
        </div>       
        <hr>
        <div style="margin-left: 20px;padding-bottom: 10px;; margin-top: 20px;">
            <!-- <img src="https://www.zoho.com/books/help/images/recurring-invoice/workflow-ri.png"> -->
          
            <div class="card radius-15 mt-5">
              <div class="card-body">
                  <div class="card-title">
                      <h3 class="mb-0 text-center">Life cycle of a Recurring Invoices</h3>
                      <br>
                      <div class="flowchart">
                         <div class="flowchart-item text-uppercase" style="width: 200px;">
                              <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #daa430;"></i> Recurring Profile
                          </div>
                          <div class="connector-line"></div>
                          <div class="flowchart-item text-uppercase" style="width: 210px;">
                              <i class="fa-sharp fa-solid fa-file" style="color: #daa430;"></i> Invoices
                          </div>
                          <div class="connector-line"></div>

                          <div class="connector-line"></div>
                          <div class="line" style="margin-top: 1px; width: 34%; height: 1px; color: #f1f1f1; background-color: #fff; margin-right: 80px;" ></div>

                          <div class="connector-line">
                            
                        </div>

                          <div class="branches" style="display: flex; flex-direction: row; margin-top: -31px;">
                              <div class="branch">

                                  <div class="connector-line1" style="margin-right: -80px;margin-top: -10px;"></div>
                                  <div class="box" style="margin-right: 30px;">Save As Draft</div>

                              </div>
                              <div class="branch">
                                  <!-- <div class="connector-line1" ></div> -->
                                  <div class="box" style="margin-right: 100px;">Send Invoices</div>
                              </div>
                              <div class="branch">
                                  <div class="connector-line1" style="margin-top: -10px; margin-right: -80px;"></div> 
                                  <div class="box">Charge Automatically and Sent Invoices</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

                
            </div>
</div> 
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function() {
      var $rows = $('#table tbody tr');
      $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
          var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
          return !~text.indexOf(val);
        }).hide();
      });
    });
  
  
  $('.dropdown-toggle').dropdown();
  
  
 
  </script> 
{% endblock %}