<!-- .....create by athul.... -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Style for the black overlay */
    .modal {
        position: fixed;
        top: 100px;
        left: 400px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        /* Black semi-transparent background */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }

    /* Style for the modal content */
    .modal-content {
        background-color: black;
        /* White background for the modal */
        color: black;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.9);
        max-width: 500px;
        /* You can adjust the width as needed */
        position: relative;
        width: 100%;
        height: 100%;
    }

    /* Style for the close button (you can customize this) */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .modal-title {
        color: white;
        size: 20px;
    }

    .dropdown-item:hover {
        color: white;
    }
</style>

<section>
    <div class="row p-3">
        <div class="list col-4 col-lg-3 col-md-3  col-sm-2 py-5">
            <div class="header margin-top:20px">
                <h3>All Items</h3>
            </div>
            <div class="searchbar" style="display: flex;">
                <input type="text" id="searchInput" class="form-control bg-dark" placeholder="Search Items..."
                    style="color: rgb(255, 255, 255);background: transparent;margin-right: 5px;border: 2px solid rgb(214, 141, 5);">
                <!-- <a class="btn btn-primary mx-1" href="" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" role="button">
          <i class="fa fa-filter"></i>
        </a>
        <div class="dropdown-menu ">
          <a class="dropdown-item" href="#" data-sort="all">All</a>
          <a class="dropdown-item" href="" data-sort="hsn">HSN Number</a>
          <a class="dropdown-item" href="" data-sort="name">Name </a>
        </div> -->
                <!-- <a class="btn btn-primary mr-1" href="{% url 'additem' %}"><i class="fa fa-plus"></i></a> -->

            </div>
            <hr>
            <table class="table table-borderless" id="mytable">
                <thead>
                    <tr>
                        <th style="color: rgb(214, 141, 5);">Name</th>
                        <th style="color: rgb(214, 141, 5);">Stock</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for v in product %}
                    <tr>

                        <td><a class="text-white" href="{% url 'salesgraph' v.Name %}">{{v.Name}}</a></td>
                        <td><a class="text-white" href="">{{v.stock}}</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="overview col-9 col-lg-9 col-md-10  col-sm-10 " style="background-color: black;">
            <div id="overview">
                <div class="row">
                    <div class="col">
                        
                        <!-- {% for name in allproduct %}
                         {{ forloop.counter }}
                            
                            {% if forloop.first %} -->
                            
                              <h1 class="p-2" id="id1"  style="color: rgb(214, 141, 5)"><b>{{n.Name}}</b></h1>
                              <hr>
                             
                              
                            <!-- {% endif %}  
                        {% endfor %} -->
                        
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col">
                            <form action="{% url 'salesby_item_graph_filter' name %}" method="post" style="margin-top: 10px;">
                                {% csrf_token %}
                                From <input type="date" id="d1" name="d1"  style="width: 40%; border-radius: 8px;padding: 5px; border: 3px solid rgb(214, 141, 5);" required>
                                To <input type="date" id="d2" name="d2"  style="width: 40%; border-radius: 8px;padding: 5px;border: 3px solid rgb(214, 141, 5);" required>
                                <button class=" fa fa-filter btn-warning btn-outline-light" style="padding: 10px;border-radius: 10px;background-color: rgb(214, 141, 5);color: white;"></button>
                                
                            </form>
                    
                        </div>
                       
                    </div>
                    <hr >
                    
                    <div style="margin-top: 20px; color: white;">
                        <canvas id="myChart" style="color: white;"></canvas>
                      </div>
                      
                      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                      
                      <script>
                        const ctx = document.getElementById('myChart');
                      
                        new Chart(ctx, {
                          type: 'line',
                          data: {
                            labels: [{% for name in items2 %}{% for n in allproduct %}"{{n.inv.due_date}}",{% endfor %}"{{name.ri.start}}",{% endfor %},
                                     ],
                            
                            datasets: [{
                              label: '# of sold',
                              data: [{% for name in items2  %}{% for n in allproduct  %}"{{n.quantity}}",{% endfor %}"{{name.quantity}}",{% endfor %},
                                    ],
                              borderWidth: 1,
                              lineColor:'white',
                              borderColor:'rgb(214, 141, 5)',
                              
                              
                            }]
                          },
                        //   data2: {
                        //     labels: [{% for n in items2 %}"{{n.ri.start }}",{% endfor %}],
                            
                        //     datasets: [{
                        //       label: '# of sold',
                        //       data: [{% for name in allproduct %}"{{name.quantity}}",{% endfor %}],
                        //       borderWidth: 1,
                        //       lineColor:'white',
                        //       borderColor:'rgb(214, 141, 5)',
                              
                              
                        //     }]
                        //   },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                                
                              }
                            }
                          }
                        });
                      </script>


                    <div class="col-sm-7 p-5">
                      
                    </div>
                </div>
            </div>
        </div>
</section>
















{% comment %} </div> {% endcomment %}
{% comment %} <div class="row" style="margin-top:30px;">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3"><b>Purchase Information</b></h4>
                <h6 class="mr-5">Cost price</h6> <br>
                <h6 style="margin-top: -2.5rem; margin-left: 8rem;">{{product.p_price}}</h6> <br>
                <h6 class="mr-5">Purchase Account</h6>
                <h6 style="margin-top: -1.5rem; margin-left: 10rem;">{{product.purchase.Account_name}}</h6> <br>
                <h6 class="mr-5">Description</h6>
                <h6 style="margin-top: -1.8rem; margin-left: 10rem;">{{product.p_desc}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <h4 class="mb-2 mt-3"><b>Sales Information</b></h4>
                <h6 class="mr-5">Selling price</h6> <br>
                <h6 style="margin-top: -3rem; margin-left: 10rem;">{{product.s_price}}</h6> <br>
                <h6 class="mr-5">Sales Account</h6>
                <h6 style="margin-top: -1.6rem; margin-left: 10rem;">{{product.sales.Account_name}}</h6> <br>
                <h6 class="mr-5">Description</h6>
                <h6 style="margin-top: -1.6rem; margin-left: 10rem;">{{product.s_desc}}</h6>
            </div>
        </div>
    </div>
    <div> {% endcomment %}
        {% comment %} <div class="container">
            <h2 style="margin-left:150px;">There is no transaction yet</h2>
            <p style="margin-left:280px;">do something</p>



            <div style="overflow: hidden;">
                <h6 style="margin-left: 5rem;">{{product.date}}</h6>
                <h6 style="margin-left: 30rem;margin-top: -1rem;">{{product.creat}}</h6>

                <table class="table text-white">
                    <thead>
                        {% for i in history %}
                        <tr>
                            <th>{{i.date}}</th>
                            <th>{{i.message}}</th>

                        </tr>
                        {% endfor %}
                    </thead>
                </table> {% endcomment %}




                <script>
                    function toggleModal() {
                        const modal = document.getElementById("myModal");
                        if (modal.style.display === "none") {
                            modal.style.display = "block";
                            // You can add an AJAX call here to load comments dynamically, if needed
                        } else {
                            modal.style.display = "none";
                        }
                    }

                    // Function to close the modal
                    function closeModal() {
                        const modal = document.getElementById("myModal");
                        modal.style.display = "none";
                    }

                    function submitComment() {
                        document.getElementById('commentForm').submit();
                    }
                </script>




                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        // Attach keyup and paste event handlers to the search input
                        $("#searchInput").on("keyup paste", function () {
                            var filter = $(this).val().toUpperCase();
                            var table = $("#tableBody");
                            var tr = table.find("tr");

                            // Loop through all table rows, show/hide based on search query
                            tr.each(function () {
                                var td_name = $(this).find("td:eq(0)");
                                var td_hsn = $(this).find("td:eq(1)");
                                var txtValue_name = td_name.text().toUpperCase();
                                var txtValue_hsn = td_hsn.text().toUpperCase();

                                if (txtValue_name.indexOf(filter) > -1 || txtValue_hsn.indexOf(filter) > -1) {
                                    $(this).show();
                                } else {
                                    $(this).hide();
                                }
                            });
                        });
                    });
                </script>


                {% comment %}
                <script>
                    function fieldset2_function() {
                        document.getElementById("over").style.display = "none";
                        document.getElementById("comments").style.display = "block";
                        document.getElementById("addCommentBtn").style.display = "block"; // Show the "Add Comment" button
                    }

                </script> {% endcomment %}


                <script>
                    $(document).ready(function () {
                        var originalTable = $('#dataTable').clone(); // Clone the original table on page load

                        // Function to sort items by name
                        function sortByName() {
                            var rows = $('#dataTable tbody tr').get();
                            rows.sort(function (a, b) {
                                var keyA = $(a).find('td:eq(0)').text().toUpperCase();
                                var keyB = $(b).find('td:eq(0)').text().toUpperCase();
                                if (keyA < keyB) return -1;
                                if (keyA > keyB) return 1;
                                return 0;
                            });
                            $.each(rows, function (index, row) {
                                $('#dataTable').children('tbody').append(row);
                            });
                        }

                        // Function to sort items by HSN number
                        function sortByHSN() {
                            var rows = $('#dataTable tbody tr').get();
                            rows.sort(function (a, b) {
                                var keyA = $(a).find('td:eq(1)').text();
                                var keyB = $(b).find('td:eq(1)').text();
                                return keyA.localeCompare(keyB);
                            });
                            $.each(rows, function (index, row) {
                                $('#dataTable').children('tbody').append(row);
                            });
                        }

                        // Event handler for the "Filter" dropdown
                        $('.dropdown-item').on('click', function () {
                            var sortType = $(this).data('sort');
                            if (sortType === 'name') {
                                sortByName();
                            } else if (sortType === 'hsn') {
                                sortByHSN();
                            } else if (sortType === 'all') {
                                // Reset the table to its original order
                                $('#dataTable').replaceWith(originalTable.clone());
                            }
                        });
                    });
                </script>



                {% comment %}
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script> {% endcomment %}

                </section>
                {% endblock %}