{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .d-flex {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the spacing between the input and button */
}
a{
        list-style: none;
        color: azure;
    }
     a:hover{
        color: rgb(218, 164, 48);
     }
     ::-webkit-scrollbar {
        width: 5px; 
    }
</style>
<!-- <div class="fixed-top  " style="top: 7rem; margin-left: 20rem;"> -->

<section id="estimates_section">

  <h1 class="p-3">All Purchase Bills</h1>
  <div class="row ">

    <div class="col-md-4 py-3 d-flex align-items-center">
      <input type="text" class="form-control text-dark bg-white" id="search" placeholder="search...">
      
      <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      role="button" ><i class="fa fa-sort"></i>
      </a>
      <div class="dropdown-menu ">
          <a class="dropdown-item dropdown-sort">All</a>
          <a class="dropdown-item dropdown-sort">Bill No:</a>
          <a class="dropdown-item dropdown-sort">Vendor</a>
          <a class="dropdown-item dropdown-sort">Customer</a>
      </div>
    </div>

    

    <div class="col-md-6 py-2 d-flex justify-content-end">
      <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      role="button" ><i class="fa fa-filter"></i>
      </a>
      <div class="dropdown-menu ">
          <a class="dropdown-item dropdown-filter">All</a>
          <a class="dropdown-item dropdown-filter">Save</a>
          <a class="dropdown-item dropdown-filter">Draft</a> 
      </div>
  </div>
  <div class="col-md-2 py-3">
    <a href="{% url 'new_bill' %}" class="btn btn-outline-warning py-2" style="width: 120px;" ><i class="fa-solid fa-plus "> New</i></a>
  </div>


    

    
  </div>

  <div class="col-sm-12 mt-4" >
    <table id="estimates-table" class="table  text-white text-center ">
      <thead>
        <tr>
          <th>DATE</th>
          <th>BILL NUMBER</th>
          <th>CUSTOMER NAME</th>
          <th>VENDOR NAME</th>
          <th>STATUS</th>
          <th>AMOUNT</th>
          <th>BALANCE</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody id="myTable">
       
      </tbody>


    </table>
  </div>
</section>



</div>


<script>
  // Add click event listener to all rows with class "clickable-row"
  const rows = document.querySelectorAll('.clickable-row');
  rows.forEach(row => {
    row.addEventListener('click', () => {
      // Get the URL from the "data-href" attribute
      const url = row.getAttribute('data-href');
      // Navigate to the URL
      window.location.href = url;
    });
  });
</script>

<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script>
  $(document).ready(function() {
      $('#selectOption').change(function() {
          var selectedValue = $(this).val();
          
          if (selectedValue === "1") {
              window.location.href = "{% url 'view_bills' %}";
          } else if (selectedValue === "2") {
              window.location.href = "{% url 'customerAtoZ_bills' %}";
          } else if (selectedValue === "3") {
              window.location.href = "{% url 'vendorAtoZ_bills' %}";
          }
      });
  });
</script>

<script> 
    $(document).ready(function ($) { 
        TableDataBind(getData());
    });

    function TableDataBind(jsonObj){ 

    $("#myTable").empty();
         $.each(jsonObj, function (index, data) {
            var newRow = $("<tr>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+data.bill_date+"</a></td>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+data.bill_no+"</a></td>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+data.customer_name+"</a></td>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+data.vendor_name+"</a></td>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+data.status+"</a></td>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+parseFloat(data.total == "None"?0:data.total).toFixed(2)+"</a></td>");
            newRow.append("<td><a href='/bill_view/" + data.id + "'>"+parseFloat(data.balance== "None"?0:data.balance).toFixed(2)+"</a></td>");
            newRow.append(`<td><a href='/delete_purchase_bill/${data.id}'><i class='fas fa-trash text-danger text-center'></i></a></td>`);

            $("#myTable").append(newRow);
         })



    }

    $(".dropdown-sort").click(function() { 
      
        var selectedItem = $(this).text(); 
        
        if(selectedItem == 'Bill No:'){
          sortResults('bill_no');
        }
        else if (selectedItem == 'Vendor'){
          sortResults('vendor_name');
        } 
        else if (selectedItem == 'Customer'){
          sortResults('customer_name');
        }
        else{
          TableDataBind(getData());
        }
    });

    $(".dropdown-filter").click(function() { 
        var selectedItem = $(this).text(); 
        
        if(selectedItem == 'Save'){
          filterResults('Save');
        }
        else if (selectedItem == 'Draft'){
          filterResults('Draft');
        }  
        else{
          TableDataBind(getData());
        }
    });

    function sortResults(prop) { 
      var jsonObj = getData().sort(function(a, b) { 
            return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0); 
        }); 

      TableDataBind(jsonObj)
}

function getData(){
      var bills = '{{bills}}';  
      return $.parseJSON(bills.replace(new RegExp("&"+"#"+"x27;", "g"), '"'));
}

function filterResults(prop) { 
      var jsonObj = getData().filter(e => e.status == prop);
      TableDataBind(jsonObj)
}

</script>

{% endblock %}